<section>
    <div class="heading" id="heading02">ПРАКТИКА ЦЕНООБРАЗОВАНИЯ</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header">

            <!--УДК-->
            <div class="udk"><span> 69.009.1</span></div>

            <!--Заголовок-->
            <h2 id="article03">Использование ресурсно-технологического моделирования при обосновании инвестиций</h2>
            <!--Анонс-->
            <div class="announcement">
                <p>Статья раскрывает вопросы применения нормативов цены строительства (НЦС) и нормативы цены
                    конструктивных решений (НЦКР). Показаны основные положения разработки данных нормативов,
                    базирующиеся на ресурсно-технологическом моделировании. Выделены требования, позволяющие осуществить
                    разработку качественных ресурсно-технологических моделей с возможностью использования разнообразной
                    степени укрупнения и др.</p>
            </div>
            <!--Анонс-->

            <!--Авторы-->
            <div class="summary"><p><span>Журавлев П. А.,</span> ФГБОУ ВО «Национальный исследовательский Московский
                государственный строительный университет»,г. Москва</p></div>
            <div class="summary"><p><span>Сборщиков С. Б.,</span> ФГБОУ ВО «Национальный исследовательский Московский
                государственный строительный университет»,г. Москва</p></div>
            <!--Авторы-->

            <!--Ключевые слова-->
            <div class="keywords">
                <p><span>Ключевые слова:</span> норматив цены строительства, ресурсная модель, сметная стоимость,
                    ценообразование.</p>
            </div>
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Врезка-->                    <!--Врезка-->


        <!--Врезка-->                    <!--Врезка-->


        <!--Врезка-->                    <!--Врезка-->


        <!--Врезка-->                    <!--Врезка-->


        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->
        <p>Государственные капиталовложения, реализуемые в виде федеральных целевых программ и проектов, предполагают
            применение для обоснования укрупненных показателей стоимости, таких как нормативы цены строительства (НЦС) и
            нормативы цены конструктивных решений (НЦКР). Необходимость адекватного стоимостного обоснования инвестиций
            указывает на то, что НЦС и НЦКР должны отражать существующее положений как в экономике в целом, так и в
            инвестиционно-строительной сфере в частности. Это достигается использованием для их разработки и
            актуализации ресурсно-технологических моделей, основанных на реальных и объективных данных о ценовых
            характеристиках производственных факторов возведения тех или иных зданий и сооружений. Общая схема
            разработки нормативов цены строительства на основе ресурсно-технологических моделей представлены на рисунке
            1.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/9_01.jpg">
            <p>Рис. 1. Общая схема разработки нормативов цены строительства на основе ресурсно-технологических
                моделей</p>
        </div>
        <p>Ресурсно-технологическое моделирование предусматривает подбор и глубокую переработку проектно-сметной
            документации, выборку, типизацию и укрупнение объектов моделирования, формализацию начальных, промежуточных
            и выходных отчетных данных, разработку и внедрение алгоритмов организационно-технологических решений,
            разработку математических моделей и внедрение автоматизированных систем расчетов и баз данных.</p>
        <p>Объектами моделирования выступают как основные конструктивные элементы зданий и сооружений, так и
            непосредственно сам продукт инвестиционно-строительной деятельности — объект капитального строительства.</p>
        <p>Укрупненная структура объектов ресурсно-технологического моделирования представлена на рисунке 2.</p>
        <!--Картинка-->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/10_01.jpg">
            <p>Рис. 2. Структура объектов ресурсно-технологического моделирования</p>
        </div>
        <p>Семантическое структурирование объектов моделирования подразумевает необходимый набор (номенклатуру)
            строительных ресурсов, входящих в состав конструктивных элементов объекта капитального строительства,
            включающего дополнительные затраты, не относящиеся к строительным ресурсам.</p>
        <p>Как известно, строительные ресурсы состоят из трех составляющих:</p>
        <p>1) материальных строительных ресурсов;</p>
        <p>2) технических ресурсов;</p>
        <p>3) трудовых ресурсов.</p>
        <!--Картинка-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->
        <p>Материальные ресурсы, используемые в строительстве, исчисляются сотнями тысяч наименований, требуют жесткой
            регламентации их верификации, устанавливающей процедуры организации и проведения мониторинга, кодификации и
            формирования информационных источников (баз) данных. Материальные строительные ресурсы являются самым
            значимым элементом с точки зрения как величины стоимостного показателя в структуре стоимости конструктивных
            элементов и строительства в целом, так и количественного показателя в составе номенклатуры строительных
            ресурсов. В среднем объем материальных строительных ресурсов в стоимости строительства составляет до 70
            %.</p>
        <p>Технические и трудовые ресурсы имеют незначительную номенклатуру, а их доля в стоимости строительства в
            среднем не превышает 10 %.</p>
        <p>В данном контексте конструктивные элементы охватывают полную номенклатуру строительных, монтажных работ,
            работ по монтажу технологического оборудования и характеризуются, в свою очередь, расходом строительных
            ресурсов, который принимается на единицу измерения.</p>
        <p>В свою очередь, объекты капитального строительства включают установленную проектом номенклатуру
            конструктивных элементов, а также строительных ресурсов, не входящих в состав строительных, монтажных работ,
            но необходимых для их оснащения, таких как немонтируемое оборудование, мебель и инвентарь. Помимо этого,
            объекты капитального строительства включают дополнительные затраты, связанные с обязательными платежами и
            другими отчислениями, а также организацией, обеспечением, обслуживанием, управлением строительным процессом,
            соблюдением организационно-технологических условий, требуемых для осуществления строительства. Указанные
            дополнительные затраты, как правило, учитываются относительными показателями в процентах и могут быть
            типизированы и усреднены.</p>
        <p>При моделировании материальных строительных ресурсов предполагается реализация следующих положений:</p>
        <p>• формирование баз данных материалов, оборудования, мебели и инвентаря по соответствующим сборникам с
            исчерпывающей номенклатурой;</p>
        <p>• установление промежуточных кодов, наименований, единиц измерений материалов на основе сметной документации
            и имеющихся в ее составе прайс-листов и коммерческих предложений на материалы, отсутствующие в составе баз
            данных материалов;</p>
        <p>• анализ технических, технологических и эксплуатационных характеристик материальных строительных
            ресурсов;</p>
        <p>• выборка полной номенклатуры материальных строительных ресурсов из состава проектно-сметной документации и
            определение их количественных и стоимостных параметров на установленную дату моделирования;</p>
        <p>• установление критериев укрупнения по основным материальным строительным ресурсам;</p>
        <p>• укрупнение материальных строительных ресурсов (подбор ресурсов-представителей) для материалов изделий и
            конструкций, а также для инженерного оборудования;</p>
        <p>• формирование реестров прочих материальных строительных ресурсов, установление их долевого соотношения к
            основным ресурсам;</p>
        <p>• формирование спецификаций на основе типизации технологического оборудования, мебели и инвентаря;</p>
        <p>• формирование ресурсных моделей с использованием ресурсов-представителей и спецификаций по результатам
            укрупнения;</p>
        <p>• установление исчерпывающей номенклатуры выходных промежуточных и окончательных форм, сопровождающих процесс
            моделирования.</p>
        <p>Моделирование технических ресурсов включают в себя:</p>
        <p>• нормирование производственных процессов с использованием прогрессивных технологий, новых материалов, машин
            и механизмов;</p>
        <p>• разработку нормативов (норм и расценок) на эксплуатацию строительных машин и механизмов, а также на
            отсутствующие механизмы;</p>
        <p>• оптимизацию действующих нормативов (норм и расценок);</p>
        <p>• анализ технологических процессов, учитывающих условия производства работ и усложняющие факторы,
            предусматриваемые проектной документацией;</p>
        <p>• сравнительный анализ показателей производительности и стоимости эксплуатации машин и механизмов;</p>
        <p>• формирование баз данных эксплуатации машин и механизмов, включение их в соответствующий сборник с
            исчерпывающей номенклатурой;</p>
        <p>• выборка полной номенклатуры требуемых машин и механизмов из состава проектно-сметной документации;</p>
        <p>• определение мощностных и стоимостных параметров на установленную дату моделирования технических
            ресурсов;</p>
        <p>• установление критериев укрупнения по основным машинам и механизмам; </p>
        <p>• выбор основных видов (типов) машин и механизмов, обеспечивающих критерий достаточности по технологическим
            операциям;</p>
        <p>• формирование реестров прочих машин и механизмов, установление их долевого соотношения к основным
            механизмам;</p>
        <p>• формирование ресурсных моделей с использованием основных видов (типов) машин и механизмов;</p>
        <p>• установление исчерпывающей номенклатуры выходных промежуточных и окончательных форм, сопровождающих процесс
            моделирования. </p>
        <p>Моделирование трудовых ресурсов предполагает:</p>
        <p>• разработку типовых технологических карт и карт трудовых процессов на основе проектов производства работ, а
            также хронометражных наблюдений технологических операций;</p>
        <p>• разработку сводок затрат труда по установленным технологиям;</p>
        <p>• разработку технически обоснованных норм затрат труда по видам работ;</p>
        <p>• анализ производственных условий организации трудовых процессов и усложняющих факторов, предусматриваемых
            проектной документацией;</p>
        <p>• выборку затрат труда строителей, монтажников, наладчиков из проектно-сметной документации;</p>
        <p>• установление среднего разряда работ;</p>
        <p>• определение показателей трудоемкости по объектам капитального строительства и конструктивным элементам;</p>
        <p>• определение фонда оплаты труда рабочих;</p>
        <p>• установление исчерпывающей номенклатуры выходных промежуточных и окончательных форм процесса
            моделирования.</p>
        <p>Реализация указанных требований позволит осуществить разработку качественных ресурсно-технологических моделей
            с возможностью использования разнообразной степени укрупнения, с вариантами учета видов затрат в разрезе
            строительных ресурсов и конструктивных элементов с целью применения на начальных стадиях
            инвестиционно-строительного процесса, при планировании инвестиций, формировании целевых и адресных программ,
            а также при необходимости проведения сопоставительных анализов стоимости мощностных характеристик и в целом
            объектов капитального строительства.</p>
        <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->


        <!--Картинка-->                    <!--Картинка-->

        <!--Абзац-->                    <!--Абзац-->


        <!--Картинка-->                    <!--Картинка-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->
        <!--Абзац-->


        <!--Абзац-->

        <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Абзац-->                    <!--Абзац-->


        <!--Источники-->
        <div class="footnote">
            <p>Список литературы</p>
            <p>1. Журавлев П. А. Цена строительства и этапы ее формирования // Вестник Иркутского государственного
                технического университета. — 2015. — № 9 (104). — С. 174–178.</p>
            <p>2. Журавлев П. А., Клюев В. Д., Евсеев В. Г. Использование квалиметрического подхода для оценки
                конкурентоспособности инвестиционных строительных проектов // Научное обозрение. — 2014. — № 9. — 0,7 п.
                л.</p>
            <p>3. Клюев В. Д., Левченко А. В. Методический подход к созданию информационно-аналитических систем
                стоимостного мониторинга в строительстве // Научное обозрение. — 2014. — № 1. — 0,3 п. л.</p>
            <p>4. Ермолаев Е. Е. Особенности определения фиксированной стоимости строительства в рамках государственных
                программ // Вестник университета (Государственный университет управления). — 2013. — № 11. — 0,3 п.
                л.</p>
            <p>5. Ермолаев Е. Е. Управление потребительной стоимостью объектов строительства // Гуманитарные и
                социальные науки (электронный журнал). — 2013. — № 3. — 0,3 п. л.</p>
            <p>6. Сборщиков С. Б. Логистика регулирующих воздействий в инвестиционно-строительной сфере (теория,
                методология, практика): Дисс. ... д-ра экон. наук / Российская экономическая академия им. Г. В.
                Плеханова. — М., 2012.</p>
            <p>7. Алексанин А. В. Оценка экономической эффективности использования новых технологий, материалов и
                решений в проектах по энергосбережению // Вестник МГСУ. — 2009. — № 51. — С. 164.</p>
            <p>8. Жаров Я. В. Учет организационных аспектов при планировании строительного производства в энергетике //
                ПГС. — 2013. — № 5. — С. 69–71. </p>
            <p>9. Лазарева Н. В. Стоимостный инжиниринг как основа интеграции процессов планирования, финансирования и
                ценообразования в инвестиционно-строительной деятельности // Вестник МГСУ. — 2015. — № 11. — С.
                178–185.</p>
            <p>10. Шумейко Н. М. Обоснование унифицированной формы локальной сметы на проектные работы // Вестник
                гражданских инженеров. — 2015. — № 6 (53).</p>
            <p>11. Шумейко Н. М. Разработка методических рекомендаций по применению нового шаблона ЛС-П(ШН) для
                определения стоимости проектных работ // Сметно-договорная работа в строительстве — 2016. — № 1. — С.
                19–20. </p>
        </div>

    </article>


</section>
