<section>
    <div class="heading" id="heading02">События. Факты. Комментарии</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header">

            <!--УДК-->

            <!--Заголовок-->
            <h2 id="article01">События. Факты. Комментарии</h2>

            <!--Анонс-->
            <!--Анонс-->

            <!--Авторы-->                                        <!--Авторы-->

            <!--Ключевые слова-->
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Подзаголовок-->
        <h3>Заключения о достоверности сметной стоимости строительства реконструкции и капремонта зданий будут выдавать
            по новой форме</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p>Минстрой России утвердил форму заключения, которую организации, проверяющие достоверность сметной стоимости
            строительства, реконструкции, капитального ремонта зданий и сооружений, должны выдавать заявителям. Об этом
            сообщил заместитель министра строительства и жилищно-коммунального хозяйства Российской Федерации Хамит
            Мавлияров в Тамбове на расширенном совещании по вопросам совершенствования системы ценообразования в
            строительстве и совершенствования института СРО.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Замминистра пояснил, что в конце мая 2017 г. вступил в силу приказ № 655 Минстроя России, которым утверждена
            форма заключения о достоверности или недостоверности определения сметной стоимости строительства,
            реконструкции, капитального ремонта зданий и порядок оформления такого заключения.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«Проектная документация для строительства, реконструкции и проведения капремонта зданий и жилых домов,
            затрагивающего основные несущие характеристики объекта, должна получить заключение экспертизы, — напомнил
            замминистра. — Проведение проверки достоверности стоимости объектов, строительство, реконструкция и
            капремонт которых финансируются полностью или частично за счет бюджетных средств, обеспечит прозрачность
            расходования бюджетных средств».</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture">
            <img src="http://panor.ru/personal/reader/articles/199312/img/images/p_11.jpg">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p>На совещании также обсуждались вопросы применения экономически эффективной проектной документации повторного
            использования. Хамит Мавлияров напомнил, что сегодня ведомством ведется активная работа по формированию
            систематизированных сведений экономически эффективной проектной документации повторного использования. «Мы
            изменили правила отбора документации повторного использования. Теперь проектная документация повторного
            использования будет признаваться экономически эффективной при наличии положительного заключения
            государственной экспертизы и при соответствии утвержденным критериям. После получения заключения такая
            документация будет в обязательном порядке заноситься в ЕГРЗ, и следующий государственный заказчик подобного
            объекта сможет ее повторно использовать», — отметил замглавы ведомства.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Кроме того, Хамит Мавлияров рассказал участникам совещания о проводимой работе в части внедрения технологий
            информационного моделирования на всех этапах жизненного цикла объекта капстроительства. «Правительством
            России утверждена дорожная карта по внедрению технологий информационного моделирования на всех этапах
            жизненного цикла объекта капстроительства, в которой мы прописали, что необходимо сделать для того, чтобы
            создать условия для повсеместного применения технологий информационного моделирования. Реализация этого
            проекта позволит повысить эффективность капитальных вложений с учетом затрат на все этапы жизненного цикла
            объекта, — сообщил замминистра.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Специалисты Минстроя России также обратили внимание участников совещания на то, что строительным компаниям
            необходимо ускорить подачу документов для включения своих специалистов в национальные реестры специалистов в
            области строительства, архитектурно-строительного проектирования, инженерных изысканий. Если к 1 июля 2017
            г. строительные компании не обеспечат включение своих специалистов в нацреестр, они потеряют право заключать
            договоры строительного подряда.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Перед началом совещания замглавы Минстроя России посетил новую «Школу Сколково-Тамбов» на 2425 ученических
            мест.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p><strong>Справочно:</strong></p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Напомним, что в соответствии с федеральным законом от 3 июля 2016 г. «О внесении изменений в
            Градостроительный кодекс РФ» 1 июля 2017 г. строительные компании, для которых членство в саморегулируемой
            организации (СРО) является обязательным, могут осуществлять свою деятельность только при наличии в этом
            реестре не менее двух специалистов по организации строительства — главного инженера и главного архитектора
            проекта. Для попадания в реестр специалист должен соответствовать следующим критериям: иметь высшее
            образование по профессии, стаж работы на инженерных должностях не менее трех лет, общетрудовой стаж по
            профессии не менее десяти лет, повышать квалификацию не реже одного раза в пять лет.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3>Минстрой России заканчивает работу над ФГИС ЦС</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p>Началось тестирование федеральной государственной информационной системы ценообразования в строительстве
            (ФГИС ЦС), ее ввод в эксплуатацию запланирован на 30 сентября 2017 г. Запуск системы позволит обеспечить
            прозрачность ценообразования в строительстве и исключить риски завышения сметной стоимости строительства.
            Данные для системы формируются в рамках государственного задания, о выполнении которого говорится в
            опубликованном отчете Счетной палаты по результатам проверки ведомства.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/p_1.jpg">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p>Ввод в эксплуатацию ФГИС ЦС, содержащей сметные нормативы, федеральный реестр сметных нормативов, укрупненные
            нормативы цен строительства, методики определения сметных цен строительных ресурсов, классификатор
            строительных ресурсов, перечень юридических лиц, которые обязаны предоставлять информацию во ФГИС ЦС,
            запланирован на 30 сентября 2017 г.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Напомним, что по поручению президента и правительства страны Минстроем России был подготовлен законопроект,
            направленный на реформирование системы ценообразования, который принят 3 июля 2016 г. Этим законом
            предусматривается расширение полномочий органов государственной власти в области утверждения сметных норм,
            методик определения и применения сметных цен строительных ресурсов, установления порядка мониторинга цен и
            ведения федеральной государственной информационной системы ценообразования в строительстве (ФГИС ЦС).
            Мониторинг является одним из важнейших инструментов определения достоверной стоимости строительства.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Первое размещение во ФГИС ЦС сметных цен строительных ресурсов, полученных по результатам мониторинга цен
            строительных ресурсов, планируется на 15 декабря 2017 г.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Кроме того, в рамках утвержденного Минстроем России государственного задания ФАУ «ФЦЦС» на 2015 и 2016 гг.
            были предусмотрены мероприятия по актуализации и разработке дополнений в сборники государственных элементных
            сметных норм (ГЭСН) и федеральных единичных расценок (ФЕР) на разработку методических рекомендаций.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>В настоящее время Минстроем России разработаны и утверждены 12 методических рекомендаций, необходимых для
            определения сметной стоимости строительства, реконструкции и капитального ремонта объектов капитального
            строительства, актуализировано 239 сборников ГЭСН и ФЕР, 21 сборник укрупненных нормативов цены
            строительства НЦС-2017 и др.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Что касается применения индивидуальных сметных нормативов, то их разработка и применение осуществляются
            только по решению Правительства Российской Федерации. В связи с этим Минстроем России приказом от 1 апреля
            2016 г. № 202/пр индивидуальные сметные нормативы, содержащиеся в федеральном реестре сметных нормативов,
            признаны не подлежащими применению с 1 апреля 2016 г.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Замечания, указанные Счетной палатой, ранее были выявлены в результате внутреннего аудита Минстроя России и в
            настоящее время устранены. Ведомство уже взаимодействует с правоохранительным органами по деятельности
            организации в прошлые годы. Кроме того, в 2016 г. функции по вопросам формирования системы ценообразования и
            выполнению госзадания были переданы другой подведомственной организации — ФАУ «Главгосэкспертиза России»,
            которая начала активную работу в данном направлении.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«Проверки Счетной Палаты РФ являются частью плановой работы ведомства. По результатам таких проверок Минстрой
            России проводит анализ своей работы и работы подведомственных организаций и, в случае выявления нарушений,
            устраняет их и вносит коррективы в работу, — прокомментировал первый замглавы Минстроя России Леонид
            Ставицкий. — Все замечания, полученные в результате текущей проверки, будут также тщательно
            проработаны».</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3>Эксперты обсудили нормы в области пожарной безопасности и эксплуатации высотных зданий</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p>Обсуждение норм в области пожарной безопасности и эксплуатации высотных зданий состоялось в рамках заседания
            Комиссии по высотному строительству Общественного совета при Министерстве строительства и
            жилищно-коммунального хозяйства Российской Федерации. Совещание прошло при участии заместителя директора
            Департамента градостроительной деятельности и архитектуры Минстроя России Александра Степанова.</p>
        <div class="picture"><img src="img/images/p_2_01.jpg"></div>
        <!--Абзац-->

        <!--Абзац-->
        <p>В рамках обсуждения вопроса экспертным сообществом было предложено объединить требования пожарной
            безопасности и строительные нормы в единые нормы с привлечением МЧС к их разработке.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Отдельно эксперты обсудили существующие нормы, регламентирующие высоту общественных зданий в практике
            проектирования. Членами комиссии было отмечено, что в различных сводах правил фигурируют разные значения
            высот зданий, что на данный момент создает проблемы с согласованием проектов общественных сооружений.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Особое внимание на заседании экспертным сообществом было уделено вопросу привлечения практиков к разработке
            проектов сводов правил для высотного строительства.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«В вопросах высотного строительства и особенно в части эксплуатации высотных зданий наработано недостаточно
            практики. Сегодня требования к эксплуатации высотных зданий меняются довольно быстро, а, учитывая
            разнообразие представленной инфраструктуры в небоскребах, перед управляющими компаниями стоят задачи и по
            обеспечению безопасности, и корректно выстроенной логистике внутри здания, обслуживанию зоны ретейла и
            предоставлению разного рода мощностей для постоянного функционирования всех частей комплекса. И это только
            малая часть того, что должно быть учтено при создании таких нормативных документов. Поэтому к разработке
            проектов сводов правил для высотного строительства, эксплуатации таких зданий разработчикам необходимо
            привлечь практиков, в том числе из управляющих компаний. — заявил руководитель комиссии Павел Те.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>По итогам заседания принято решение направить предложения экспертов организациям-исполнителям работ по
            подготовке проектов новых сводов правил, а именно НИЦ «Строительство» и ЦНИИЭП жилища. По завершению
            обсуждений участники заседания договорились о дополнительной проработке обсуждаемых вопросов для
            последующего направления предложений в Минстрой России.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3>Адаптация рынка к новому законодательству в сфере долевого строительства продлится не более года</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p>Период перехода на новое законодательство в сфере долевого строительства продлится до середины 2018 г. Об
            этом сообщил министр строительства и жилищно-коммунального хозяйства Российской Федерации Михаил Мень на
            ежегодном форуме РБК «Недвижимость в России».</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/p_4.jpg">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p>Михаил Мень отметил, что в настоящее время Минстрой России делает акцент на качество возводимого жилья, на
            обеспечение его необходимой инфраструктурой, а также на развитие городской среды в целом. При этом на
            повестке дня остается высокий объем ввода жилья.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«Но основной задачей, которую перед нами сегодня ставит президент России, является защита прав граждан —
            участников долевого строительства», — заявил министр. Он напомнил, что Минстрой России занимается
            регулированием сферы долевого строительства. Первый пакет изменений был принят прошлым летом, и в новом
            правовом поле участники рынка работают с 1 января 2017 г. Второй этап вступает в силу с 1 июля. «Это
            требование к финансовой обеспеченности застройщиков, а именно к уставному капиталу: от 2,5 млн до 1,5 млрд
            руб. в зависимости от объема вводимых квадратных метров, которые планирует ввести застройщик», —
            прокомментировал министр.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Завершающим этапом изменений должен стать законопроект, регулирующий работу государственного компенсационного
            фонда долевого строительства. Документ находится на рассмотрении в Государственной Думе РФ.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«Изменение законодательства в три этапа потребует периода перезагрузки, вследствие которой мы прогнозируем
            небольшое падение объемов ввода жилья. По нашему мнению, в текущем году может быть сдано порядка 75 млн м2
            жилья. Два года — 2017–2018 — станут переходным периодом. А дальше, мы уверены, будет рост. Государственное
            страхование договоров долевого участия вселит в людей уверенность в долевом строительстве, и это приведет к
            резкому росту его объемов», — сообщил Михаил Мень.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>По его словам, к 2025 г. стоит задача выйти на 120 млн м2 жилья.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3>Размер взноса в фонд долевого строительствана переходный период составит 1,2 % от цены ДДУ</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p>Единый тариф для застройщиков, привлекающих в жилищное строительство средства граждан, на переходный период
            предлагается установить в размере 1,2 % от цены договора долевого участия. Об этом сообщил журналистам
            министр строительства и жилищно-коммунального хозяйства Российской Федерации Михаил Мень.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/p_3.jpg">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p>По словам министра, соответствующую позицию, подготовленную совместно с АИЖК, Минстрой России направил в
            профильный комитет Госдумы РФ по природным ресурсам, собственности и земельным отношениям.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«Тариф в 1,2 % сопоставим со средним реальным тарифом по страхованию ДДУ, который сегодня предлагают
            страховые компании», — отметил глава Минстроя России Михаил Мень. Ранее он обсудил эту позицию с
            руководителем комитета Госдумы РФ Николаем Николаевым в рамках Петербургского международного экономического
            форума — 2017.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Взнос в фонд защиты прав граждан — участников долевого строительства в размере 1,2 % предлагается установить
            на переходный период — до 1 июля 2018 г. Как ранее заявлял Михаил Мень, на адаптацию рынка к новому
            законодательству в сфере долевого строительства потребуется примерно год.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«В течение этого переходного периода Минстрой России и АИЖК совместно с депутатами Госдумы РФ и экспертным
            отраслевым сообществом разработают подходы к дифференцированным тарифам», — заявил Михаил Мень.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Возможность дифференциации отчислений застройщиков предусмотрена законопроектом, который установит правила
            регулирования деятельности фонда. В настоящее время документ находится на рассмотрении в нижней палате
            парламента. Сам фонд был создан еще в конце 2016 г. и сегодня входит в структуру АИЖК, возглавляемую
            Александром Плутником.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3>Более 20 проектов стандартов ИСО по деревянному домостроению будет рассмотрено до конца 2017 года</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p>Эксперты Технического комитета 465 «Строительство», работающего на базе подведомственного Минстрою России ФАУ
            «Федеральный центр нормирования, стандартизации и технической оценки соответствия в строительстве», примут
            участие в разработке международных стандартов деревянного домостроения в рамках Международной организации по
            стандартизации, ИСО (International Organization for Standardization, ISO) с целью их адаптации для
            применения в России.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Минстрой России и его подведомственные организации, проводят актуализацию действующих нормативных документов
            в области деревянного домостроения. Рассматривается возможность использования международной классификации
            деревянных материалов и конструкций по физико-механическим характеристикам, разрабатываются требования к
            проектированию в сейсмических районах, а также повышению огнестойкости конструкций на основе древесины.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/p_5.jpg">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p>Эксперты ТК 465 «Строительство» в рамках деятельности по международной стандартизации приняли участие в
            работе специализированного мероприятия по строительству из древесины и деревокомпозитов LIGNA в Ганновере.
            Специалисты из Германии, Австрии, Канады, России, Швеции и Испании поделились передовыми технологиями в
            области проектирования, применения деревянных конструкций при строительстве зданий и сооружений, а также
            обсудили вопросы развития международной стандартизации в данном направлении.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>В настоящее время эксперты ТК 465 принимают активное участие в голосовании по проектам стандартов ИСО.
            Рабочими группами, зеркальными ИСО/ТК 165 «Деревянные конструкции», ИСО/ТК 89 «Деревянные панели», до конца
            2017 г. будет рассмотрено более 20 проектов.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Для привлечения широкого профессионального сообщества к работе над международными стандартами в Москве на
            площадке РСПП ТК 465 организует обсуждение проблемы использования деревянных конструкций для массового
            строительства в Российской Федерации и возможности применения международных стандартов ИСО.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3>Развитие городов и крупных агломераций может стать основным драйвером развития страны в целом</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p>Участие в круглом столе «Экономика 1000 городов» стало завершающим мероприятием в деловой программе
            Петербургского международного экономического форума — 2017 для делегации Минстроя России. Темой обсуждения
            стало развитие городов как центров экономического роста.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Дискуссия прошла с участием первого вице-премьера правительства России Игоря Шувалова, председателя совета
            Фонда «Центр стратегических разработок» Алексея Кудрина, министра строительства и жилищно-коммунального
            хозяйства Российской Федерации Михаила Меня, генерального директора АИЖК Александра Плутника и международных
            экспертов в градостроительстве и благоустройстве городов.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«Технологическое лидерство и цифровая экономика должны быть обеспечены современной городской инфраструктурой.
            Это необходимый элемент цифровой революции», — заявил в своем выступлении Игорь Шувалов. По его словам,
            задача состоит не только в том, чтобы отремонтировать дороги, фасады, посадить деревья. Города еще должны
            включиться в глобальную конкуренцию. «Городская среда — необходимая часть, без которой невозможно развивать
            экономику», — подчеркнул Игорь Шувалов.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Первый вице-премьер напомнил, что год назад президент России впервые сказал, что нужно заниматься
            благоустройством городов, и АИЖК взялось за эту задачу, так как девелопмент невозможен без развития данной
            концепции.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Михаил Мень в своем выступлении отметил, что в Минстрое России разделяют идею развития страны путем развития
            крупных агломераций. Соответствующие предложения представил президенту России Алексей Кудрин.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>При этом наиболее успешными являются те города, которые используют современные технологии строительства и
            думают о городской среде, заявил глава ведомства.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«Тенденция 2016 г. показывает, что те застройщики, которые не думают о городской среде, общественном
            пространстве, стали проигрывать. Люди стали голосовать рублем против каменных джунглей. Поэтому девелоперы
            меняют бизнес-подходы», — отметил Михаил Мень.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/p_6.jpg">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p>Министр отметил, что в нынешних условиях также важно переходить на экономически эффективное современное
            проектирование. Европейские страны движутся в сторону проектирования жизненного цикла зданий с помощью
            цифровых моделей. «Мы составили план мероприятий для бюджетной сферы, но и застройщики обращают внимание на
            BIM-проектирование», — уточнил он.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Как рассказал Александр Плутник, АИЖК по поручению правительства России разрабатывает стандарты развития
            территорий. «Это не просто благоустройство территорий и формирование комфортных условий для жизни, а в
            первую очередь необходимое условие для экономического развития. Мы рассчитываем в конце года перечень
            стандартов представить на обсуждение», — добавил он.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3>Подписано первое в России коробочное кредитное решение в ЖКХ</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p>Минстрой России совместно со Сбербанком России и правительством Тульской области разработал коробочное
            кредитное решение для концессионеров. Первое соглашение было подписано в отношении реконструкции систем
            теплоснабжения и водоснабжения Ясногорска Тульской области на Санкт-Петербургском международном
            экономическом форуме. По поручению главы Минстроя России Михаила Меня в церемонии подписания документа
            принял участие замминистра Андрей Чибис.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/p_8.jpg">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p>Коробочное кредитное решение стало стандартом кредитования Сбербанка России — если концессия соответствует
            требованиям коробочного решения, банк в сжатые сроки выдает кредит сроком на 15 лет, и этот продукт доступен
            на всей территории страны для всех концессионеров в ЖКХ.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Коробочное инвестиционное решение будет использоваться регионами и инвесторами для подготовки, финансирования
            и сопровождения региональных и муниципальных проектов государственно-частного парт&shy;нерства.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«Сегодня подписано первое коробочное концессионное соглашение в истории жилищно-коммунального хозяйства и
            страны. Более того, подобных решений нет и в других отраслях, жилищно-коммунальная отрасль стала пионером.
            Уверен, что это начало новой эпохи финансирования инфраструктурных проектов и участия банковского сектора в
            модернизации ЖКХ», — прокомментировал глава Минстроя России Михаил Мень.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Андрей Чибис добавил, что коробочное решение позволит готовить более качественные проекты концессионных
            соглашений, что сделает их максимально открытыми и понятными для банков, и, соответственно, инвесторы смогут
            привлекать дополнительно финансирование на принципиально новых условиях. «Я благодарен профессиональным
            командам Сбербанка России и правительства Тульской области, в тесном сотрудничестве с коллегами мы сумели
            создать по-настоящему важный инструмент развития», — отметил замминистра.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Концессионное соглашение, заключенное между правительством Тульской области, Сбербанком России и инвестором —
            Региональной генерирующей компанией № 1, предполагает реконструкцию объектов теплоснабжения и водоснабжения
            Ясногорска, это город с населением порядка 20 тыс. человек. Это демонстрирует рост интереса инвесторов к
            проектам в и малых городах. Общий объем инвестиций, предусмотренных соглашением, составляет порядка 453 млн
            руб.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Реализация проекта существенно повысит эффективность предприятия. Так, затраты на газ снизятся в 1,4 раза, на
            электроэрергию — в 2,5 раза.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>«Привлечение инвесторов на принципах государственно-частного партнерства — действенный механизм решения
            инфраструктурных проблем региона», — прокомментировал губернатор Тульской области Алексей Дюмин.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Аналогичные решения Сбербанк уже разрабатывает для проектов по модернизации водоснабжения, водоотведения и
            переработки твердых коммунальных отходов.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right"><em>Владимир Тен, «Строительная газета»</em></p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3>Михаил Мень: Рейтинг инвестиционной привлекательности регионов России — прямой показатель эффективности их
            работы</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p>Минстрой России подвел итоги рейтинга готовности регионов к привлечению частных инвестиций за второй квартал
            2017 г. Об этом сообщил глава ведомства Михаил Мень во время общения с журналистами в рамках ПМЭФ-2017.
            Лидером рейтинга стал Ханты-Мансийский автономный округ — Югра. Второе и третье место заняли Волгоградская
            область и Санкт-Петербург.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/p_10.jpg">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p>В сравнении с рейтингом на аналогичный период прошлого года позиции многих регионов значительно изменились.
            «Ранее методика рейтинга предусматривала оценку наличия на территории региона концессионных соглашений и их
            количество. Сейчас мы оцениваем, в том числе, объем инвестиций, предусмотренный действующими концессионными
            соглашениями — то есть, плановые значения, а также фактически вложенные средства по инвестиционным
            соглашениям и энергосервисным контрактам»,- пояснил Михаил Мень.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>В прошлом году лидерами рейтинга стали Нижегородская, Вологодская области и Республика Хакасия.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Наименее привлекательными для инвесторов регионами признаны Республика Калмыкия, Магаданская область,
            Чукотский автономный округ.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Регионы, занявшие лидирующие позиции в рейтинге, достигли показателей по утверждению программ комплексного
            развития, схем теплоснабжения, водоснабжения и водоотведения на 100 %. Об инвестиционной привлекательности
            сферы ЖКХ в этих субъектах свидетельствуют реализуемые на их территории инвестиционные проекты.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Рейтинг готовности регионов к привлечению частных инвестиций в ЖКХ составляется ежеквартально, начиная с 2015
            г. В исследовании принимают участие все 85 субъектов РФ. В числе 12 основных критериев оценки
            привлекательности регионов для потенциальных инвесторов — проработка и реализация регионами решений,
            направленных на создание условий по привлечению частных инвестиций в ЖКХ. Также на результаты влияет объем
            частных инвестиций по проектам государственно-частного партнерства на конец отчетного периода, утвержденные
            инвестиционные программы регулируемых организаций, наличие конкурсов на передачу объектов в концессию и доля
            заемных средств в общем объеме капитальных вложений.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Модернизация отрасли за счет частных инвестиций — один из стратегических приоритетов развития ЖКХ, по
            инициативе ведомства разрабатываются показатели эффективности работы субъектов Российской Федерации в сфере
            привлечения частного капитала, по результатам такой оценки будут приниматься мотивационные решения в
            отношении глав регионов.</p>
        <!--Абзац-->


    </article>


</section>
