<section>
    <div class="heading" id="heading02">Документы</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="698">

            <!--УДК-->

            <!--Заголовок-->
            <h2 id="article12">ПРАВИТЕЛЬСТВО РОССИЙСКОЙ ФЕДЕРАЦИИ </h2>
            <!--Анонс-->
            <div class="announcement">
                <p>Постановление от 15 мая 2017 г. № 570</p>
                <p>Об установлении видов и объемов работ по строительству, реконструкции объектов капитального
                    строительства, которые подрядчик обязан выполнить самостоятельно без привлечения других лиц к
                    исполнению своих обязательств по государственному и (или) муниципальному контрактам, и о внесении
                    изменений в правила определения размера штрафа, начисляемого в случае ненадлежащего исполнения
                    заказчиком, поставщиком (подрядчиком, исполнителем) обязательств, предусмотренных контрактом (за
                    исключением просрочки исполнения обязательств заказчиком, поставщиком (подрядчиком, исполнителем), и
                    размера пени, начисляемой за каждый день просрочки исполнения поставщиком (подрядчиком,
                    исполнителем) обязательства, предусмотренного контрактом.</p>
            </div>
            <!--Анонс-->

            <!--Авторы-->                                        <!--Авторы-->

            <!--Ключевые слова-->
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Врезка--><!--Врезка-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="699">В соответствии с частью 2 статьи 110.2 Федерального закона «О контрактной системе в сфере
            закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд» Правительство Российской
            Федерации постановляет:</p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="700">1. Утвердить прилагаемые:</p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="701">виды работ по строительству, реконструкции объектов капитального строительства, которые
            подрядчик обязан выполнить самостоятельно без привлечения других лиц к исполнению своих обязательств по
            государственному и (или) муниципальному контрактам;</p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="702">изменения, которые вносятся в Правила определения размера штрафа, начисляемого в случае
            ненадлежащего исполнения заказчиком, поставщиком (подрядчиком, исполнителем) обязательств, предусмотренных
            контрактом (за исключением просрочки исполнения обязательств заказчиком, поставщиком (подрядчиком,
            исполнителем), и размера пени, начисляемой за каждый день просрочки исполнения поставщиком (подрядчиком,
            исполнителем) обязательства, предусмотренного контрактом, утвержденные постановлением Правительства
            Российской Федерации от 25 ноября 2013 г. № 1063 «Об утверждении Правил определения размера штрафа,
            начисляемого в случае ненадлежащего исполнения заказчиком, поставщиком (подрядчиком, исполнителем)
            обязательств, предусмотренных контрактом (за исключением просрочки исполнения обязательств заказчиком,
            поставщиком (подрядчиком, исполнителем), и размера пени, начисляемой за каждый день просрочки исполнения
            поставщиком (подрядчиком, исполнителем) обязательства, предусмотренного контрактом» (Собрание
            законодательства Российской Федерации, 2013, № 48, ст. 6266).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="703">2. Установить, что:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="704">а) возможные виды и объемы работ по строительству, реконструкции объектов капитального
            строительства из числа видов работ, утвержденных настоящим постановлением, которые подрядчик обязан
            выполнить самостоятельно без привлечения других лиц к исполнению своих обязательств по государственному и
            (или) муниципальному контрактам, подлежат включению заказчиком в документацию о закупке;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="705">б) конкретные виды и объемы работ из числа видов и объемов работ, преду&shy;смотренных
            подпунктом «а» настоящего пункта, определенные по предложению подрядчика, включаются в государственный и
            (или) муниципальный контракт и исходя из сметной стоимости этих работ, предусмотренной проектной
            документацией, в совокупном стоимостном выражении должны составлять:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="706">не менее 15 % цены государственного и (или) муниципального контракта — со дня вступления в силу
            настоящего постановления и до 1 июля 2018 г.;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="707">не менее 25 % цены государственного и (или) муниципального контракта — с 1 июля 2018 г.;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="708">в) порядок определения размера штрафа, начисляемого за ненадлежащее исполнение подрядчиком
            обязательств по выполнению видов и объемов работ по строительству, реконструкции объекта капитального
            строительства, которые он обязан выполнить самостоятельно без привлечения других лиц к исполнению своих
            обязательств по государственному и (или) муниципальному контрактам, устанавливается Правилами определения
            размера штрафа, начисляемого в случае ненадлежащего исполнения заказчиком, поставщиком (подрядчиком,
            исполнителем) обязательств, предусмотренных контрактом (за исключением просрочки исполнения обязательств
            заказчиком, поставщиком (подрядчиком, исполнителем), и размера пени, начисляемой за каждый день просрочки
            исполнения поставщиком (подрядчиком, исполнителем) обязательства, предусмотренного контрактом, утвержденными
            постановлением Правительства Российской Федерации от 25 ноября 2013 г. № 1063 «Об утверждении Правил
            определения размера штрафа, начисляемого в случае ненадлежащего исполнения заказчиком, поставщиком
            (подрядчиком, исполнителем) обязательств, предусмотренных контрактом (за исключением просрочки исполнения
            обязательств заказчиком, поставщиком (подрядчиком, исполнителем), и размера пени, начисляемой за каждый день
            просрочки исполнения поставщиком (подрядчиком, исполнителем) обязательства, предусмотренного
            контрактом».</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="709">3. Настоящее постановление не распространяется на отношения, связанные с осуществлением закупок
            товаров, работ, услуг для обеспечения государственных и муниципальных нужд, извещения об осуществлении
            которых размещены в единой информационной системе в сфере закупок либо приглашения принять участие в которых
            направлены до дня вступления в силу настоящего постановления, а также на контракты, заключенные до дня
            вступления в силу настоящего постановления.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="710">Председатель Правительства</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="711">Российской Федерации</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="712">Д. МЕДВЕДЕВ</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="713">Утверждены</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="714">постановлением Правительства</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="715">Российской Федерации</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="716">от 15 мая 2017 г. № 570</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-center" data-id="717"><strong>Виды</strong></p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-center" data-id="718"><strong>работ по строительству, реконструкции объектов капитального
            строительства, которые подрядчик обязан выполнить самостоятельно без привлечения других лицк исполнению
            своих обязательств по государственному&nbsp;и (или) муниципальному контрактам</strong></p>
        <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->
        <p data-id="719">1. Подготовительные работы</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="720">2. Земляные работы</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="721">3. Инженерная подготовка территории</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="722">4. Инженерная защита территории</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="723">5. Свайные работы</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="724">6. Устройство фундаментов и оснований</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="725">7. Возведение несущих конструкций</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="726">8. Возведение наружных ограждающих конструкций</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="727">9. Устройство кровли</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="728">10. Фасадные работы</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="729">11. Внутренние отделочные работы</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="730">12. Устройство внутренних санитарно-технических систем</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="731">13. Устройство внутренних электротехнических систем</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="732">14. Устройство внутренних трубопроводных систем</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="733">15. Устройство внутренних слаботочных систем</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="734">16. Установка подъемно-транспортного оборудования</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="735">17. Монтаж технологического оборудования</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="736">18. Пусконаладочные работы</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="737">19. Устройство наружных электрических сетей и линий связи</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="738">20. Устройство наружных сетей канализации</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="739">21. Устройство наружных сетей водоснабжения</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="740">22. Устройство наружных сетей теплоснабжения</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="741">23. Устройство наружных сетей газоснабжения</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="742">24. Устройство дорожной одежды автомобильных дорог</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="743">25. Работы по обустройству автомобильной дороги</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="744">26. Устройство верхнего строения железнодорожного пути</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="745">27. Устройство трубопроводов</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="746">28. Устройство переходов сетей и трубопроводов через естественные и искусственные
            препятствия</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="747">29. Устройство туннелей</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="748">30. Устройство штолен</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="749">31. Устройство искусственных сооружений</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="750">32. Дноуглубительные и водолазные работы</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="751">33. Гидротехнические работы</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="752">34. Благоустройство</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="753">Утверждены</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="754">постановлением Правительства</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="755">Российской Федерации</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="756">от 15 мая 2017 г. № 570</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-center" data-id="757"><strong>Изменения,</strong></p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-center" data-id="758"><strong>которые вносятся в правила определения размера штрафа, начисляемого
            в случае ненадлежащего исполнения заказчиком, поставщиком (подрядчиком, исполнителем) обязательств,
            предусмотренных контрактом(за исключением просрочки исполнения обязательств заказчиком, поставщиком
            (подрядчиком, исполнителем), и размера пени, начисляемой за каждый день просрочки исполнения поставщиком
            (подрядчиком, исполнителем) обязательства, предусмотренного контрактом</strong></p>
        <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->
        <p data-id="759">1. Пункт 4 после слов «в следующем порядке» дополнить словами «(за исключением случаев,
            предусмотренных пунктом 4(1) настоящих Правил)».</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="760">2. Дополнить пунктом 4(1) следующего содержания:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="761">«4(1). За ненадлежащее исполнение подрядчиком обязательств по выполнению видов и объемов работ
            по строительству, реконструкции объектов капитального строительства, которые он обязан выполнить
            самостоятельно без привлечения других лиц к исполнению своих обязательств по контракту, размер штрафа
            устанавливается в размере 5 процентов стоимости указанных работ.».</p>
        <div class="incut" data-id="762">
            <h3>СОБЫТИЯ. ФАКТЫ. КОММЕНТАРИИ</h3>
            <p class="text-center"><strong>Требования к банкам по формированию спецсчетов на капремонтбудут
                повышены</strong></p>
            <p>Минстрой России разработал постановление, согласно которому к банкам при открытии специального счета для
                формирования фона капитального ремонта будут применяться те же требования, что и к отбору российских
                кредитных организаций для открытия счетов региональным оператором. Об этом сообщил министр строительства
                и жилищно-коммунального хозяйства Российской Федерации Михаил Мень на ПМЭФ-2017.</p>
            <p>Изменения, предусмотренные проектом постановления, позволят минимизировать риски отзыва лицензии у банка,
                где размещены средства фонда капитального ремонта, формируемого на специальном счете, и позволят
                обеспечить сохранность средств.</p>
            <p>После того как документ пройдет общественные обсуждения и будет согласован, в конкурсе на размещение
                средств фонда капремонта собственников, выбравших для накопления спецсчет, смогут принимать участие
                российские кредитные организации, в том числе входящие в одну банковскую группу или один банковский
                холдинг, с размером собственных средств (капитала) не менее 250 млрд руб. и имеющие кредитный рейтинг не
                ниже уровня «А+ (RU) по национальной рейтинговой шкале Аналитического кредитного рейтингового агентства
                (АКРА). Ввиду того что требования к банкам будут повышены, лимит на объем размещенных средств будет
                снят.</p>
            <p>На сегодняшний день в стране открыто 76 012 спецсчетов.</p>
        </div>
        <!--Абзац-->


    </article>


</section>
