<section>
    <div class="heading" id="heading02">Документы</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="763">

            <!--УДК-->

            <!--Заголовок-->
            <h2 id="article13">МИНИСТЕРСТВО СТРОИТЕЛЬСТВА И ЖИЛИЩНО-КОММУНАЛЬНОГО ХОЗЯЙСТВА РОССИЙСКОЙ ФЕДЕРАЦИИ. Письмо
                от 25 мая 2017 г. № 18331-ММ/02</h2>

            <!--Анонс-->
            <!--Анонс-->

            <!--Авторы-->                                        <!--Авторы-->

            <!--Ключевые слова-->
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Абзац-->
        <p data-id="764">Частью 6 статьи 55.5 Градостроительного кодекса Российской Федерации (в редакции Федерального
            закона от 3 июля 2016 г. № 372-ФЗ) с 1 июля 2017 г. вводится обязательность наличия у индивидуальных
            предпринимателей и юридических лиц, являющихся членами саморегулируемых организаций в области инженерных
            изысканий, архитектурно-строительного проектирования, строительства, реконструкции, капитального ремонта
            объектов капитального строительства специалистов по организации инженерных изысканий, специалистов по
            организации архитектурно-строительного проектирования, специалистов по организации строительства, сведения о
            которых включены соответственно в национальный реестр специалистов в области инженерных изысканий и
            архитектурно-строительного проектирования или в национальный реестр специалистов в области
            строительства.</p>
        <!--Абзац-->


        <!--Абзац-->
        <p data-id="765">В целях доведения указанной информации до заинтересованных лиц прошу разместить на
            информационном портале соответствующего государственного органа исполнительной власти субъекта Российской
            Федерации, осуществляющего полномочия в сфере строительства, информационную справку, подготовленную
            Министерством строительства и жилищно-коммунального хозяйства Российской Федерации (прилагается).</p>
        <!--Абзац-->

        <!--Врезка--><!--Врезка-->

        <!--Абзац-->
        <p class="text-right" data-id="766">М. А. МЕНЬ</p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p class="text-right" data-id="767">Приложение</p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p class="text-center" data-id="768"><strong>Информационная справка</strong></p>
        <p class="text-center" data-id="769"><strong>о введении института национальных реестров специалистов&nbsp;в
            строительстве</strong></p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="770">В рамках проводимой реформы института саморегулирования в строительстве с 1 июля 2017 года
            вводятся национальный реестр специалистов в области инженерных изысканий и архитектурно-строительного
            проектирования и национальный реестр специалистов в области строительства (далее — национальный реестр
            специалистов), в которых будут содержаться сведения о высококвалифицированных специалистах. Их должностные
            обязанности строго регламентированы Градостроительным кодексом Российской Федерации (далее — Кодекс) и не
            могут выполняться иными работниками.</p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="771">Каждый член саморегулируемой организации в области инженерных изысканий,
            архитектурно-строительного проектирования, строительства, реконструкции, капитального ремонта объектов
            капитального строительства с 1 июля 2017 г. должен иметь в штате по основному месту работы специалистов по
            организации инженерных изысканий, специалистов по организации архитектурно-строительного проектирования,
            специалистов по организации строительства, сведения о которых включены в соответствующий национальный реестр
            специалистов. При этом в случае, если индивидуальный предприниматель или руководитель юридического лица
            самостоятельно организует выполнение инженерных изысканий, подготовку проектной документации, строительство,
            реконструкцию, капитальный ремонт объектов капитального строительства, сведения о нем также должны
            содержаться в национальном реестре специалистов.</p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="772">Кроме того, к членам саморегулируемых организаций, выполняющих работы на особо опасных,
            технически сложных и уникальных объектах, постановлением Правительства Российской Федерации от 11 мая 2017
            г. № 559 установлены повышенные требования к минимальному количеству специалистов, сведения о которых
            включены в национальный реестр специалистов.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="773">Ведение национального реестра специалистов в области инженерных изысканий и
            архитектурно-строительного проектирования осуществляется Национальным объединением изыскателей и
            проектировщиков (адрес: 119019, г. Москва, ул. Новый Арбат, д. 21, эт. 11 и 18, тел. +7 (495) 984-21-34,
            e-mail: info@nopriz.ru, официальный сайт: www.nopriz.ru), а ведение национального реестра специалистов в
            области строительства осуществляется Ассоциацией «Национальное объединение строителей» (адрес: 123242, г.
            Москва, ул. Малая Грузинская, д. 3, телефон горячей линии +7 (495) 987-31-48, e-mail: nrs@nostroy.ru,
            официальный сайт: www.nostroy.ru).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="774">Для включения сведений о физическом лице в национальный реестр специалистов такое лицо должно
            обратиться с заявлением в соответствующее национальное объединение саморегулируемых организаций, которое
            должно содержать следующие сведения:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="775">а) фамилия, имя, отчество (последнее — при наличии) физического лица;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="776">б) адрес места жительства (регистрации) физического лица;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="777">в) вид осуществляемых физическим лицом работ (организация выполнения работ по инженерным
            изысканиям, по подготовке проектной документации, по строительству, реконструкции, капитальному ремонту
            объектов капитального строительства);</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="778">г) сведения об отсутствии у заявителя непогашенной или неснятой судимости за совершение
            умышленного преступления;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="779">д) перечень прилагаемых к заявлению документов с указанием количества листов и экземпляров.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="780">К заявлению должны быть приложены документы и материалы, подтверждающие соответствие
            физического лица установленным частью 6 статьи 55.5-1 Кодекса требованиям:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="781">1) наличие высшего образования по профессии, специальности или направлению подготовки в области
            строительства;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="782">2) наличие стажа работы соответственно в организациях, выполняющих инженерные изыскания,
            осуществляющих подготовку проектной документации, строительство, реконструкцию, капитальный ремонт объектов
            капитального строительства на инженерных должностях не менее чем три года;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="783">3) наличие общего трудового стажа по профессии, специальности или направлению подготовки в
            области строительства не менее чем десять лет;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="784">4) повышение квалификации специалиста по направлению подготовки в области строительства не реже
            одного раза в пять лет;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="785">5) наличие разрешения на работу (для иностранных граждан).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="786">Заявления и прилагаемые к нему документы и материалы могут быть поданы одним из следующих
            способов:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="787">— лично или через официального представителя в соответствующее национальное объединение
            саморегулируемых организаций или в один из авторизованных им операторов (перечни таких операторов размещены
            на официальных сайтах национальных объединений саморегулируемых организаций);</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="788">— путем направления по почте в адрес соответствующего национального объединения
            саморегулируемых организаций.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="789">Перечень направлений подготовки, специальностей в области строительства, получение высшего
            образования по которым необходимо для специалистов по организации инженерных изысканий, специалистов по
            организации архитектурно-строительного проектирования, специалистов по организации строительства, утвержден
            приказом Минстроя России от 6 апреля 2017 г. № 688.</p>
        <div class="incut" data-id="790">
            <h3>СОБЫТИЯ. ФАКТЫ. КОММЕНТАРИИ</h3>
            <p class="text-center"><strong>Экспертное сообщество обсудило возможность создания реестра инновационных
                строительных материалов и технологий</strong></p>
            <p>В Минстрое России состоялось заседание Комиссии по вопросам индустрии строительных материалов и
                технологий. Мероприятие состоялось при участии заместителя директора Департамента градостроительной
                деятельности и архитектуры Минстроя России Ольги Дашковой.</p>
            <p>На заседании в числе текущих тем обсуждался вопрос практики формирования, применения и использования
                реестра инновационных строительных материалов и технологий.</p>
            <p>На сегодняшний день отсутствует система оценки отнесения продукции к инновационной, система оценки
                жизненного цикла, которые непосредственно связаны с системой ценообразования. Эксперты пришли к выводу,
                что в целях дальнейшего совершенствования технического регулирования необходимо рассмотреть
                целесообразность выделения и последующей классификации обобщающих критериев. Их применение при
                ценообразовании, при выборе материалов и изделий на стадии проектирования и с учетом последующих этапов
                жизненного цикла позволит связать в единую системную матрицу все элементы нормирования и технического
                регулирования.</p>
            <p>Экспертное сообщество решило подготовить проект обращения в Минстрой России с просьбой о проработке
                данного вопроса.</p>
            <p>В том числе на заседании обсуждалась тема инновационных профилированных листов для сталебетонных
                перекрытий.</p>
            <p>Одной из проблем внедрения инновации в строительстве является отсутствие института нотификации,
                обеспечивающего доверие к органам по сертификации и выполняющего задачи оценки соответствия в
                строительном комплексе России.</p>
            <p>По итогам заседания комиссии эксперты предложили Минстрою России совместно с Росаккредитацией разработать
                программу действий в области создания системы нотифицированных органов в строительном комплексе России,
                наделенных ответственностью и полномочиями по оценке соответствия прогрессивных технических решений.</p>
        </div>
        <!--Абзац-->


    </article>


</section>
