<section>
    <div class="heading" id="heading02">Финансирование строительства</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="264">

            <!--УДК-->
            <div class="udk"><span> 69.003.13</span></div>

            <!--Заголовок-->
            <h2 id="article04">Финансовый контроль и аудит в рамках проектов, реализуемых с привлечением кредитных
                средств</h2>

            <!--Анонс-->
            <div class="announcement"><p>В статье проанализированы методы проведения финансового аудита в рамках
                строительного контроля проектов, реализуемых с привлечением кредитных средств, в современных условиях.
                Рассмотрены соотношение различных процедур строительного контроля, проведение финансового контроля и
                организационно-технические факторы, влияющие на инвестиционно-строительные проекты.</p></div>
            <!--Анонс-->

            <!--Авторы-->
            <div class="summary"><p><span>Лукманова И. Г.,</span> НИУ МГСУ</p></div>
            <div class="summary"><p><span>Андриенко А. О.,</span> НИУ МГСУ</p></div>
            <!--Авторы-->

            <!--Ключевые слова-->
            <div class="keywords"><p><span>Ключевые слова:</span> строительный контроль, аудит, факторы, кредит,
                инвестиции.</p></div>
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Врезка-->                    <!--Врезка-->


        <!--Врезка-->                    <!--Врезка-->


        <!--Врезка-->                    <!--Врезка-->


        <!--Врезка-->                    <!--Врезка-->


        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="265">Обеспечение эффективности и надежности осуществления кредитных операций требует от
            коммерческого банка организации постоянного мониторинга всех стадий реализации кредитного процесса.
            Проведение мониторинга кредита начинается сразу после предоставления займа клиенту (получения им ссуды).
            Основная цель, которую ставит банк при осуществлении контроля за ходом кредитных операций, заключается в
            налаживании эффективной организации кредитного процесса и поиска совершенных механизмов кредитования
            [1].</p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="266">Строительный аудит — это независимая комплексная экспертиза инженерно-технической и
            финансово-экономической составляющих строительства. Строительный аудит объекта осуществляет целостное
            системное исследование стоимости объекта и анализирует параметры ценообразования на всех стадиях
            осуществления строительных работ. При проведении аудита анализируются параметры ценообразования и
            формирования стоимости объекта на каждой стадии монтажно-строительных, отделочных и ремонтных работ.
            Техническая сторона включает проверку качества и объемов выполненных работ, экспертизу проектной
            документации и контроль за соблюдением действующего законодательства, а финансовая сторона позволяет
            сопоставить выполненные строительно-монтажные работы с проектно-сметной документацией и бюджетом проекта
            [2].</p>
        <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->
        <p data-id="267">При оформлении кредита банк проверяет наличие у предприятия собственных оборотных средств и
            знакомится с важнейшими показателями хозяйственной деятельности. Выдавая ссуду, банк проверяет ее
            обеспечение, т. е. наличие у предприятия товарно-материальных ценностей, под которые она получается.
            Проверка осуществляется по данным бухгалтерского учета, отчетным балансам хозяйственных органов, а также в
            натуре, на месте, с проверкой условий хранения кредитуемых ценностей. Она не прекращается на протяжении
            всего срока пользования кредитом. Обеспечение кредита позволяет контролировать также целевое использование
            заемных средств [3].</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="268">Кредитный контроль является неотъемлемой системой любого банка. Кредитование в коммерческих
            банках не регулируется государством, а ответственность банковские учреждения несут только перед клиентами.
            Цель кредитного контроля — определить «безопасный» объем ссуды, а также подобрать оптимальную процентную
            ставку. Кредитный контроль — это система действий, которая используется кредитной организацией для
            обеспечения возврата непогашенных ссуд и займов. Данная система подразумевает кредитную политику,
            направленную на защиту банка от мошенников или нарушителей [4].</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="269">Для обеспечения нормального обращения денежной массы коммерческим банкам необходимо постоянно
            контролировать передвижение финансов. После того как субъектом будет получена ссуда или заем, банк начинает
            мониторинг состояния кредитных средств. Данная функция помогает не только обеспечить надлежащее проведение
            кредитной операции, но и выбрать безопасный метод кредитования.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="270">Во время кредитной операции банк должен проверять любую активность на счетах у клиентов, но
            особое внимание стоит обратить на рисунок 2.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture" data-id="271">
            <img src="http://panor.ru/personal/reader/articles/199312/img/images/1_02.jpg">
            <p>Рис. 1. Логическая схема кредитования юридических лиц</p></div>
        <!--Картинка-->


        <!--Картинка-->
        <div class="picture" data-id="272">
            <img src="http://panor.ru/personal/reader/articles/199312/img/images/2_02.jpg">
            <p>Рис. 2. Элементы кредитного контроля</p></div>
        <!--Картинка-->

        <!--Абзац-->
        <p data-id="273">В случае неполного выполнения кредитных условий должник должен возместить кредитной организации
            все убытки, которые она понесла, а также выплатить пенни, штрафы и другие неустойки.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="274">Благодаря данной функции коммерческие банки имеют:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="275">• Гарантии, что деньги будут возвращены в срок.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="276">• Прибыль, которую приносят банковские вложения.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="277">• Сравнительно безопасное проведение операций относительно кредитов, ссуд и займов.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="278">Только строгий контроль за кредитным процессом в целом позволяет обеспечить безопасность,
            надежность и прибыльность кредитных операций коммерческих банков. Отсюда вытекают два правила, которые
            являются важными для успешной кредитной деятельности любого банка:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="279">1) каждый банк должен иметь свою систему мониторинга кредитных операций;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="280">2) кредитный контроль должны осуществлять наиболее квалифицированные и опытные сотрудники
            банка.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="281">Как в экономическом, так и в юридическом аспекте на первое место в коммерческих банках выходит
            задача обеспечения внутреннего контроля за соблюдением банковских инструкций и положений о проведении
            кредитных операций [5].</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="282">Основным элементом строительного аудита является финансовый надзор за реализацией проекта.
            Целью финансового аудита является определение достаточности средств для строительства, а также прогнозной
            эффективности проекта. При проведении финансового аудита во время реализации проекта следует отслеживать
            соответствие затрат аналогичным затратам у других застройщиков. Финансовый аудит зачастую называют
            строительным аудитом (рис. 3).</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture" data-id="283">
            <img src="http://panor.ru/personal/reader/articles/199312/img/images/3_01.jpg">
            <p>Рис. 3. Соотношение различных процедур строительного контроля</p></div>
        <!--Картинка-->

        <!--Абзац-->
        <p data-id="284">Принимая во внимание тот факт, что строительные работы включают в себя сооружение относительно
            небольшого числа единиц, для строительства и продажи которых требуется много времени, и, поскольку
            строительство может затянуться, а расходы на его осуществление возрасти, банк должен обратить особое
            внимание на затраты, цены продажи и ожидаемую прибыль от предполагаемых проектов [6]. Банк может согласиться
            предоставить кредит только в том случае, если он считает, что строительство окажется прибыльным, поскольку
            строитель будет выплачивать проценты по ссуде за счет прибыли, которая нужна также и для развития
            производства. В общем виде процедура проведения финансового аудита представлена на рисунке 4.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture" data-id="285">
            <img src="http://panor.ru/personal/reader/articles/199312/img/images/4_01.jpg">
            <p>Рис. 4. Процедура проведения финансового аудита</p></div>
        <!--Картинка-->

        <!--Абзац-->
        <p data-id="286">Во-первых, производится анализ освоения денежных средств при реализации проекта. Для этого
            приводится структура финансирования проекта в разрезе следующих групп: собственные средства инициаторов
            проекта; кредитные ресурсы, выделенные банком; иные источники финансирования (с обязательной детализацией
            этих источников).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="287">За отчетный период проводится также анализ освоения заемных денежных средств, стоимости работ,
            выполненных подрядчиком и оплаченных им, на основании договоров и контрактов, платежных документов, актов
            выполненных работ. Проводится анализ стоимости приобретаемого оборудования, его характеристик и преимуществ
            на основании договоров и контрактов, платежных документов, актов выполненных работ [7, 10, 12].</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="288">Проводится анализ соответствия согласованных в рамках первого отчета и фактических графиков
            строительства и финансирования проекта в разрезе источников финансирования (собственные и заемные средства).
            Анализируются причины отклонений, а также объемы дальнейшего финансирования.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="289">Далее необходимо проведение стоимостной экспертизы проектно-сметной документации на предмет
            соответствия среднерыночным показателям цен на используемые материалы и конструкции, используемые при
            строительстве [8, 11].</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="290">Следующим важнейшим этапом является мониторинг целевого использования кредитных средств, в ходе
            которого производится проверка соответствия платежей целевому назначению кредита на основании информации из
            представленных заказчиком и подрядчиками договоров и контрактов, платежных документов, актов выполненных
            работ по прилагаемой форме, ежемесячных сверок между заказчиком и подрядчиками [9].</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="291">Результатом анализа являются организационно-технические факторы, негативно/позитивно влияющие
            на ход реализации проекта. Необходим анализ финансовых факторов, которые, по мнению аудитора,
            негативно/позитивно влияют на ход реализации проекта (в т. ч. размеры штрафных санкций, примененные к
            генподрядчику за срыв договорных сроков, удорожание проекта с указанием его причин и источников
            финансирования/покрытия). Итогом аудита являются предложения и рекомендации по оптимизации хода реализации
            проекта с целью минимизации негативного влияния организационно-технических и финансовых факторов.</p>
        <div class="incut" data-id="292">
            <h3>СОБЫТИЯ. ФАКТЫ. КОММЕНТАРИИ</h3>
            <p class="text-center"><strong>Михаил Мень открыл Международную конференцию «Развитие института строительной
                экспертизы»</strong></p>
            <p>Глава Минстроя России Михаил Мень 26 мая открыл Международную конференцию «Развитие института
                строительной экспертизы» в Москве. В работе конференции приняли участие представители организаций
                государственной экспертизы России, Белоруссии, Казахстана, Армении и Киргизии.</p>
            <p>Открывая мероприятие, министр отметил, что работа строительной экспертизы — один из главных
                государственных ресурсов, направленных на создание благоприятных условий для жизни граждан и обеспечения
                их безопасности. Вклад экспертов в формирование современного, высокотехнологичного строительного
                комплекса, отличительными чертами которого являются безопасность и надежность, чрезвычайно важен.
                «Сегодня, когда поставлена задача эффективно использовать государственные средства, деятельность
                экспертизы приобретает особую — материальную — ценность, которая выражается в миллиардах рублей
                сэкономленных бюджетных средств», — подчеркнул Михаил Мень.</p>
            <p>Глава Минстроя России напомнил, что главгосэкспертиза России активно взаимодействует с коллегами из
                Белоруссии, Казахстана, Армении и Киргизии. В частности, реализуются общие (трансграничные) проекты:
                строительство высокоскоростной магистрали, которая пройдет через Россию, Казахстан и Китай, проект
                Белоруссии и России по строительству АЭС в Гродненской области, автодорожный транспортный коридор
                «Север-Юг», который пройдет через территорию Армении соединит Центральную Азию и Индию с Россией и
                Европой, а также многие другие проекты.</p>
            <p>В рамках конференции Михаил Мень также сообщил, что близится к завершению работа по принятию важнейшего
                документа — Технического регламента Евразийского экономического союза «О безопасности зданий и
                сооружений, строительных материалов и изделий». «Регламент разрабатывался несколько лет, но теперь мы
                наконец вышли на финишную прямую: документ проработан всеми странами — участниками ЕАЭС, найдено
                взаимопонимание практически по всем вопросам. Мы рассчитываем, что вскоре этот документ будет подписан»,
                — подчеркнул Михаил Мень.</p>
            <p>Руководитель главгосэкспертизы России Игорь Манылов отметил, что необходимо продолжить обмен опытом в
                части устройства самих систем государственной экспертизы и непосредственно деятельности экспертов.</p>
            <p>«Важно продолжить формирование межрегиональной повестки в системе строительной экспертизы, а также
                усилить взаимодействие при реализации совместных проектов. В итоге это даст новый импульс развитию
                института экспертизы и значительно обогатит практику работы экспертов», — отметил Игорь Манылов.</p>
        </div>
        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->

        <!--Абзац-->        <!--Абзац-->


        <!--Источники-->
        <div class="footnote" data-id="293">
            <small><p>Список литературы</p>

                <p>1. Канхва В. С. Строительный аудит при кредитовании инвестиционно-строительных проектов // Экономика
                    и предпринимательство. — 2016. — № 11-4 (76-4). — С. 1040–1043.</p>
                <p>2. Ларионов А. Н., Клюева Т. Г. Экологичность и экономическая эффективность как факторы
                    инвестиционной привлекательности жилищного строительства // Недвижимость: экономика, управление. —
                    2011. — № 1. — С. 14–17.</p>
                <p>3. Гумба Х. М., Уварова С. С., Беляева С. В., Мышовская Л. П., Власенко В. А. Стратегия развития
                    инновационной деятельности предприятий строительной отрасли в условиях организационно-экономических
                    изменений. — Воронеж, 2016.</p>
                <p>4. Уварова С. С., Беляева С. В., Канхва В. С. Устойчивость оценок эффективности жилищного
                    строительства в условиях экономического кризиса // Вестник университета (Государственный университет
                    управления). — 2009. — № 16. — С. 240.</p>
                <p>5. Ефремян Б. Л., Канхва В. С. Операционный механизм системы управления рисками на предприятиях
                    строительной отрасли // Экономика и предпринимательство. — 2015. — № 5-1 (58-1). — С. 405–408.</p>
                <p>6. Уварова С. С. Императивы обеспечения устойчивости инвестиционно-строительного комплекса / С. В.
                    Беляева, В. С. Канхва, Л. В. Кочетова, С. С. Уварова // Экономика и предпринимательство. — 2016. — №
                    5 (70). — С. 453–456.</p>
                <p>7. Мишланова М. Ю. Средообразующие факторы в деятельности строительных организаций // Приволжский
                    научный журнал. — 2012. — № 3. — С. 203–209.</p>
                <p>8. Лукманова И. Г., Мишланова М. Ю. Государственно-частное партнерство как механизм минимизации
                    инфраструктурных разрывов // Научное обозрение. — 2015. — № 2. — С. 270–275.</p>
                <p>9. Лукманова И. Г., Нежникова Е. В., Аксенова А. А. Создание системы менеджмента качества, охраны
                    здоровья, безопасности и экологии в строительной отрасли // Библиотека научных разработок и проектов
                    НИУ МГСУ. — М., 2014.</p>
                <p>10. Романова А. И., Боровских О. Н., Монетова Е. М. Стимулирование внебюджетных инвестиций в
                    региональный жилищно-коммунальный комплекс // Вестник ИНЖЭКОНа. Серия: Экономика. — 2010. — № 5. —
                    С. 81–85.</p>
                <p>11. Романова А. И. Инвестиционное стимулирование рынка строительных услуг // Известия Казанского
                    государственного архитектурно-строительного университета. — 2010. — № 2 (14). — С. 339–344.</p>
                <p>12. Силка Д. Н., Ермолаев Е. Е., Дуров Р. А., Копельчук С. Ю. Инжиниринг инвестиционно-строительных
                    проектов промышленного назначения. — М., 2014.</p>
            </small>
        </div>

    </article>


</section>
