<section>
    <div class="heading" id="heading02">Документы</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="647">

            <!--УДК-->

            <!--Заголовок-->
            <h2 id="article11">ПРАВИТЕЛЬСТВО РОССИЙСКОЙ ФЕДЕРАЦИИ</h2>
            <!--Анонс-->
            <div class="announcement">
                <p>Постановление от 25 ноября 2013 г. № 1063</p>
                <p>Об утверждении правил определения размера штрафа, начисляемого в случае ненадлежащего исполнения
                    заказчиком, поставщиком (подрядчиком, исполнителем) обязательств, предусмотренных контрактом (за
                    исключением просрочки исполнения обязательств заказчиком, поставщиком (подрядчиком, исполнителем), и
                    размера пени, начисляемой за каждый день просрочки исполнения поставщиком (подрядчиком,
                    исполнителем) обязательства, предусмотренного контрактом.</p>
            </div>
            <!--Анонс-->

            <!--Авторы-->                                        <!--Авторы-->

            <!--Ключевые слова-->
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Абзац-->
        <p data-id="648"><strong>Список изменяющих документов</strong></p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="649"><strong>(в ред. Постановления Правительства РФ от 15.05.2017 № 570)</strong></p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="650">В соответствии со статьей 34 Федерального закона «О контрактной системе в сфере закупок
            товаров, работ, услуг для обеспечения государственных и муниципальных нужд» Правительство Российской
            Федерации постановляет:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="651">1. Утвердить прилагаемые Правила определения размера штрафа, начисляемого в случае
            ненадлежащего исполнения заказчиком, поставщиком (подрядчиком, исполнителем) обязательств, предусмотренных
            контрактом (за исключением просрочки исполнения обязательств заказчиком, поставщиком (подрядчиком,
            исполнителем), и размера пени, начисляемой за каждый день просрочки исполнения поставщиком (подрядчиком,
            исполнителем) обязательства, предусмотренного контрактом.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="652">2. Настоящее постановление вступает в силу с 1 января 2014 г.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="653">Председатель Правительства</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="654">Российской Федерации</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="655">Д. МЕДВЕДЕВ</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="656">Утверждены</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="657">постановлением Правительства</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="658">Российской Федерации</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-right" data-id="659">от 25 ноября 2013 г. № 1063</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-center" data-id="660"><strong>Правила</strong></p>
        <p class="text-center" data-id="661"><strong>определения размера штрафа, начисляемого&nbsp;в случае
            ненадлежащего исполнения заказчиком,&nbsp;поставщиком (подрядчиком, исполнителем) обязательств,&nbsp;предусмотренных
            контрактом (за исключением просрочки&nbsp;исполнения обязательств заказчиком, поставщиком&nbsp;(подрядчиком,
            исполнителем), и размера пени, начисляемой&nbsp;за каждый день просрочки исполнения поставщиком&nbsp;(подрядчиком,
            исполнителем) обязательства,&nbsp;предусмотренного контрактом</strong></p>
        <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->                                                <!--Абзац-->

        <!--Абзац-->
        <p data-id="662">Список изменяющих документов</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="663">(в ред. Постановления Правительства РФ от 15.05.2017 № 570)</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="664">1. Настоящие Правила устанавливают порядок определения в контракте фиксированного размера
            штрафа, начисляемого за ненадлежащее исполнение заказчиком, поставщиком (подрядчиком, исполнителем)
            обязательств, в том числе гарантийного обязательства (за исключением просрочки исполнения обязательств
            заказчиком, поставщиком (подрядчиком, исполнителем), а также размера пени, начисляемой за каждый день
            просрочки исполнения поставщиком (подрядчиком, исполнителем) обязательства, предусмотренного контрактом,
            начиная со дня, следующего после дня истечения установленного контрактом срока исполнения указанного
            обязательства (далее соответственно — штраф, пеня).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="665">2. Размер штрафа, определенный с учетом положений законодательства Российской Федерации,
            устанавливается в контракте в фиксированном виде в соответствии с настоящими Правилами.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="666">3. Размер штрафа устанавливается условиями контракта в виде фиксированной суммы, рассчитываемой
            как процент цены контракта или ее значения, определяемого в случаях, преду&shy;смотренных Федеральным
            законом «О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и
            муниципальных нужд» (далее — цена контракта).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="667">4. За ненадлежащее исполнение поставщиком (исполнителем, подрядчиком) обязательств,
            предусмотренных контрактом, за исключением просрочки исполнения заказчиком, поставщиком (подрядчиком,
            исполнителем) обязательств (в том числе гарантийного обязательства), предусмотренных контрактом, размер
            штрафа устанавливается в виде фиксированной суммы, определяемой в следующем порядке (за исключением случаев,
            предусмотренных пунктом 4(1) настоящих Правил):</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="668">(в ред. Постановления Правительства РФ от 15.05.2017 № 570)</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="669">а) 10 % цены контракта в случае, если цена контракта не превышает 3 млн рублей;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="670">б) 5 % цены контракта в случае, если цена контракта составляет от 3 млн до 50 млн рублей;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="671">в) 1 % цены контракта в случае, если цена контракта составляет от 50 млн до 100 млн рублей;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="672">г) 0,5 % цены контракта в случае, если цена контракта превышает 100 млн рублей.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="673">4(1). За ненадлежащее исполнение подрядчиком обязательств по выполнению видов и объемов работ
            по строительству, реконструкции объектов капитального строительства, которые он обязан выполнить
            самостоятельно без привлечения других лиц к исполнению своих обязательств по контракту, размер штрафа
            устанавливается в размере 5 % стоимости указанных работ.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="674">(п. 4(1) введен Постановлением Правительства РФ от 15.05.2017 № 570)</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="675">5. За ненадлежащее исполнение заказчиком обязательств по контракту, за исключением просрочки
            исполнения обязательств, размер штрафа устанавливается в виде фиксированной суммы, определяемой в следующем
            порядке:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="676">а) 2,5 % цены контракта в случае, если цена контракта не превышает 3 млн рублей;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="677">б) 2 % цены контракта в случае, если цена контракта составляет от 3 млн до 50 млн рублей;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="678">в) 1,5 % цены контракта в случае, если цена контракта составляет от 50 млн до 100 млн
            рублей;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="679">г) 0,5 % цены контракта в случае, если цена контракта превышает 100 млн рублей.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="680"><em>КонсультантПлюс: примечание.</em></p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="681"><em>В соответствии с Постановлением Правительства РФ от 08.12.2015 № 1340 к отношениям,
            регулируемым актами Правительства РФ, в которых используется ставка рефинансирования Банка России, с 1
            января 2016 г. вместо ставки рефинансирования применяется ключевая ставка Банка России.</em></p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="682">6. Пеня начисляется за каждый день просрочки исполнения поставщиком (исполнителем, подрядчиком)
            обязательства, предусмотренного контрактом, и устанавливается в размере не менее одной трехсотой действующей
            на дату уплаты пени ставки рефинансирования Центрального банка Российской Федерации от цены контракта,
            уменьшенной на сумму, пропорциональную объему обязательств, предусмотренных контрактом и фактически
            исполненных поставщиком (подрядчиком, исполнителем), и определяется по формуле:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p class="text-center" data-id="683">П = (Ц — В) x С,</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="684">где: Ц — цена контракта;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="685">В — стоимость фактически исполненного в установленный срок поставщиком (подрядчиком,
            исполнителем) обязательства по контракту, определяемая на основании документа о приемке товаров, результатов
            выполнения работ, оказания услуг, в том числе отдельных этапов исполнения контрактов;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="686">С — размер ставки.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="687">7. Размер ставки определяется по формуле:</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture" data-id="688">
            <img src="/personal/reader/articles/199312/img/images/aef834b398a5b7a562fc3d25b28a2d94a06b318c.png">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p data-id="689">где: СЦБ — размер ставки рефинансирования, установленной Центральным банком Российской
            Федерации на дату уплаты пени, определяемый с учетом коэффициента К;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="690">ДП — количество дней просрочки.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="691">8. Коэффициент К определяется по формуле:</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture" data-id="692">
            <img src="/personal/reader/articles/199312/img/images/76c9164a72fdfcb8a7e71842c582572d2bc13ca9.png">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p data-id="693">где: ДП — количество дней просрочки;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="694">ДК — срок исполнения обязательства по контракту (количество дней).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="695">При К, равном 0–50 %, размер ставки определяется за каждый день просрочки и принимается равным
            0,01 ставки рефинансирования, установленной Центральным банком Российской Федерации на дату уплаты пени.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="696">При К, равном 50–100 %, размер ставки определяется за каждый день просрочки и принимается
            равным 0,02 ставки рефинансирования, установленной Центральным банком Российской Федерации на дату уплаты
            пени.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="697">При К, равном 100 % и более, размер ставки определяется за каждый день просрочки и принимается
            равным 0,03 ставки рефинансирования, установленной Центральным банком Российской Федерации на дату уплаты
            пени.</p>
        <!--Абзац-->


    </article>


</section>
