<section>
    <div class="heading" id="heading02">Колонка главного редактора</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header">

            <!--УДК-->

            <!--Заголовок-->
            <h2 id="article00">Об информационной системе ценообразования</h2>

            <!--Анонс-->
            <!--Анонс-->

            <!--Авторы-->
            <div class="summary"><p><span>Д. Н. Силка,</span> главный редактор</p></div>
            <!--Авторы-->

            <!--Ключевые слова-->
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Картинка-->
        <div class="picture">
            <img src="img/images/Silka.png">
        </div>
        <!--Картинка-->

        <!--Абзац-->
        <p>Создание информационной системы в сфере ценообразования обсуждается достаточно длительное время. Ее ввод в
            эксплуатацию запланирован на 30 сентября 2017 г. При этом Запуск системы ставит целью создать условия для
            повышения прозрачности ценообразования в строительстве и исключения рисков завышения, а также и чрезмерного
            занижения сметной стоимости строительства. Данные для системы формируются в рамках государственного задания,
            о выполнении которого говорится в опубликованном 13 июня отчете Счетной палаты по результатам проверки
            ведомства. Кроме того, что в системе будут находиться различные методические документы, нормативы,
            справочные материалы, она будет содержать результаты регулярного мониторинга стоимости строительных
            ресурсов. На начальном этапе речь идет о различных материальных ресурсах, а в перспективе ценность
            представляет мониторинг стоимости и оборудования.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Механизм мониторинга остается недостаточно отработанным в части своей задумки. Ориентир идет на добровольные
            действия предприятий стройиндустрии передавать свои ценовые предложения в государственную базу данных.
            Именно этот вопрос будет наиболее трудным для внедрения информационной государственной системы (ФГИС ЦС) в
            промышленную эксплуатацию.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>Учитывая современные тенденции развития информационных технологий, в настоящее время действительно можно
            организовать достоверный и регулярный сбор сведений. Так, например, реализуемая налоговыми властями
            программа по переводу предприятий на онлайн-кассы дает большой потенциал сбора сведений по заданным позициям
            товаров народного потребления и др. Достаточно активно развиваются электронные системы государственных
            закупок, что также позволяет подключать участников госзаказа к различным сетевым электронным системам.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p>На фоне этого следует ожидать, что реформа ценообразования сможет показать ожидаемый результат, но сделать
            предстоит еще очень многое.</p>
        <!--Абзац-->

    </article>
</section>
