<section>
    <div class="heading" id="heading02">Экономика строительства</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="358">

            <!--УДК-->
            <div class="udk"><span>69.003</span></div>

            <!--Заголовок-->
            <h2 id="article06">Редевелопмент промышленно занятых территорий в городе Москве</h2>

            <!--Анонс-->
            <div class="announcement"><p>В статье проанализированы тенденции реализации проектов редевелопмента
                промышленных зон в Москве в современных условиях. Рассмотрены ключевые подходы к преобразованию
                промышленных территорий. Обозначены основные этапы проведения процесса редевелопмента. Выявлен ряд
                проблем, которые могут возникать в ходе реализации проекта. Составлен прогноз дальнейшего состояния
                процессов редевелопмента промышленных территорий в Москве.</p></div>
            <!--Анонс-->

            <!--Авторы-->
            <div class="summary"><p><span>Канхва В. С.,</span> НИУ МГСУ</p></div>
            <div class="summary"><p><span>Стрельцова Н. В.,</span> НИУ МГСУ</p></div>
            <!--Авторы-->

            <!--Ключевые слова-->
            <div class="keywords"><p><span>Ключевые слова:</span>редевелопмент, реновация, реконструкция, модернизация,
                промышленная зона.</p></div>
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Абзац-->
        <p data-id="359">Редевелопмент территорий промышленных предприятий стал одним из главных направлений
            градостроительной политики во многих крупных городах ввиду возникновения острой нехватки свободной земли в
            центральных районах. Появление крупных промышленных производств в Москве берет начало с XVII века. Уже к
            XVIII веку в столице сконцентрировалось около половины всех российских предприятий. Затем произошел
            небольшой спад значимости московской промышленности из-за развития Урала и Санкт-Петербурга. Исторически
            заводы и фабрики строились вдоль рек, которые активно использовались в качестве водной артерии. После вывода
            производственных мощностей, закрытия ряда промпредприятий становится невыгодным платить высокие арендные
            ставки за простаивающие объекты, в результате освобождаются огромные территории зачастую с очень хорошим
            местоположением.</p>
        <p data-id="360">На сегодняшний день Москва — огромный мегаполис — бизнес-центр России, где уже давно достигнут
            пик застройки. Более 17 % территории города занимают промышленные зоны, а это примерно 18,8 тыс. га. Поэтому
            в последнее время стали модными такие слова, как «редевелопмент», «реконструкция», которые означают новое
            использование старых конструкций или территорий, на которых они располагаются. Это чуть ли не единственная
            возможность построить что-то новое в таком крупном городе. В ближайшее время столичными властями планируется
            реорганизация 208 промышленных зон — 4 тыс. га бывших фабрик и заводов [1].</p>
        <p data-id="361">Территории Москвы действительно занимают уникальное положение на рынке редевелопмента. Это
            обусловлено тем, что здесь находится наибольший объем различных проектов и что это чуть ли не единственный
            субъект РФ, где значительная доля существующих проектов приходится непосредственно на редевелопмент,
            связанный со строительством коммерческих объектов. Такая тенденция объясняется достижением максимального
            экономического эффекта именно при строительстве многофункциональных кластеров, которые сочетают в себе
            разнообразные типы недвижимости. Ко всему прочему высокая востребованность коммерческих площадей
            обеспечивает инвестору большую рентабельность при меньших сложностях с документацией, которые могут быть
            связаны, например, с изменением функционального назначения промышленной зоны. Однако по итогам 2016 г.
            ситуация может существенно измениться. </p>
        <p data-id="362">Долгое время в Москве процесс освоения промышленных территорий шел крайне неравномерно. Это
            связано прежде всего с плохо отработанной законодательной и управленческой структурой, к тому же многие
            предприятия без особого энтузиазма относились к идее переезда с насиженных мест. По словам директора
            московского представителя ФГИК «Размах» Романа Захарченко, стоимость переезда промышленного предприятия в
            среднем оценивается в 40–70 млн руб. Немалое влияние оказывали еще и следующие факторы: вывод производств,
            перевод назначения земли, перенос существующих инженерных сетей. В Европе в процессе редевелопмента промзон
            активное участие принимают государство и муниципальные власти, вкладывая бюджетные средства, облегчая
            процесс получения всех необходимых согласований, а также предоставляя налоговые льготы инвесторам. К
            сожалению, в Москве о таком говорить пока что не приходится. Деятельность правительства должна быть
            направлена на создание и обеспечение благоприятного инвестиционного климата, чтобы заинтересовать
            собственников промышленных зон в развитии этих территорий [2].</p>
        <p data-id="363">Редевелопмент промышленных зон — один из сложнейших видов строительной деятельности, поскольку
            здесь требуются крайне грамотные, профессиональные решения с точки зрения организации и управления,
            подведения необходимых коммуникаций, сохранения существующих построек, вывода производства и его следов с
            территории. Бывают случаи, когда застройщик приобрел землю, но в силу ряда обстоятельств не в состоянии
            реализовать проект девелопмента территории. Тогда на помощь может прийти относительно новый механизм,
            который называется Fee-development, суть которого состоит в том, что девелопер уступает право реализации
            проекта другому собственнику, но сам остается реализовывать проект в качестве управляющей компании. Не
            исключено, что именно такой формат сможет в дальнейшем существенно оживить рынок и обеспечить приток новых
            участников. Однако не каждый девелопер на это способен.</p>
        <p data-id="364">К основным этапам проведения редевелопмента территорий относят экспертную оценку выбранного
            участка, разработку концепции объекта, проведение инженерных изысканий и технического обследования,
            разработку решений по подготовке территории под застройку, проектные работы, сопровождение и согласование
            проекта и, наконец, непосредственно сами работы по подготовке участка [3].</p>
        <p data-id="365">Процесс редевелопмента может быть выгодным не только для девелоперов, но и для самого города,
            поскольку он предполагает под собой модернизацию «депрессивных» территорий, способствует улучшению городской
            среды и качества жизни населения, а также направлен на увеличение стоимости земельных участков,
            расположенных в соседних районах.</p>
        <p data-id="366">Существует два ключевых подхода к освоению территорий, где ранее располагались производственные
            предприятия.</p>

        <div class="picture" data-id="367"><img src="http://panor.ru/personal/reader/articles/199312/img/images/5.jpg">
            <p>Рис. 1. Подходы к освоению участков бывших промышленных зон</p>
        </div>
        <div class="picture" data-id="368"><img src="http://panor.ru/personal/reader/articles/199312/img/images/6.jpg">
            <p>Рис. 2. ТЦ «Мозайка»</p>
        </div>
        <div class="picture" data-id="369"><img src="http://panor.ru/personal/reader/articles/199312/img/images/7.jpg">
            <p>Рис. 3. Территория «Красный Октябрь»</p>
        </div>
        <div class="picture" data-id="370"><img src="http://panor.ru/personal/reader/articles/199312/img/images/8.jpg">
            <p>Рис. 4. «Винзавод»</p>
        </div>
        <p data-id="371">Первый вариант предполагает полное освобождение территории, снос всех существующих ранее зданий
            и сооружений с дальнейшей застройкой с нуля участка жилыми или коммерческими объектами.</p>
        <p data-id="372">Один из примеров принятия такого решения — проект многофункционального торгового центра
            «Мозайка» на 7-й Кожуховской улице, где на месте бывшего завода по изготовлению железобетонных изделий был
            построен крупный многофункциональный торговый комплекс.&nbsp; </p>
        <p data-id="373">Второй вариант предполагает использование расположенных объектов на территории промышленной
            зоны. После проведения реконструкции, перепрофилирования или модернизации здания в дальнейшем будут
            использоваться для производства, складов или же под офисы или лофты [1, 4]. </p>
        <p data-id="374">Самый яркий пример проекта редевелопмента — проект на Болотном острове: территория «Красного
            Октября», где планировалось сохранение всех исторических построек или же центр современного искусства
            «Винзавод», который находится на участке бывшего пивоваренного завода «Московская Бавария».</p>
        <p data-id="375">На сегодняшний день в Москве больше распространено применение первого из двух предложенных
            вариантов, только в том случае, если речь не идет о зданиях, которые имеют какую-либо историческую или
            архитектурную значимость, так как в этом случае проводится реновация и сохранение фасадов.</p>
        <p data-id="376">Вместе с участками, расположенными в самом центре столицы, выделяют территории промышленных
            зон, находящиеся вдоль Москвы-реки и железнодорожных путей, как наиболее перспективные, так как самое
            главное их преимущество — видовые характеристики [5, 10].</p>
        <p data-id="377">Далее рассмотрим ключевые проблемы, которые могут возникнуть в ходе редевелопмента промышленных
            территорий.</p>
        <p data-id="378">1. Проблемы с законодательной базой. </p>
        <p data-id="379">овое предлагаемое решение по освоению территории может быть не отражено в Генплане развития
            Москвы. Вместе с этим необходимо будет изменить статус земельного участка для будущей жилой, офисной или
            коммерческой застройки, получить ГПЗУ на строительство (для последнего варианта) в том объеме, который
            сможет сделать объект экономически интересным и эффективным. Таким образом, согласование проекта может
            длиться годами ввиду ряда ограничений градостроительного характера [6].</p>
        <p data-id="380">2. Собственность существующих промышленных объектов.</p>
        <p data-id="381">Зачастую объекты недвижимости, расположенные в промышленной зоне, принадлежат не одному
            собственнику, поэтому придется договариваться об освобождении простаивающих площадей с каждым из них.</p>
        <p data-id="382">3. Демонтаж промышленных зданий, вывоз строительного мусора.</p>
        <p data-id="383">Работы по сносу существующих построек связаны с большими затратами. Иногда производство
            переносят в другой район. В этом случае должно обеспечиться сохранение рабочих мест.</p>
        <p data-id="384">4. Рекультивация почвы.</p>
        <p data-id="385">Намного проще, когда на территории промышленных зон располагались склады или производственные
            предприятия, которые не оказывали пагубного влияния. Сложнее, когда там находился, к примеру,
            металлургический завод или же иное вредное производство.</p>
        <p data-id="386">5. Окружение промышленной зоны.</p>
        <p data-id="387">Вместе с этим немаловажное значение имеет местоположение промышленной зоны, поскольку зачастую
            участок может располагаться среди других производственных предприятий, что вызовет острую нехватку объектов
            инфраструктуры: развлекательные комплексы, магазины и пр.</p>
        <p data-id="388">К преимуществам редевелопмента можно отнести резерв для больших мощностей и наличие уже
            проведенных коммуникаций на участке, которые при пребывании в хорошем состоянии можно использовать,
            достаточно только будет согласовать их подключение к будущим объектам [7].</p>
        <p data-id="389">Из-за масштабности, внушительного объема требуемых инвестиций, необходимых для возведения
            нового объекта, подготовки территории для начала строительства, обновления инфраструктуры, реставрации уже
            существующих на участке построек и из-за длительного срока реализации проекта освоение промышленных зон под
            силу только крупным компаниям.&nbsp; </p>
        <p data-id="390">Редевелопмент — достаточно дорогая деятельность. Проекты требуют большой объем долгосрочных
            инвестиций, а из-за существующих сложностей процесс реновации промзон может надолго затянуться. На
            сегодняшний день только около 20 % территорий готовы под застройку, темпы остальных 80 % зависят от
            множества факторов [8].</p>
        <p data-id="391">Наиболее значимыми могут оказаться владение земли несколькими собственниками, что существенно
            осложнит процесс договоренности о комплексном развитии территории, и создаст перегруженность транспортных
            магистралей, проходящих вокруг застраиваемого участка, что вызовет острую необходимость создания
            дополнительных потоков. Перед началом реализации проекта редевелопмента никак не обойтись без тщательной
            проработки инфраструктурного плана как самой территории, так и прилегающих районов [9].</p>
        <p data-id="392">По некоторым данным, в 2017 г. ожидается стагнация российской экономики, после чего она
            постепенно начнет восстанавливаться. В существующих на сегодняшних день условиях нельзя рассчитывать на
            увеличение темпов ввода коммерческой недвижимости в Москве и области. Вероятнее всего, сохранится текущая
            тенденция снижения объемов до тех пор, пока на рынке не появятся новые интересные форматы недвижимости, под
            которые найдутся инвесторы. По итогам 2016 г. можно ожидать еще большее сокращение спроса на офисную
            недвижимость и строительства торговых объектов на фоне прироста в области гостиничного сектора ввиду
            подготовки и проведения чемпионата мира в 2018 г.</p>
        <p data-id="393">Подводя итог, можно сказать, что процесс редевелопмента промышленных зон, которые подлежат
            градостроительному преобразованию, до сих пор не имеет системного характера и явно выраженных планомерных
            тенденций. Большинство масштабных проектов еще только готовятся к реализации. Тем не менее при благоприятных
            условиях редевелопмент промышленных зон может дать мощный импульс развитию центральных районов Москвы,
            формируя тем самым новые деловые и жилые зоны и преобразовать облик исторически сложившихся промышленных зон
            города.</p>
        <!--Абзац-->


        <!--Картинка-->                    <!--Картинка-->


        <!--Картинка-->                    <!--Картинка-->


        <!--Картинка-->                    <!--Картинка-->

        <!--Абзац-->
        <!--Абзац-->

        <!--Картинка-->                    <!--Картинка-->


        <!--Источники-->
        <div class="footnote" data-id="394">
            <p>Список литературы</p>
            <p>1. Нежникова Е. В. Конкретно исторический аспект исследования проблемы обеспечения качества объектов
                жилищного строительства // Экономика и предпринимательство. — 2015. — № 3-2 (56-2). — С. 713–717.</p>
            <p>2. Мякишев С. А., Нежникова Е. В. Совершенствование оргструктуры управления строительным предприятием на
                основе оптимизации ее параметров // Казанская наука. — 2014. — № 8. — С. 55–58.</p>
            <p>3. Нежникова Е. В., Чаруева М. В., Папельнюк О. В. Микроэкономика: учебник для вузов / под ред. И. Г.
                Лукмановой. — М.: АСВ, 2013.</p>
            <p>4. Горобняк А. А., Гумба Х. М. Деловая репутация как фактор, обеспечивающий надежность функционирования
                строительного предприятия // Строительство-формирование среды жизнедеятельности: сборник трудов 14-й
                Международной межвузовской научно-практической конференции студентов, магистрантов, аспирантов и молодых
                ученых. — 2011. — С. 372–375.</p>
            <p>5. Гумба Х. М., Мамаев М. И. Концептуальные основы формирования устойчивых конкурентных преимуществ //
                Baikal Research Journal. — 2014. — № 1. — С. 11.</p>
            <p>6. Гумба Х. М., Ермолаев Е. Е., Уварова С. С. Ценообразование и сметное дело в строительстве.
                Учебно-практическое пособие / Х. М. Гумба, Е. Е. Ермолаев, С. С. Уварова // Учебно-методическое
                объединение рекомендует. — 2-е изд., перераб. и доп. — М.: Федеральное агентство по образованию,
                Московский гос. строит. ун-т., 2011.</p>
            <p>7. Лукманова И. Г., Мишланова М. Ю. Государственно-частное партнерство как механизм минимизации
                инфраструктурных разрывов // Научное обозрение. — 2015. — № 2. — С. 270–275.</p>
            <p>8. Мишланова М. Ю. Средообразующие факторы в деятельности строительных организаций // Приволжский научный
                журнал. — 2012. — № 3. — С. 203–209.</p>
            <p>9. Уварова С. С., Канхва В. С., Рогачева Я. А. Когнитивные технологии — императив устойчивого развития
                инновационной деятельности в строительстве // Вестник МГСУ. — 2016. — № 6. — С. 90–100. </p>
            <p>10. Верстина Н. Г., Акимова Е. М., Блинова Т. Г. Формирование дополнительных источников финансирования
                программ развития теплоснабжения: вопросы идентификации и реализации // Недвижимость: экономика,
                управление. — 2015. — № 3. — С. 42–47.</p>
        </div>

    </article>


</section>
