<section>
    <div class="heading" id="heading02">Консультации в сфере закупочной деятельности</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="529">

            <!--УДК-->

            <!--Заголовок-->
            <h2 id="article10">Изменения и дополнения в области реализации положений закона № 44-ФЗ для государственных
                закупок</h2>

            <!--Анонс-->
            <!--Анонс-->

            <!--Авторы-->                                        <!--Авторы-->

            <!--Ключевые слова-->
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Подзаголовок-->
        <h3 data-id="530">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="531">ФАС считает, что госконтракт можно заключитьпод отлагательным условием</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="532">Госконтракт может содержать условие о том, что контрагенты начинают исполнять обязательства
            только после доведения лимитов бюджетных обязательств. Такой вывод следует из письма антимонопольной
            службы.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="533">Ведомство отметило: заключение госконтракта при отсутствии лимитов бюджетных обязательств может
            привести к несвоевременной оплате по нему и повлечь расходы бюджетных средств на уплату неустойки. Вместе с
            тем Закон № 44-ФЗ не запрещает заключить госконтракт под отлагательным условием.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="534">В 2015 г. на возможность включить отлагательное условие в госконтракт уже указывал Минфин.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="535">Документ: письмо ФАС России от 20.03.2017 № РП/17453/17.</p>
        <!--Абзац-->


        <!--Картинка-->
        <div class="picture" data-id="536">
            <img src="/personal/reader/articles/199312/img/images/22_1.jpg">
        </div>
        <!--Картинка-->

        <!--Подзаголовок-->
        <h3 data-id="537">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="538">Участник госзакупокне может подтверждать свой опыт при помощи контракта, содержащего
            гостайну</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="539">Вывод Минэкономразвития касается электронных аукционов на закупку строительных работ, если НМЦК
            выше 10 млн руб. При таких закупках заказчик должен установить дополнительное требование об опыте, а
            участники — подтвердить документами, что ему соответствуют.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="540">Напомним, в чем состоит доптребование:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="541">• у участника в пределах трех лет до даты подачи заявки должен быть опыт исполнения контракта
            или договора на строительство;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="542">• работы должны относиться к той же группе строительных работ, на выполнение которых
            заключается контракт;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="543">• стоимость исполненного контракта или договора должна быть не менее 20 % НМЦК, на право
            заключить который проводится закупка.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="544">Документ: письмо Минэкономразвития России от 28.04.2017 № Д28и-1681.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="545">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="546">Госзакупки: правительство определило, какие работы подрядчик должен выполнять
            самостоятельно</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="547">В постановлении № 570 установлены виды и объемы работ по строительству и реконструкции объектов
            капстроительства, которые подрядчик обязан выполнять самостоятельно, без привлечения других лиц.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="548">Документ не затронет закупки, извещения о проведении которых размещены в ЕИС или приглашения на
            участие в которых направлены до даты его вступления в силу. Также он не коснется контрактов, заключенных до
            этой даты.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="549">Всего в правительственный перечень вошли 34 вида работ, среди которых — устройство фундаментов
            и оснований, возведение несущих конструкций.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="550">Из утвержденного списка заказчик должен будет включать в документацию о закупке возможные виды
            и объемы работ, подлежащих самостоятельному выполнению.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="551">Конкретные же виды и объемы работ из числа возможных заказчик будет определять по предложению
            подрядчика и включать их в контракт. Цена этих видов работ, исходя из их сметной стоимости в совокупном
            стоимостном выражении, должна составлять:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="552">• не менее 15 % от цены контракта — со дня вступления в силу постановления № 570 до 1 июля 2018
            г.;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="553">• не менее 25 % от цены контракта — с 1 июля 2018 г.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="554">Если подрядчик не исполнит надлежащим образом обязательство самостоятельно выполнить указанные
            работы, ему будет грозить штраф в размере 5 % от стоимости этих работ. Соответствующие поправки внесены в
            постановление № 1063.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="555">По информации с сайта правительства, нововведения повысят прозрачность исполнения контрактов и
            качество работ.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="556">Документ: постановление Правительства РФ от 15.05.2017 № 570.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="557">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="558">Госзаказчик должен отклонить конкурсную заявку, если она заполнена не по инструкциииз
            документации</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="559">Минэкономразвития также отметило: отклонить заявку заказчик обязан и тогда, когда ее форма не
            соответствует той, что предусмотрена в конкурсной документации.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="560">Выводы ведомства не новы. Аналогичная позиция была обозначена еще в сентябре прошлого года.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="561">По Закону № 44-ФЗ конкурсная документация содержит инструкцию по заполнению заявки и требования
            к ее форме. Участники должны соблюдать эти правила при подаче заявок. Если участник не выполняет их,
            заказчик обязан отклонить заявку такого участника как не соответствующую требованиям документации.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="562">Напомним, должностное лицо заказчика могут оштрафовать, если оно признает надлежащей конкурсную
            заявку участника, которому должно быть отказано в допуске. Размер штрафа составит 1 % начальной
            (максимальной) цены контракта, но не менее 5000 руб. и не более 30 тыс. руб.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="563">Документ: письмо Минэкономразвития России от 10.04.2017 № Д28и-1627.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="564">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="565">Правительство утвердило правила заключения госконтрактов на строительство объектов под
            ключ</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="566">16 мая опубликовано постановление № 563, где говорится об этом. Сами правила заключения
            контрактов, предмет которых — одновременно выполнение работ по проектированию, возведению и вводу в
            эксплуатацию объектов капстроительства, начнут действовать уже с июля.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="567">Для того чтобы заключить контракт на строительство объекта под ключ, заказчику потребуются:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="568">• заключение по итогам технологического и ценового аудита обоснования инвестиций в создание
            объекта;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="569">• решение о заключении конт&shy;ракта.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="570">Положение о проведении указанного аудита также утверждено постановлением № 563.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="571">Согласно положению, обоснование инвестиций представляет собой документацию. Ее аудитом будут
            заниматься органы власти или подведомственные им государственные (бюджетные или автономные) учреждения,
            госкорпорация «Росатом». Они будут проверять достоверность определения сметной стоимости строительства.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="572">Решение о заключении контракта на строительство объекта под ключ будут принимать следующие
            лица:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="573">• правительство или главный распорядитель средств федерального бюджета — в отношении
            федеральной собственности;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="574">• высшее должностное лицо субъекта РФ — в отношении региональной собственности;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="575">• глава муниципального образования — в отношении муниципальной собственности.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="576">Кроме того, по принятым правилам в указанный контракт заказчику нужно будет включить ряд
            условий. Одно из них заключается в том, что подрядчик не вправе будет требовать увеличения цены контракта, а
            заказчик — ее уменьшения. Оно коснется и тех случаев, когда в момент заключения контракта невозможно
            предусмотреть полный объем работ или расходов.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="577">До настоящего времени возникали споры о правомерности заключения рассмотренных контрактов.
            Полагаем, после вступления в силу постановления № 563 таких споров станет меньше.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="578">Документ: постановление Правительства РФ от 12.05.2017 № 563
            (http://publication.pravo.gov.ru/Document/View/0001201705160037).</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="579">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="580">Госзаказчики большене должны запрещатьтурецким компаниям участвовать в закупках</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="581">31 мая президент отменил специальные экономические меры в отношении Турции, которые действовали
            с 2016 г.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="582">Заказчики не вправе с 31 мая включать запрет на закупку у турецких компаний в закупочную
            документацию. В противном случае должностному лицу заказчика грозит штраф 3000 руб.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="583">Если документация размещена в ЕИС до 31 мая и содержит запрет, можно ее не изменять.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="584">Напомним, с 2016 г. у турецких компаний нельзя было закупать для госнужд работы и услуги,
            потому что они были в правительственном перечне. Теперь он не дейст&shy;вует.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="585">Документ: Указ Президента РФ от 31.05.2017 № 244
            (http://publication.pravo.gov.ru/Document/View/0001201705310034?index=0&amp;rangeSize=1).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="586">Вступил в силу 31 мая 2017 г.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="587">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="588">Минэкономразвития пояснило, как оценивать деловую репутацию участника госзакупки</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="589">Госзаказчик не вправе требовать от участников закупки наличия индекса деловой репутации,
            рассчитанного только организацией, аккредитованной в системе добровольной сертификации. Ведомство отмечает,
            что законодательство не обязывает участников иметь такой индекс.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="590">Индекс деловой репутации может определить как сам заказчик, так и участник по документам о
            квалификации. Для этого нужно умножить объем выполненных работ на количество контрактов (договоров) по
            аналогичным объектам. Полученное значение следует разделить на количество судебных решений, вынесенных не в
            пользу участника. Решения должны быть по делам о неисполнении участником обязательств по контрактам
            (договорам) из заявки.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="591">Напомним, деловую репутацию участника закупки наряду с другими критериями и показателями оценки
            заказчик может оценить при проведении конкурса и запроса предложений. Оценка нужна, чтобы определить
            участника, предложившего лучшие условия исполнения контракта.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="592">Документ: письмо Минэкономразвития России от 19.01.2017 № ОГ-Д28-761.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="593">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="594">Заключение договора цессии является закупкойпо Закону № 223-ФЗ,когда заказчик приобретает
            права требования</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="595">К такому выводу пришло Минэкономразвития в апрельском письме.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="596">По Закону № 223-ФЗ вся закупочная деятельность заказчика должна быть регламентирована в
            положении о закупке. В связи с этим полагаем, что целесообразно урегулировать в этом документе и заключение
            договора цессии. Например, заключение данного договора можно предусмотреть как одно из оснований закупки у
            единственного поставщика, подрядчика, исполнителя.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="597">Документ: письмо Минэкономразвития России от 21.04.2017 № Д28и-1628.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="598">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="599">Для заказчиковпо Закону № 223-ФЗ появились новшества в сфере закупоку малого и среднего
            бизнеса</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="600">Выделим наиболее значимые нововведения, которые утвердило правительство своим
            постановлением.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="601">Заказчики по Закону № 223-ФЗ будут готовить годовой отчет о закупке товаров, работ, услуг у
            малого и среднего бизнеса по новой форме. Она начнет действовать со следующего года. Поэтому использовать ее
            надо будет уже при составлении отчета за текущий год.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="602">В новой форме заказчикам потребуется указывать больше сведений, чем в прежней. Так, отдельно
            нужно будет привести данные о годовом объеме закупок у малого бизнеса.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="603">Кроме того, с июля заказчиков, которые должны проводить закупки среди субъектов малого и
            среднего бизнеса, станет больше. Это произойдет, к примеру, за счет хозяйственных обществ, в уставном
            капитале которых доля участия субъекта РФ, муниципального образования в совокупности превышает 50 %, годовой
            объем выручки которых от продажи продукции превышает 500 млн руб. При этом такие заказчики не должны быть
            субъектами малого и среднего предпринимательства.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="604">Заказчики, у которых появится новая обязанность, должны провести в этом году рассматриваемые
            закупки в размере не менее 9 % совокупного стоимостного объема договоров, заключенных с 1 июля по 31 декабря
            2017 г.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="605">Документ: постановление Правительства РФ от 20.05.2017 № 608 (вступает в силу 7 июня 2017 г.,
            за исключением отдельных положений).</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="606">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="607">Заказчик по Закону № 223-ФЗ может ограничить участиев своих закупкахюрлиц-нарушителей</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="608">Минэкономразвития считает: заказчик вправе потребовать в документации, чтобы в отношении
            участника не было вступивших в силу решений суда. Речь идет о решениях по применению санкций за нарушение
            договорных обязательств.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="609">Чтобы включить в документацию такое требование, возможность его установить советуем закрепить в
            положении о закупке. Ведь именно положение о закупке по Закону № 223-ФЗ — это основной документ, который
            регламентирует закупочную деятельность заказчика.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="610">Документ: письмо Минэкономразвития России от 26.04.2017 № Д28и-1866.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="611">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="612">Участникам госзакупок напомнили, когда имне требуется привлекать субподрядчиковиз малого
            бизнеса</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="613">Если победителем закупки стал субъект малого предпринимательства или социально ориентированная
            некоммерческая организация, привлекать к исполнению госконтракта субподрядчиков из числа СМП, СОНКО не
            нужно. Такие рекомендации вновь дало Минэкономразвития. Аналогичную позицию ведомство уже обозначало.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="614">В апрельском письме, как и прежних, вывод министерства касается закупок, для которых
            установлено требование к исполнителю контракта привлечь субподрядчиков, соисполнителей из числа СМП,
            СОНКО.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="615">Минэкономразвития также напомнило, как в рассматриваемой ситуации заполнить отчет об объеме
            закупок у малого бизнеса. В позиции 6 этого отчета указывается объем привлечения СМП и СОНКО в качестве
            субподрядчиков, соисполнителей, когда такое требование было в извещении о закупке. Если при наличии этого
            требования победителем стал СМП или СОНКО, в позиции 6 отчета заказчик учитывает объем привлечения,
            установленный контрактом.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="616">Документ: письмо Минэкономразвития России от 10.04.2017 № Д28и-1556.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="617">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="618">Минэкономразвития напомнило: документацияо госзакупке должна содержать всю проектную
            документацию</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="619">Наличие в документации требований к закупаемым товарам, работам, услугам, а также проектной
            документации в полном объеме позволит участникам закупки формировать предложение по исполнению
            контракта.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="620">Вывод ведомства связан с закупками строительства, реконструкции, капремонта объектов
            капстроительства. Подобная позиция высказывалась и ранее, например в декабре 2016 г.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="621">Сходного мнения придерживается ФАС. Она указывала: если заказчик не включил в документацию в
            полном объеме проектно-сметную документацию, то он не установил требования к объему закупаемых работ.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="622">Позиции же судов по вопросу о том, можно ли не включать проектно-сметную документацию в
            закупочную, расходятся.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="623">Напомним, если должностное лицо заказчика не включит проектную документацию в закупочную, ему
            грозит штраф 3000 руб.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="624">Документ: письмо Минэкономразвития России от 20.04.2017 № Д28и-1623.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="625">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="626">Закрытые процедуры госзакупок планируют проводить на электронных площадках</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="627">Минфин предлагает внести это новшество в Закон № 44-ФЗ.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="628">Проект касается закупок товаров, работ, услуг, если составляют гостайну:</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="629">• сведения о федеральных нуждах, для которых необходимы товары, работы, услуги;</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="630">• данные о товарах, работах, услугах, отраженные в закупочной документации.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="631">Проводить закрытый аукцион в электронной форме, а также вести электронный документооборот нужно
            будет, если товар, работа или услуга окажутся в правительственном перечне. Правительство должно будет
            утвердить и список операторов электронных площадок.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="632">Пока по Закону № 44-ФЗ в электронной форме можно проводить только открытый аукцион.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="633">Документ: проект федерального закона
            (http://regulation.gov.ru/projects/List/AdvancedSearch#npa=66825).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="634">Общественное обсуждение завершилось 15 июня 2017 г.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="635">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="636">Минэкономразвития разъяснило, можно ли заявку на участие в конкурсепо Закону № 44-ФЗподписать
            факсимиле</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="637">Ведомство указало: Закон № 44-ФЗ не предусматривает такой возможности. Участник или
            уполномоченное им лицо должны подписать прошитую и пронумерованную заявку на участие в открытом конкурсе.
            Также ее надо скрепить печатью участника (при наличии таковой).</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="638">Хотя в разъяснениях речь идет только об открытом конкурсе, полагаем, они применимы и к запросу
            котировок, запросу предложений.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="639">Если должностное лицо заказчика признает конкурсную заявку надлежащей в случае, когда надо было
            отказать в допуске к участию, это может обернуться штрафом. Его размер составит 1 % от НМЦК, но не менее
            5000 руб. и не более 30 тыс. руб.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="640">Документ: письмо Минэкономразвития России от 24.04.2017 № Д28и-1655.</p>
        <!--Абзац-->

        <!--Подзаголовок-->
        <h3 data-id="641">* * *</h3>
        <!--Подзаголовок-->

        <!--Подзаголовок-->
        <h3 data-id="642">Минэкономразвития снова разъяснило особенности закупок в случае присоединения к госзаказчику
            юрлица</h3>
        <!--Подзаголовок-->

        <!--Абзац-->
        <p data-id="643">Ведомство указало: план-график присоединяемого учреждения применять нельзя. В связи с
            реорганизацией вновь созданный заказчик формирует свой план-график и вносит в него сведения о предстоящих
            закупках.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="644">Отдельно министерство отметило, что при присоединении совокупный годовой объем закупок заказчик
            рассчитывает с момента реорганизации. При расчете нужно учитывать объем закупок присоединенных
            организаций.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="645">Сходный вывод Минэкономразвития уже делало, например, в декабре 2016 г.</p>
        <!--Абзац-->

        <!--Абзац-->
        <p data-id="646">Документ: письмо Минэкономразвития России от 26.04.2017 № Д28и-1857.</p>
        <!--Абзац-->


    </article>


</section>
