<section>
    <div class="heading" id="heading02">Экономика строительства</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="294">

            <!--УДК-->
            <div class="udk"><span>69.003</span></div>

            <!--Заголовок-->
            <h2 id="article05">Оценка перспектив развития строительства на современном этапе</h2>
            <!--Анонс-->
            <div class="announcement">
                <p>Современное состояние строительной отрасли характеризуется отрицательной динамикой экономических
                    показателей деятельности строительных предприятий. Выявлены тенденции деловой активности
                    строительных предприятий с использованием системы статистических показателей, определены проблемы и
                    пути их решения в современных условиях.</p>
            </div>
            <!--Анонс-->

            <!--Авторы-->
            <div class="summary"><p><span>Бурова О. А.,</span> НИУ МГСУ</p></div>
            <div class="summary"><p><span>Дмитриенко Р. А.,</span> НИУ МГСУ</p></div>
            <!--Авторы-->

            <!--Ключевые слова-->
            <div class="keywords">
                <p><span>Ключевые слова:</span>строительная отрасль, деловая активность, производительность труда, объем
                    строительства, жилищное строительство.</p>
            </div>
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Абзац-->
        <p data-id="295">Строительство, решая крупномасштабные задачи национального развития страны, остается
            по-прежнему одной из ведущих отраслей экономики. Строительная сфера на современном этапе привлекает все
            больше внимания как профессионалов, так и простых граждан. Однако экономическое положение Российской
            Федерации, а также финансово-экономический кризис оказали отрицательное воздействие на состояние
            строительства.</p>
        <p data-id="296">Состояние строительной отрасли связано с определенными особенностями, такими как
            капиталоемкость, высокая рискованность, сложность проектов, необходимость координации множества участников
            проекта, значительная длительность сроков как непосредственно создания недвижимого имущества, так и его
            окупаемости [1].</p>
        <p data-id="297">Оценивая состояние строительной отрасли на современном этапе, можно отметить, что наблюдается
            снижение объемов строительного производства, начиная с 2014 г., которое продолжилось и в 2016 г.</p>
        <p data-id="298">Объем работ, выполненный строительными организациями всех форм собственности, в 2015 г.
            составил 6148,4 млрд руб., что ниже уровня 2014 г. на 4,8 % в сопоставимых ценах. Доля валовой добавленной
            стоимости строительной продукции в общем объеме валового внутреннего продукта Российской Федерации в 2015 г.
            составила 5,9 %, в 2014 г. — 6,5 %.</p>
        <p data-id="299">Индекс производительности труда строительных организаций по отношению к 2015 г. показывает
            отрицательную динамику и составил в 2010 г. — 99,6 %; 2011 г. — 105,2; 2012 г. — 101,6; 2013 г. — 99,8; 2014
            г. — 98,5; 2015 г. — 95,4 %. Оборот строительной продукции за сентябрь 2016 г. составил 540,1 млрд руб., что
            составляет 97,3 % к сентябрю 2015 г. Это объясняется снижением числа строительных организаций. Так,
            количество официально зарегистрированных строительных организаций в августе составило 4870, в то же время
            было официально ликвидировано 8428.</p>
        <p data-id="300">Сальдированный финансовый результат по строительным отраслям в январе — августе 2016 г. в
            действующих ценах составил +81,5 млрд руб. Из общего числа строительных организаций прибыльными оказались
            71,9 %, которыми была получена прибыль в размере 143,6 млрд руб. Однако убыточных организаций оказалось
            достаточно много — 28,1 % от общей численности, убыток их составил 62,1 млрд руб. Таким образом, в России
            убыточной является каждая третья строительная организация, что сказалось на их общем финансовом состоянии.
            Просроченная кредиторская задолженность в августе 2016 г. наблюдалась у 555 организаций на общую сумму 86,3
            млрд руб. Просроченную дебиторскую задолженность имели 839 строительных организаций в объеме 86,4 млрд руб.
            [1, 2].</p>
        <p data-id="301">Средняя заработная плата работающих в строительной отрасли в августе 2016 г. составила 33 169
            руб., что ниже средней заработной платы по стране, которая была в размере 36 115 руб., хотя темп роста
            средней заработной платы по отрасли составил 108,4 % по сравнению с августом 2015 г. В целом по отрасли
            наблюдался большой объем просроченной задолженности по заработной плате, по состоянию на 1 сентября 2016 г.
            она составила в сумме 1005 млн руб., значительная часть которой не выплачивалась из-за отсутствия
            собственных средств (1002 млн руб.).</p>
        <p data-id="302">Почти 90 % всего объема строительных работ в последние годы выполняют строительные организации
            частной формы собственности.</p>
        <p data-id="303">Результаты обследований деловой активности строительных организаций в 2016 г. свидетельствуют
            об ухудшении экономической ситуации в строительном секторе.</p>
        <p data-id="304">Индекс предпринимательской уверенности в III квартале 2016 г. уменьшился по сравнению со II
            кварталом 2016 г. на 1 процентный пункт, III кварталом 2015 г. на 7 процентных пунктов и составил –16 %.</p>
        <p data-id="305">Повышение деловой активности в III квартале 2016 г. наблюдалось в 33 субъектах Российской
            Федерации. Результаты проведенного обследования свидетельствуют, что в 25 из 82 субъектов Российской
            Федерации, участвующих в обследовании, индекс предпринимательской уверенности был выше, чем в среднем по
            России. Положительное значение этого показателя отмечалось в Калининградской, Омской, Тверской и Тульской
            областях. Самое низкое значение индекса предпринимательской уверенности (–59 %) было зафиксировано в
            Магаданской области [1, 3].</p>
        <p data-id="306">Объем инвестиций в основной капитал на развитие строительной деятельности в 2015 г. составил
            448,7 млрд руб., или 3,1 % от общего объема инвестиций в основной капитал, что на 0,3 % меньше, чем в 2014
            г. </p>
        <p data-id="307">Основными факторами, сдерживающими деятельность строительных организаций, являются «высокий
            уровень налогов» (на этот фактор указали 37 % опрошенных руководителей организаций), «высокая стоимость
            материалов, конструкций, изделий» (33) и «неплатежеспособность заказчиков» (31 %).</p>
        <p data-id="308">Таким образом, мы можем сделать вывод, что на протяжении многих лет возникает ряд проблем,
            тормозящих поступательное развитие этой от&shy;расли: </p>
        <p data-id="309">• недостаток собственных средств у подрядных организаций;</p>
        <p data-id="310">• высокие инвестиционные риски;</p>
        <p data-id="311">• отсутствие интереса к вложению банковского капитала в производственную сферу;</p>
        <p data-id="312">• содержание на балансе строительных предприятий устаревшего изношенного оборудования;</p>
        <p data-id="313">• ограниченные финансовые вложения подрядных организаций, а также экономическая нестабильность
            в стране;</p>
        <p data-id="314">• дефицит высококвалифицированных кадров;</p>
        <p data-id="315">• коррупция, недобросовестное проведение тендеров и др.</p>
        <p data-id="316">Устранение выявленных факторов развития строительной отрасли может способствовать повышению
            инвестиционной активности в строительной сфере, что потребует определенных мер как на уровне отдельных
            строительных предприятий, так и на государственном уровне.</p>
        <p data-id="317">Свою стратегию в строительной отрасли Правительство РФ реализует путем инвестиционных проектов
            комплексного освоения территорий, включая строительство не только жилья, но и объектов социальной,
            инженерной, транспортной инфраструктуры, финансирование которых осуществляется из Инвестфонда [4].</p>
        <p data-id="318">Выполнение государственных обязательств по финансированию строительства жилья для отдельных
            категорий граждан осуществляется в рамках государственной программы Российской Федерации «Обеспечение
            доступным и комфортным жильем и коммунальными услугами граждан Российской Федерации» (постановление
            Правительства Российской Федерации от 15 апреля 2014 г. № 323). Общий объем бюджетных ассигнований
            федерального бюджета программы в 2013–2020 гг. составил 57 793 4420,6 тыс. руб.</p>
        <p data-id="319">Целью программы является:</p>
        <p data-id="320">• повышение доступности жилья и качества жилищного обеспечения населения;</p>
        <p data-id="321">• повышение качества и надежности предоставления жилищно-коммунальных услуг населению.</p>
        <p data-id="322">Среди основных задач государственной программы следует отметить:</p>
        <p data-id="323">• вовлечение в оборот земельных участков в целях жилищного строительства, в том числе
            строительства жилья экономического класса;</p>
        <p data-id="324">• реализация программы «Жилье для российской семьи»;</p>
        <p data-id="325">• содействие внедрению новых современных, энергоэффективных и ресурсосберегающих технологий в
            жилищное строительство и производство строительных материалов, используемых в жилищном строительстве;</p>
        <p data-id="326">• развитие механизмов кредитования жилищного строительства и строительства коммунальной
            инфраструктуры;</p>
        <p data-id="327">• повышение доступности ипотечных жилищных кредитов для населения;</p>
        <p data-id="328">• содействие формированию рынка арендного жилья и развитие некоммерческого жилищного фонда для
            граждан, имеющих невысокий уровень дохода;</p>
        <p data-id="329">• выполнение государственных обязательств по обеспечению жильем категорий граждан,
            установленных федеральным законодательством;</p>
        <p data-id="330">• предоставление государственной поддержки на приобретение жилья молодым семьям;</p>
        <p data-id="331">• повышение эффективности, качества и надежности поставки коммунальных ресурсов, в том числе
            путем привлечения долгосрочных частных инвестиций; </p>
        <p data-id="332">В качестве наиболее важных ожидаемых результатов реализации программы можно выделить такие,
            как:</p>
        <p data-id="333">• достижение средней обеспеченности общей площадью жилья на уровне 28–35 м2 на человека в 2020
            г.;</p>
        <p data-id="334">• формирование рынка арендного жилищного фонда и развитие некоммерческого арендного жилищного
            фонда для граждан, имеющих невысокий уровень дохода;</p>
        <p data-id="335">• снижение средней стоимости 1 м2 жилья на первичном рынке с учетом индекса-дефлятора на
            соответствующий год по виду экономической деятельности «строительство» (в процентах к уровню 2012 г.) на 20
            % к 2018 г.;</p>
        <p data-id="336">• увеличение доли граждан, имеющих возможность с помощью собственных и заемных средств
            приобрести или снять необходимое жилье на рынке, построить индивидуальное жилье (в процентах к уровню 2012
            г.) на 50 % к 2020 г.;</p>
        <p data-id="337">• создание к 2018 г. для граждан Российской Федерации возможностей улучшения жилищных условий
            не реже одного раза в 15 лет;</p>
        <p data-id="338">• достижение уровня соответствия жилищного фонда современным условиям энергоэффективности,
            экологическим требованиям, а также потребностям отдельных групп граждан (многодетные семьи, пожилые люди,
            инвалиды и др.).</p>
        <p data-id="339">Кроме того, согласно программе, к 2020 г. планируется увеличить показатель годового объема
            ввода жилья до 100 млн м2. Для сравнения: этот показатель в 2012 г. составлял 66 млн м2 [10, 12].</p>
        <p data-id="340">Основной формой поддержки граждан, которые нуждаются в улучшении жилищных условий, но не имеют
            возможности накопить средства на приобретение жилья на рыночных условиях, а также по обеспечению жильем
            граждан категорий, установленных федеральным законодательством, будет являться предоставление социальных
            выплат на приобретение жилья, в том числе частичную или полную оплату первоначального взноса при получении
            ипотечного кредита на эти цели [9].</p>
        <p data-id="341">Доступность жилья для всех слоев населения остается актуальной проблемой и по сей день. Именно
            доступность и обеспеченность граждан жильем имеют непосредственное влияние на демографическую ситуацию,
            экономическую обстановку и уровень жизни в стране [6, 7].</p>
        <p data-id="342">Решение проблемы обеспечения населения жильем во многом зависит от платежеспособности
            потребителей, которая, в свою очередь, определяется динамикой соотношения уровня доходов и цен на жилье.
            Основные составляющие рыночной цены жилья — это затраты на строительно-монтажные работы (СМР), подключение к
            инженерным сетям, получение разрешительной документации, аренду или покупку земельного участка, прибыль
            застройщиков. В связи с этим основные способы активизации жилищного строительства в России могут быть
            основаны на разработке эффективных механизмов их решения — снижении стоимости жилья и сокращении
            незавершенного строительства [8, 11].</p>
        <p data-id="343">В настоящее время ключевыми факторами успеха строительной отрасли могут быть:</p>
        <p data-id="344">• внедрение новых современных индустриальных технологий жилищного строительства;</p>
        <p data-id="345">• использование инновационных технологий, современного оборудования в производстве;</p>
        <p data-id="346">• создание и внедрение новых строительных материалов, которые способствовали бы снижению
            себестоимости объектов строительства и, соответственно, увеличению количества строительных площадок;</p>
        <p data-id="347">• повышение качества продукции;</p>
        <p data-id="348">• развитие строительства объектов, оснащенных современными системами автоматизации и управления
            зданиями;</p>
        <p data-id="349">• создание благоприятных условий развития и эффективного управления строительным
            комплексом;</p>
        <p data-id="350">• совершенствование законодательства;</p>
        <p data-id="351">• эффективное использование ресурсов;</p>
        <p data-id="352">• сокращение количества отходов и уменьшение других воздействий на окружающую среду;</p>
        <p data-id="353">• обеспечение инженерной безопасности эксплуатации здания;</p>
        <p data-id="354">• повышение доступности ипотечных кредитов для граждан, кредитов для застройщиков, снижение и
            эффективное распределение рисков кредитования между всеми участниками рынка;</p>
        <p data-id="355">• разнообразие архитектурных решений.</p>
        <p data-id="356">В заключение отметим, что сегодняшняя ситуация в российском строительстве характеризуется
            наличием серьезных проблем и вместе с тем большими перспективами дальнейшего развития. Для этого необходимо
            привлекать молодые, талантливые, активные кадры в строительную сферу, повышать качество и производительность
            труда, обеспечить конкурентоспособность на строительном рынке и т. д.</p>
        <!--Абзац-->


        <!--Картинка-->                    <!--Картинка-->


        <!--Картинка-->                    <!--Картинка-->


        <!--Картинка-->                    <!--Картинка-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Картинка-->                    <!--Картинка-->


        <!--Источники-->
        <div class="footnote" data-id="357">
            <p>Список литературы</p>
            <p>1. Агентство социальных исследований «Столица». Строительство в Москве. Ожидания и проблемы (2015 г.)
                [Электронный ресурс]. — Режим доступа: http://www.agsis.ru/research/sociologicheskie/306/.</p>
            <p>2. Лукманова И. Г., Нежникова Е. В. Развитие и совершенствование интегрированной системы менеджмента //
                Вестник МГСУ. — 2014. — № 6. — С. 158–164.</p>
            <p>3. Мякишев С. А., Нежникова Е. В. Совершенствование оргструктуры управления строительным предприятием на
                основе оптимизации ее параметров // Казанская наука. — 2014. — № 8. — С. 55–58.</p>
            <p>4. Нежникова Е. В., Чаруева М. В., Папельнюк О. В. Микроэкономика: Учебник для вузов / под ред. И. Г.
                Лукмановой. — М.: АСВ, 2013.</p>
            <p>5. Горобняк А. А., Гумба Х. М. Деловая репутация как фактор, обеспечивающий надежность функционирования
                строительного предприятия // Строительство-формирование среды жизнедеятельности: сборник трудов 14-й
                Международной межвузовской научно-практической конференции студентов, магистрантов, аспирантов и молодых
                ученых. — 2011. — С. 372–375.</p>
            <p>6. Гумба Х. М., Мамаев М. И. Концептуальные основы формирования устойчивых конкурентных преимуществ //
                Baikal Research Journal. — 2014. — № 1. — С. 11.</p>
            <p>7. Гумба Х. М., Ермолаев Е. Е., Уварова С. С. Ценообразование и сметное дело в строительстве.
                Учебно-практическое пособие. — 2-е изд., перераб. и доп. / Х. М. Гумба, Е. Е. Ермолаев, С. С. Уварова //
                Учебно-методическое объединение рекомендует. — М.: Федеральное агентство по образованию, Московский гос.
                строит. ун-т, 2011.</p>
            <p>8. Лукманова И. Г., Мишланова М. Ю. Государственно-частное партнерство как механизм минимизации
                инфраструктурных разрывов // Научное обозрение. — 2015. — № 2. — С. 270–275.</p>
            <p>9. Мишланова М. Ю. Средообразующие факторы в деятельности строительных организаций // Приволжский научный
                журнал. — 2012. — № 3. — С. 203–209.</p>
            <p>10. Уварова С. С., Канхва В. С., Рогачева Я. А. Когнитивные технологии — императив устойчивого развития
                инновационной деятельности в строительстве // Вестник МГСУ. — 2016. — № 6. — С. 90–100.</p>
            <p>11. Федеральная служба государственной статистики Официальные публикации. Строительный комплекс
                Российской Федерации [Электронный ресурс]. — Режим доступа: http://www.gks.ru/.</p>
            <p>12. Нежникова Е. В. Конкретно-исторический аспект исследования проблемы обеспечения качества объектов
                жилищного строительства // Экономика и предпринимательство. — 2015. — № 3-2 (56-2). — С. 713-717.</p>
        </div>

    </article>


</section>
