<section>
    <div class="heading" id="heading02">Практика ценообразования</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header">

            <!--УДК-->
            <div class="udk"><span>338.51</span></div>

            <!--Заголовок-->
            <h2 id="article02">О выборе политики в ценообразовании</h2>

            <!--Анонс-->
            <div class="announcement"><p>Для повышения конкурентоспособности предприятия ему необходимо иметь гибкий
                подход к стратегии ценообразования. В этой связи требуется определенная политика при принятии решений. В
                статье рассматриваются способы выбора политики ценообразования, даются примеры по обоснованию
                эффективных пропорций затрат.</p></div>
            <!--Анонс-->

            <!--Авторы-->
            <div class="summary"><p><span>Соснаускене О. И.,</span> Объединенная группа компаний ЗАО «Оверта» и ЗАО
                «Конверсия-связь»</p></div>
            <div class="summary"><p><span>Шармин Д. В.,</span> Объединенная группа компаний ЗАО «Оверта» и ЗАО
                «Конверсия-связь»</p></div>
            <div class="summary"><p><span>Шерстнева Г. С.,</span> Объединенная группа компаний ЗАО «Оверта» и ЗАО
                «Конверсия-связь»</p></div>
            <!--Авторы-->

            <!--Ключевые слова-->
            <div class="keywords"><p><span>Ключевые слова:</span>цены, политика ценообразования, стратегии,
                финансирование, планирование.</p></div>
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Абзац-->
        <p>В настоящее время в каждой организации есть своя финансовая стратегия, которая ориентирует ее на достижение
            определенного будущего целевого состояния. Если в организации такой стратегии нет, то предприятие, по сути,
            лишь придерживается текущих тактических задач, но не развивается. Отсутствие финансовой стратегии: </p>
        <p>1) снижает конкурентоспособность организации на рынке; </p>
        <p>2) понижает ее инвестиционную привлекательность; </p>
        <p>3) сильно повышает риски предприятия и пр. </p>
        <p>Сбалансированная финансовая стратегия позволяет организации в рамках финансового управления
            осуществлять: </p>
        <p>1) финансовое планирование, учет и контроль; </p>
        <p>2) поддержку решений по цено&shy;образованию; </p>
        <p>3) управление ликвидностью и платежеспособностью; </p>
        <p>4) управление финансовой устойчивостью; </p>
        <p>5) управление инвестиционной деятельностью; </p>
        <p>6) управление акционерным капиталом и корпоративными ценными бумагами; </p>
        <p>7) управление эффективностью деятельности, а также определение дивидендной политики. </p>
        <p>Если организация стремится укрепить свои позиции на рынке, то роль финансовой стратегии ценообразования
            является определяющей. Это прежде всего касается тех организаций, которые проводят активную инвестиционную
            политику. Например, если организация осуществляет несколько инвестиционных проектов, которые связаны с
            расширением производства, обновлением основных производственных фондов и с внедрением новой информационной
            системы, то без продуманной финансовой стратегии они могут быть приостановлены на определенных стадиях
            производства. Выбор инструмента финансового управления для организаций, ориентированных на повышение
            эффективности бизнеса, обычно определяется с учетом внутренней среды организации [например, бюджетирования,
            контроллинга, комплексных концепций повышения эффективности (бережливое производство) и других
            инструментов]. </p>
        <p>Ценовую политику можно назвать активной и успешной, если она позволяет: </p>
        <p>1) улучшить позицию определенного вида продукции предприятия на внутреннем (внешнем) конкурентном рынке; </p>
        <p>2) максимально увеличить чистую прибыль предприятия. </p>
        <p>Изменение цен проводится маркетинговой структурой предприятия в том случае, если традиционные методы анализа
            движения цен, используемые в ходе оценки фактических результатов производственно-хозяйственной деятельности
            организации, оказываются непригодными. </p>
        <p>Бывает и так, что организация хочет понять, верна ли ценовая политика, которую она выбрала, особенно если
            речь идет о торговом предприятии. Такой анализ помогает рассмотреть все аспекты производства вплоть до
            закупки товара. Для того чтобы определить действенный метод повышения доходов предприятия, нужно
            проанализировать или сделать оценку рентабельности и финансовой устойчивости, эффективности использования
            вложенных средств и других активов организации. Источником такой информации будет служить бухгалтерская и
            управленческая отчетность. </p>
        <p>Объектом учета затрат и калькулирования продукции является отдельный заказ, фактическая себестоимость
            которого определяется после его изготовления. Как правило, до выполнения заказа все затраты на его
            производство считаются незавершенным производством. </p>
        <p>Отчет по бюджету объединяет в одно целое информацию по планированию, учету, контролю и анализу
            бизнес-процессов в организации. В отчетах сопоставляются запланированные и отчетные показатели, и только
            затем по результатам сопоставления проводится анализ-план фактических отклонений (оценка уровня отклонений
            фактических показателей от плановых). Отклонения измеряются в абсолютных (в руб.) и в относительных (в %)
            единицах измерения и могут рассчитываться между показателями, запланированными на определенный период и по
            отношению к любому базовому периоду. </p>
        <p>Выпуск сверхплановой продукции может быть как отрицательным, так и положительным отклонением, это зависит
            прежде всего от принятых установок, производственных и сбы-товых возможностей, а также от условий
            функционирования организации. </p>
        <p>Участники процесса ценообразования преследуют единственную цель — ликвидацию разницы между сметной и целевой
            себестоимостью, причем вычисление величины целевого сокращения затрат осуществляется в четыре этапа: </p>
        <p>1) определяется цена реализации за единицу (элемента) рассматриваемой продукции или услуги; </p>
        <p>2) рассчитывается целевая себестоимость продукции (за единицу и в целом); </p>
        <p>3) сравнивается целевая и сметная себестоимость продукции для установления величины необходимого (целевого)
            сокращения затрат; </p>
        <p>4) осуществляются перепроектирование, одновременное внесение улучшений в производственный процесс изделия для
            достижения сокращения затрат. </p>
        <p>Однако не существует идеальной базы распределения накладных затрат, при которой используется корректная база
            распределения для каждой организации, поэтому, как правило, применяются формальные процедуры корреляционного
            анализа, позволяющие по статистическим данным устанавливать связь вида накладных издержек с каким-либо из
            процессов или показателей производства. </p>
        <p>Содержание себестоимости состоит в том, что этот показатель отвечает на вопрос: какое количество средств
            потратило предприятие на производство продукции и продвижение ее до потребителя? Важнейшей особенностью
            себестоимости является то, что она носит объективный характер, т. е. не зависит от наличия или отсутствия
            нормативных документов по ее регулированию, желания или возможности ее исчисления бухгалтерскими службами
            производства и пр. </p>
        <p>Метод, который используется для решения задачи планирования и осуществляется детальной разработкой
            оперативных планов для организации в целом или отдельных подразделений организации, называется
            бюджетированием. Оперативный план составляется организациями в дополнение к бухгалтерскому учету и в целях
            обеспечения входной информацией, а затем консолидируется в единый бюджет или финансовый план. </p>
        <p>Для разработки финансовых планов используются такие исходные данные, как: </p>
        <p>1) договоры (контракты), заключенные с поставщиками и потребителями работ и услуг; </p>
        <p>2) прогнозные расчеты по реализации продукции, услуг потребителям; </p>
        <p>3) экономические нормативы, устанавливаемые государством (ставки налогообложения, тарифы отчислений во
            внебюджетные фонды, норма амортизационных отчислений по основным фондам, учетная ставка банковского
            процента, устанавливаемая Банком России, и пр.). </p>
        <p>Исчисление себестоимости изменяется под воздействием многих факторов, таких как: </p>
        <p>1) степень готовности продукции и ее реализации (различают себестоимость валовой, товарной, отгруженной и
            реализованной продукции); </p>
        <p>2) количество продукции (себестоимость единицы, всего объема выпущенной продукции); </p>
        <p>3) полнота включения текущих затрат (полная и ограниченная себестоимость); </p>
        <p>4) оперативность формирования [фактическая и нормативная (плановая) себестоимость]. </p>
        <p>Фактическая себестоимость отражает фактическое потребление ресурсов, нормативная себестоимость — номинальное
            потребление ресурсов. Характер формируемой себестоимости воздействует на классификацию и системы учета
            затрат. </p>
        <p>В зависимости от степени оперативности учета затрат различают учет фактических затрат и нормативных
            (плановых) затрат, где накапливается информация о фактической и нормативной себестоимости. </p>
        <p> Задачу определения и контроля затрат можно решить при помощи анализа затрат и построения системы управления
            затратами, которая ориентирована на снижение затрат (операционных издержек производства услуг). Для этого
            собирается первичная информация о затратах — стоимостные (цены на ресурсы, ставки оплаты труда и пр.) и
            операционные (расходные коэффициенты, нормативы затрат времени, характеристики производства работ и
            услуг).</p>
        <p>Для принятия ценовых решений затраты классифицируются на:</p>
        <p>1) постоянные и переменные;</p>
        <p>2) принимаемые (не принимаемые) в расчет при оценке;</p>
        <p>3) безвозвратные и возвратные;</p>
        <p>4) временные;</p>
        <p>5) предельные (приростные);</p>
        <p>6) планируемые и непланируемые.</p>
        <p>Для проведения контроля и регулирования затраты разделяются на регулируемые и нерегулируемые.</p>
        <p>Для принятия правильного решения по формированию оптимальной цены производимой продукции собирается
            информация о возможных затратах на производство и реализацию, спросе на данную продукцию на рынке, средних
            ценах на необходимое сырье и материалы, суммах покрытия на единицу изделия и др.</p>
        <p>При составлении финансового документа руководствуются данными, по структуре приближенными к бухгалтерской
            отчетности. Для облегчения сравнения плановых и фактических показателей составляется прогноз финансовых
            операций, который называется планом (сметой).</p>
        <p>При расчете себестоимости продукции используются статьи расходов (статьи калькуляции). Выделение статей
            калькуляции формируется по признаку отнесения затрат к продукту. Одна часть калькуляционных статей отражает
            прямые затраты, другая — косвенные. Также с помощью статей калькуляции осуществляется распределение
            ответственности за расходы между менеджерами различных подразделений. Непроизводственные расходы и скрытые
            резервы можно выявить лишь при помощи грамотного анализа учетной информации, при котором также повышается
            контроль за издержками производства.</p>
        <p>Баланс показателей сметы производства достигается путем применения специальных методов производственного
            анализа, таких как:</p>
        <p>1) метод предельного анализа, который позволяет определять величину наибольшей прибыли из равенства дохода
            (прирост выручки на единицу продукции) и предельных издержек (прирост затрат на единицу продукта);</p>
        <p>2) метод производственной функции, позволяющий осуществить прогнозирование запланированных показателей
            хозяйственной деятельности по факторам затрат труда и капитала.</p>
        <p>Меняя факторные признаки, можно достичь более эффективных пропорций между затратами труда и капитала для
            запланированного объема производства продукции.</p>
        <h3>Пример</h3>
        <p>Результаты финансовой деятельности предприятия определяются суммой прибыли (уровнем рентабельности). Чем
            больше величина прибыли (выше уровень рентабельности), тем эффективнее работает предприятие и устойчивее его
            финансовое положение. В примере для простоты отсутствуют запасы незавершенной и нереализованной
            продукции.</p>
        <p>Руководителю предприятия бухгалтерской службой представлен отчет о результатах деятельности за прошедший
            период (уровень нулевой).</p>
        <p>Уровень нулевой</p>
        <p>Фактическая прибыль — 1400 руб.</p>
        <p>Плановая прибыль — 112 000 руб.</p>
        <p>Отклонение прибыли — 110 600 руб.</p>
        <p>Отчет показывает плохую ситуацию (фактически полученная прибыль близка к нулю), и непонятно, за счет чего она
            получилась. Для того чтобы выяснить, нужен детализированный отчет.</p>
        <p>Уровень первый</p>
        <p>Объем продаж (единиц): фактически —10 000, по плану — 12 000.</p>
        <p>Отклонение — 2000.</p>
        <p>Выручка (руб.): фактически — 720 000, по плану — 840 000.</p>
        <p>Отклонение —120 000.</p>
        <p>Переменные затраты (руб.): фактически — 546 600, по плану — 552 000.&nbsp; </p>
        <p>Отклонение — 5400.</p>
        <p>Маржинальный доход (руб.): фактически — 173 400, по плану — 288 000.&nbsp; </p>
        <p>Отклонение — 114 600.</p>
        <p>Постоянные затраты (руб.): фактически — 172 000, по плану — 176 000.&nbsp; </p>
        <p>Отклонение — 4000.</p>
        <p>Прибыль (руб.): фактически — 1400, по плану — 112 000.</p>
        <p>Отклонение —110 600.</p>
        <p>Отчет первого уровня показывает причины такого плохого результата, но перечислим вопросы, которые остались
            открытыми:</p>
        <p>1. По какой причине фактическая выручка оказалась ниже плановой: из-за меньшего объема реализованной
            продукции или из-за отклонения по ценам реализации?</p>
        <p>2. Какие причины вызвали возникновение «затратного» дисбаланса, то, что плановый и фактический объемы
            произведенной и реализованной продукции сильно отличаются, а величины переменных затрат (связанных с объемом
            выпуска) близки друг к другу?</p>
        <p>Для того чтобы ответить на эти вопросы, необходимо провести дальнейшую детализацию отчета, назовем ее вторым
            уровнем (см. таблицу).</p>
        <h3>Таблица</h3>
        <h3>Детализация отчета о результатах деятельности</h3>
        <div class="table-holder">
            <table class="table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>Показатели</td>
                    <td>Фактически</td>
                    <td>Отклонение (+; –)</td>
                    <td>По гибкому бюджету</td>
                    <td>Отклонение (+; –)</td>
                    <td>По плану</td>
                </tr>
                <tr>
                    <td>Объем продаж, ед.</td>
                    <td>10 000</td>
                    <td>0</td>
                    <td>10 000</td>
                    <td>–2000</td>
                    <td>12 000</td>
                </tr>
                <tr>
                    <td>Выручка, руб.</td>
                    <td>720 000</td>
                    <td>+20 000</td>
                    <td>700 000</td>
                    <td>–140 000</td>
                    <td>840 000</td>
                </tr>
                <tr>
                    <td>Переменные затраты, руб.</td>
                    <td>546 600</td>
                    <td>+86 600</td>
                    <td>460 000</td>
                    <td>–92 000</td>
                    <td>552 000</td>
                </tr>
                <tr>
                    <td>Маржинальный доход, руб.</td>
                    <td>173 400</td>
                    <td>–66 600</td>
                    <td>240 000</td>
                    <td>–48 000</td>
                    <td>288 000</td>
                </tr>
                <tr>
                    <td>Постоянные затраты, руб.</td>
                    <td>172 000</td>
                    <td>–4 000</td>
                    <td>176 000</td>
                    <td>0</td>
                    <td>176 000</td>
                </tr>
                <tr>
                    <td>Прибыль, руб.</td>
                    <td>1400</td>
                    <td>–62 600</td>
                    <td>64 000</td>
                    <td>–48 000</td>
                    <td>112 000</td>
                </tr>
                </tbody>
            </table>
        </div>
        <p>При формировании отчета второго уровня использован подход «гибкого» бюджета (на практике это называлось «план
            в пересчете на факт»), «Гибкий» бюджет — это определение величины некоторого показателя на основе планового
            значения, приходящегося на единицу продукции, и фактического количества произведенной и (или) реализованной
            продукции.</p>
        <p><em>Определение величины показателя при сравнении планового значения, приходящегося на единицу продукции, и
            фактического количества произведенной или реализованной продукции называют «гибким» бюджетом.</em></p>
        <h3>Анализ выручки</h3>
        <p>Отчеты показывают, что плановое значение выручки должно было составить 840 тыс. руб., т. е. плановая цена
            единицы продукции составила: 840 000 руб. / 12 000 штук = 70 руб.</p>
        <p>Чтобы ответить на вопрос, только ли за счет изменения объема произведенной и реализованной продукции
            произошло отклонение в выручке, нужно определить, какой должна быть выручка, если фактическая цена равна
            плановой, но изменилось количество. Для этого плановую цену умножаем на фактически произведенное и
            реализованное количество: 70 руб. х 10 000 штук = 700 000 руб.</p>
        <p>Тогда с учетом планируемой цены реализации и фактически реализованного количества выручка должна была
            составить 700 тыс. руб., но фактически составила 720 тыс. руб., т. е. была обеспечена более высокая цена
            реализации: 720 000 руб. / 10 000 штук = = 72 руб.</p>
        <p>Общее отклонение фактической выручки от плановой составило:</p>
        <p>840 000 руб. — 720 000 руб. == 120 000 руб.</p>
        <p>(условно отклонению можно присвоить знак «минус», поскольку оно носит неблагоприятный характер), оно
            разбивается на два отклонения:</p>
        <p>1) между плановым значением и значением по гибкому бюджету:</p>
        <p>700 000 руб. — 840 000 руб. == –140 000 руб.</p>
        <p>(отклонение носит неблагоприятный характер, поэтому ему можно присвоить знак «минус»).</p>
        <p>Такое отклонение является следствием влияния количественного фактора;</p>
        <p>2) между значением по гибкому бюджету и фактическим значением:</p>
        <p>720 000 руб. — 700 000 руб. == 20 000 руб.</p>
        <p>(это отклонение является благоприятным, ему можно присвоить знак «плюс»).</p>
        <p>Таким образом, с учетом знаков сумма рассчитанных отклонений дает величину общего отклонения:</p>
        <p>–140 000 руб. + 20 000 руб. == –120 000 руб.</p>
        <p>По плану величина затрат на единицу: 552 000 руб. / 12 000 штук == 46 руб. Тогда с учетом фактически
            произведенного количества переменные затраты должны были составить 46 руб. х 10 000 штук == 460 000 руб.
            Таким образом, отклонение между значением переменных затрат по «гибкому» бюджету и плановым значением
            составляет460 000 руб. — 552 000 руб. == –92 000 руб.&nbsp; </p>
        <p>Соответственно, отклонение между фактическим значением и значением по «гибкому» бюджету равно:546 600 руб. —
            460 000 руб. == 86 600 руб.&nbsp; </p>
        <p>Составление «гибкого» бюджета позволяет дать более объективную оценку результатов деятельности предприятия и
            дает возможность выполнять более глубокий анализ возникших отклонений, более эффективно управлять затратами.
            Легче установить причины, по которым размер фактической прибыли отклоняется от бюджетного. Прибавляя к
            запланированной прибыли все благоприятные отклонения и вычитая неблагоприятные, можно согласовать сметную
            прибыль с фактической.</p>
        <p>Если предварительный анализ показывает недостижимость каких-то показателей, то при отклонении фактических
            результатов от намеченных они могут уточняться или пересматриваться. Такой метод именуется управлением по
            отклонениям.</p>
        <p>Динамичность и гибкость оценочного процесса обеспечиваются тем, что после уточнения показателей принимаются
            меры корректирующего действия по приведению фактических результатов в соответствие с запланированными.</p>
        <p>В зависимости от оборота продукции устанавливаются:</p>
        <p>1) закупочные цены, применяемые, как правило, на сельскохозяйственную продукцию;</p>
        <p>2) оптовые цены, используемые при приобретении продукции производственно-технического назначения;</p>
        <p>3) отпускные цены, применяемые аналогично оптовым ценам при закупке промышленной продукции и устанавливаемые
            организациями — изготовителями этой продукции;</p>
        <p>4) розничные цены, применяемые при реализации продукции производственно-технического назначения и товаров
            народного потребления населению.</p>
        <p>Формируя ценовую политику, нужно ответить на вопрос, какие затраты должна понести организация для получения
            прибыли при существующих ценах. Динамика цен определяется выработанной стратегией ценооб&shy;разования,
            поэтому встречаются ситуации, при которых реализовать выбранную организацией стратегию маркетинга нельзя без
            использования активных мер в области ценооб&shy;разования.</p>
        <p>Ценообразование делится на пассивное и активное.</p>
        <p>Пассивное ценообразование — это когда цена устанавливается либо под влиянием ценовых решений конкурентов,
            либо на основе затратного метода.&nbsp; </p>
        <p>Активное ценообразование — это когда цена и спрос на рынке формируются не только известными рыночными
            механизмами, но и в результате информационно-психологического воздействия на покупателя, через формирование
            соответствующих положительных образов о качестве товара, его производителях и продавцах.</p>
        <!--Абзац-->

        <!--Врезка-->
        <div class="incut">
            <h3>СОБЫТИЯ. ФАКТЫ. КОММЕНТАРИИ</h3>
            <p class="text-center"><strong>Стоимость самостоятельно выполняемых подрядчиком работ должна составлять не
                менее 25 % от цены контракта</strong></p>
            <p>Установлены виды и объемы работ по строительству и реконструкции объектов капитального строительства,
                которые подрядчики должны выполнять самостоятельно, без привлечения других лиц к исполнению своих
                обязательств по государственным и муниципальным контрактам. Стоимость таких работ должна составлять не
                менее 25 % от цены контракта. Соответствующее постановление, разработанное Минстроем России, размещено
                на сайте кабмина.</p>
            <p>Постановление разработано Минстроем России в целях обеспечения прозрачности исполнения государственных и
                муниципальных контрактов, повышения качества строительных и ремонтных работ.</p>
            <p>Напомним, что в Закон № 44-ФЗ «О контрактной системе в сфере закупок товаров, работ, услуг для
                обеспечения государственных и муниципальных нужд» были внесены изменения, которые устанавливают
                особенности заключения и исполнения контрактов на выполнение проектных и изыскательских работ и
                контрактов на строительство и реконструкцию объектов капитального строительства.</p>
            <img src="img/images/p_21_01.png">
            <p>В соответствии с этими изменениями правительство России наделяется полномочиями устанавливать виды и
                объемы работ, которые подрядчики должны выполнять без привлечения других лиц к исполнению своих
                обязательств по государственным или муниципальным контрактам. Такие виды работ и установлены указанным
                постановлением. В частности, заказчик при закупках для государственных и муниципальных нужд должен
                включать в документацию о закупке условие, предусматривающее установление видов и объемов работ,
                подлежащих самостоятельному выполнению. Стоимость таких работ должна составлять не менее 25 % от цены
                контракта. При этом подрядчик вправе сам выбрать из всех видов и объемов работ, установленных в
                документации о закупке, те, которые будет выполнять самостоятельно.</p>
            <p>Контракт на строительство, реконструкцию объекта капитального строительства должен содержать
                обязательство подрядчика по выполнению выбранных им работ и меры ответственности за невыполнение условий
                контракта в виде штрафа в размере 5 % цены таких работ.</p>
        </div>
        <!--Врезка-->

        <!--Подзаголовок-->                    <!--Подзаголовок-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Подзаголовок-->                    <!--Подзаголовок-->

        <!--Подзаголовок--><!--Подзаголовок-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Подзаголовок--><!--Подзаголовок-->

        <!--Врезка-->                    <!--Врезка-->

        <!--Таблица-->                    <!--Таблица-->

        <!--Врезка-->                    <!--Врезка-->


        <!--Картинка-->                    <!--Картинка-->

        <!--Абзац-->
        <!--Абзац-->

        <!--Источники-->
        <div class="footnote">
            <p>Список литературы</p>
            <p>1. Канхва В. С. Строительный аудит при кредитовании инвестиционно-строительных проектов // Экономика и
                предпринимательство. — 2016. — № 11-4 (76-4). — С. 1040–1043.</p>
            <p>2. Соснаускене О. И. Ценообразование в розничной торговле: Практическое пособие / О. И. Соснаускене, Д.
                В. Шармин, Г. С. Шерстнева. — М.: Дашков и К°, 2017. — 268 с.</p>
            <p>3. Силка Д. Н., Канхва В. С. Оценка эффективности и особенности финансирования девелоперских проектов //
                Экономика и предпринимательство. — 2015. — № 12-2 (65-2). — С. 40–43. </p>
        </div>

    </article>


</section>
