<section>
    <div class="heading" id="heading02">Экономика строительства</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="395">

            <!--УДК-->
            <div class="udk"><span>338.984</span></div>

            <!--Заголовок-->
            <h2 id="article07">О вопросах приобретения материалов, оборудования и резервов</h2>

            <!--Анонс-->
            <div class="announcement"><p>В крупной компании, в том числе поддерживающей концепцию управления проектами,
                существует масса задач, которые можно эффективно решить при условии достаточно грамотной предварительной
                формализации. В статье приводится пример осуществления подготовительных работ при закупке программного
                обеспечения.</p></div>
            <!--Анонс-->

            <!--Авторы-->
            <div class="summary"><p><span>Хелдман Ким,</span> менеджер-аналитик</p></div>
            <!--Авторы-->

            <!--Ключевые слова-->
            <div class="keywords"><p><span>Ключевые слова:</span>закупки, контрактование, управление проектами,
                менеджмент.</p></div>
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Абзац-->
        <p data-id="396"><em><strong>От редакции. </strong>Современные условия функционирования строительного
            предприятия в рамках его закупочной деятельности обусловливают необходимость обращения внимания не только на
            основные традиционные затратообразующие факторы, среди которых строительные материалы и ресурсы, но и на
            нематериальные активы, роль которых становится очень существенной. Как пример, важная тенденция, которая
            стремительно охватывает все больше предприятий, — это реализация BIM в сфере проектирования.</em></p>
        <p data-id="397"><em>Так, Минстрой России продолжает активную работу по доработке сводов правил и корректировке
            ГОСТов на проектирование для обеспечения возможности применения технологии информационного моделирования. Об
            этом сообщил замглавы Минстроя России Хамит Мавлияров на совещании с экспертами в НИУ МГСУ в мае 2017
            г.</em></p>
        <p data-id="398"><em>Замминистра напомнил, что правительством России была утверждена дорожная карта по внедрению
            технологий информационного моделирования на всех этапах жизненного цикла объекта капитального
            строительства.</em></p>
        <p data-id="399"><em>«По данному плану мы реализуем мероприятия, которые позволят повысить эффективность
            капитальных затрат с учетом затрат на все этапы жизненного цикла объекта», — пояснил Хамит Мавлияров.</em>
        </p>
        <p data-id="400"><em>Он также отметил, что оценку эффективности решений, связанных с проектированием,
            строительством, эксплуатацией и сносом объекта предлагается проводить на стадии обоснования инвестиций.</em>
        </p>
        <p data-id="401"><em>«Дорожная карта — это больше стратегический документ, который позволит развивать технологию
            информационного моделирования на уровне государства. Вместе с тем его использование со временем приведет к
            тому, что рынок и среда информационного моделирования станут более систематизированными, и от этого выиграют
            все участники строительного процесса», — рассказал Хамит Мавлияров.</em></p>
        <p data-id="402"><em>Он также отметил, что в целях апробации данных решений необходимо реализовать пилотные
            проекты, чтобы отработать нюансы на всех этапах: размещение объекта, проектирование, экспертиза,
            строительство, эксплуатация. Это позволит качественно дополнить нормативную базу. </em></p>
        <p data-id="403">Процесс строительства, а также любой иной деятельности, где применяется подход управления
            проектами, содержит в себе массу промежуточных этапов, каждый из которых является залогом успеха в отношении
            конечной цели. Определив задания для достижения промежуточных результатов, можно составлять список
            материальных резервов. Следует понимать, что без постановки точных заданий невозможно определить все
            материалы и резервы, необходимые для проекта. Если, например, одно из заданий заключается в калибровке
            какого-либо механизма, как можно составить список требуемой аппаратуры, не определив данного задания?</p>
        <p data-id="404">Наряду с уже распределенными кадровыми ресурсами список материалов и резервов является одним из
            факторов, определяющих стоимость проекта и бюджет. Составив перечень материалов, можно выбрать способ
            обеспечения ресурсов — покупку, аренду, договорную основу. Но сначала нужно ответить на ряд вопросов.</p>
        <h3 data-id="405">Вопросы</h3>
        <p data-id="406">Возьмем матрицу распределения ответственности. Этот документ составляет основу перечня
            материалов. Задания, определенные в нем, диктуют выбор необходимых материалов, резервов и оборудования.
            Обратимся к следующему примеру. Вы возглавляете разработку и внедрение нового программного обеспечения для
            АУП строительной компании, работающего в офисе. В списке заданий матрицы есть следующие: «Определить
            требования к программе», «Определить языки и платформу», «Разработать программные модули».</p>
        <p data-id="407">Руководствуясь данными требованиями, задаем следующие вопросы.</p>
        <p data-id="408">• Какие аппаратные компьютерные средства необходимы для создания программного кода?</p>
        <p data-id="409">• Какие аппаратные средства нужны для тестирования программ?</p>
        <p data-id="410">• Потребуется ли оборудование, используемое местными агентами?</p>
        <p data-id="411">• Если да, то какое оборудование имеется в их распоряжении?</p>
        <p data-id="412">• Потребует ли новая программа модернизации используемого оборудования?</p>
        <p data-id="413">• Какое программное обеспечение требуется для осуществления разработки, кодирования и
            тестирования?</p>
        <p data-id="414">Не упускайте из виду место проведения работ, новые технологии и услуги. Поскольку данный проект
            касается беспроводных технологий, нужно найти ответы на следующие вопросы.</p>
        <p data-id="415">• Пользуется ли компания услугами провайдера беспроводной спутниковой связи?</p>
        <p data-id="416">• Есть ли у нее средства поставлять собственные услуги?</p>
        <p data-id="417">Также важны вопросы, связанные с местом проведения работ.</p>
        <p data-id="418">• Будет ли работа группы сосредоточена в одном месте? Если нет, понадобится ли место для
            проведения общего установочного собрания и периодических совещаний?</p>
        <p data-id="419">• Должна ли вся группа работать в одном месте? Если да, то какие ресурсы нужны для обеспечения
            такой работы?</p>
        <p data-id="420">Для определения основных ресурсных потребностей проекта лучше провести совещание с группой и
            основными заинтересованными лицами. И, как вы уже догадались, эти потребности нужно задокументировать. Можно
            составить простой документ, как в примере, приведенном ниже, с указанием количества требуемых ресурсов, их
            наличия или возможностей обеспечения и т. д.&nbsp; </p>
        <p class="text-center" data-id="421">Материалы и список оборудования (типовая форма)</p>
        <p data-id="422">I. Основная информация</p>
        <p data-id="423">Наименование проекта:_______________ Номер проекта:________________</p>
        <p data-id="424">Имя менеджера проекта: _______________ Дата: _______________</p>
        <p data-id="425">II Необходимые материалы и оборудование</p>
        <div class="picture" data-id="426"><img src="http://panor.ru/personal/reader/articles/199312/img/images/1.png"></div>
        <p data-id="427">Сюда также можно включить дополнительные графы с указанием потенциальных поставщиков или
            производителей, а также стоимости единицы продукта. В нашем примере все перечисленные ресурсы обеспечиваются
            поставщиком, поэтому имеет смысл внести дополнительную графу с названиями и именами поставщиков или
            исполнителей. Вы можете внести другие изменения в соответствии с вашими потребностями и вложить этот
            документ в журнал проекта для будущих ссылок.</p>
        <h3 data-id="428">Производить или закупать</h3>
        <p data-id="429">Такой вопрос актуален не для всех проектов, но он может возникнуть в связи с каким-либо
            аспектом текущих проектных работ и заключается в следующем: производить либо закупать продукцию или услуги,
            необходимые для проекта?</p>
        <p data-id="430">При принятии подобных решений нужно определить, что является более эффективным для организации:
            производить продукцию или услуги для обеспечения проекта самостоятельно либо закупать их. Подобные решения
            могут приниматься в отношении отдельных ресурсов, программ или даже всего проекта в целом. Некоторые проекты
            являются слишком дорогостоящими для одной организации, поэтому передача части проектного обеспечения внешним
            источникам представляется наиболее эффективной. Решение о производстве или закупке обеспечения всего проекта
            принимается на стадии его инициации.</p>
        <p data-id="431">В этой связи необходимо учитывать несколько факторов. Естественно, самый важный из них —
            стоимость. Следует рассчитать себестоимость производства продукции или услуги (товары, материалы,
            оборудование, местоположение, оплата рабочей силы), а также косвенные затраты. Косвенные затраты включают
            стоимость обучения, управления, административные накладные расходы, текущее техническое обслуживание.
            Составьте учетный список всех затрат на производство продукции или услуги и сравните их со стоимостью
            закупки или размещения заказа на производство такой продукции или услуги. Зачастую при принятии решения не
            учитываются затраты на текущий ремонт и обслуживание или стоимость изменения заказа, так что будьте
            внимательны.</p>
        <div class="incut" data-id="432">
            <p>Затраты не являются единственным фактором, учитываемым при принятии решения о производстве или закупке.
                Также имеют значение профессиональные навыки, обучение, производительность и наличие ресурсов. </p>
        </div>
        <p data-id="433">Помимо этого, существуют факторы, зависящие не только от себестоимости. Среди них —
            производительная мощность организации, т. е. ее способность обеспечить продукцию данного масштаба. Какова
            квалификация сотрудников, которые будут работать с данной продукцией или услугой? Требуется ли им
            дополнительное обучение или они смогут произвести продукцию/услугу без особой предварительной подготовки?
            Учтите возможности управления производственным процессом и коммерческую тайну. Если производство продукции
            требует разглашения засекреченных составляющих или волшебной формулы, вряд ли стоит размещать заказ на ее
            производство внешними источниками. Рассчитайте наличие достаточного количества сотрудников и текущий объем
            работ. Если все сотрудники полностью заняты на реализации первоочередных проектов, то они, скорее всего, в
            настоящее время не справятся с новой продукцией или услугой, и, следовательно, покупка необходимых ресурсов
            будет наиболее целесообразной.</p>
        <p data-id="434">Целью данного процесса является выбор наиболее эффективного варианта ресурсного обеспечения
            проекта — покупка или собственное производство продукции или услуги. Имейте в виду, что такое решение может
            относиться как к отдельному продукту или заданию, так и ко всему проекту в целом. В случае закупки ресурсов
            требуется составить план закупок.</p>
        <h3 data-id="435">План закупок</h3>
        <p data-id="436">В некоторых организациях имеются специальные отделы, решающие вопросы снабжения, которые
            разработали собственную политику закупок продукции и услуг. Они могут предоставить целые списки поставщиков
            на выбор или организовать серьезные торги (в зависимости от наименования закупаемого товара). А также в
            зависимости от суммы закупки может возникнуть целый ряд процедур, которые потребуют наличия множества
            подписей или проведения тщательного анализа заявки. В других организациях закупочная политика максимально
            упрощена: необходимо всего лишь подписать ваши полномочия в соответствии с занимаемой должностью или
            выполняемой функцией.</p>
        <p data-id="437">Менеджер проекта должен иметь четкое представление о процессе закупок в своей организации. Если
            существует множество правил, то малейшее упущение может стоить задержки проекта и, соответственно,
            дополнительных расходов.</p>
        <div class="incut" data-id="438">
            <p>План закупок — содержит перечень и характеристику ресурсов или услуг, подлежащих закупке у внешнего
                поставщика, а также способ управления такими закупками.</p>
        </div>
        <p data-id="439">При любой закупочной политике компании необходимо составить план закупок ресурсов,
            приобретаемых для проекта. Этот план может быть простым перечнем необходимых ресурсов или услуг с указанием
            количества, цены и поставщика в формате электронной таблицы, аналогичной представленной выше. Существуют
            также более сложные и подробные планы, включающие промежуточные результаты, требования, сроки и т.
            д.&nbsp; </p>
        <p data-id="440">При закупке всего объема ресурсов и услуг внешнего поставщика одновременно с таким планом или
            вместо него можно подготовить описание работ. Не забывайте, что описание проекта может также использоваться
            в качестве описания работ. Это происходит в случае размещения заказа на выполнение всего проекта внешним
            подрядчиком.</p>
        <div class="incut" data-id="441">
            <p>Если быть совсем точным, мы считаем целесообразным рассматривать описание работ в качестве составляющей
                устава проекта. В таком случае описание проектных работ представляет собой характеристику продукции или
                услуг, которые должны быть произведены в результате реализации проекта, что не составляет никакой
                разницы с описанием работ в данном случае. Описание работ может быть также составлено в связи с планом
                закупок при приобретении ресурсов у поставщика, и в нем содержится та же информация, что и в документе,
                разработанном как часть устава проекта. </p>
        </div>
        <h3 data-id="442">План ресурсов</h3>
        <p data-id="443">Ресурсы включают в себя сотрудников, оборудование, резервы и программное обеспечение, т. е.
            все, что требуется для завершения проектных работ. Мы уже определили все возможные ресурсы проекта, включая
            оценку квалификации, распределение профессиональных навыков по заданиям, распределение персонала, физические
            ресурсы, необходимые для проекта.&nbsp; </p>
        <div class="incut" data-id="444">
            <p>План ресурсов — представляет характеристику всех ресурсов, необходимых для осуществления проекта, включая
                кадровые ресурсы, продукцию и материалы.</p>
        </div>
        <p data-id="445">Вся эта информация в совокупности называется планом ресурсов. Как уже упоминалось, план
            ресурсов включает в себя перечень всех необходимых проектных ресурсов. План закупок мы бы включили в журнал
            проекта как сокращенный вариант плана ресурсов. Скорее всего, вы начинаете понимать, насколько данный журнал
            может оказаться полезным в будущем. Если вас назначают менеджером проекта, аналогичного по содержанию и
            масштабу уже выполненному, вся информация, сохраненная в таком журнале, может оказать неоценимую услугу.
            Зачем изобретать велосипед? Текущий план ресурсов можно прекрасно использовать в качестве плана ресурсов
            будущего проекта. Как минимум при анализе этой информации возникают вопросы или идеи для нового проекта.</p>
        <p data-id="446">План ресурсов может включать закупку части или всей продукции либо услугу внешней стороны, что,
            в свою очередь, потребует составления контракта. Данную часть статьи мы завершаем обсуждением вопросов,
            связанных с составлением и заключением контрактов.</p>
        <h3 data-id="447">Контракт на ресурсы</h3>
        <p data-id="448">Менеджеры проектов часто закупают продукцию или услуги на контрактной основе. Во многих
            организациях действуют специальные отделы, занимающиеся переговорными процессами и составлением контрактов,
            но это не значит, что вы можете расслабиться и спокойно наблюдать, как другие работают. Менеджер проекта
            должен иметь точное представление о процессе заключения контрактов. Именно он обсуждает с поставщиком ход
            проектных работ и докладывает состояние дел руководству отдела снабжения и закупок либо менеджеру по
            контрактам в целях осуществления выплат поставщику. Во многих случаях оплата контракта осуществляется
            поэтапно, в соответствии с основными событиями или промежуточными результатами, оговоренными в самом
            контракте. Оплата подтверждается после достижения такого результата и получения подписей. Менеджер проекта
            уведомляет отдел закупок о достижении соответствующего промежуточного результата.&nbsp; </p>
        <p data-id="449">Менеджер по контрактам не является менеджером проекта, поэтому он рассчитывает на то, что вы
            обязаны проследить за выполнением всех условий контракта. Это означает, что вы должны следить за выполнением
            поставщиком своих обязательств и соответствием такого выполнения условиям контракта. В случае нарушений
            менеджер проекта совместно с отделом закупок документально оформляет претензию, уведомляет об этом
            поставщика и предпринимает действия по устранению проблем либо прерывает контракт. Если вы являетесь лицом,
            контролирующим данный контракт, эти обязанности ложатся на вас.</p>
        <div class="incut" data-id="450">
            <p>Контракты являются способом обеспечения выполнения сторонами, договорившимися об обмене товаров и услуг
                на деньги (формально это называется «компенсация», что практически всегда означает деньги), своей части
                сделки. Контракт имеет исковую силу и обеспечивает поставку товара и его оплату.</p>
        </div>
        <p data-id="451">Как покупатель товаров или услуг вы должны составить описание работ, чтобы представить точные
            технические требования и не упустить важных объектов контракта. Поставщик или производитель использует такое
            описание для оценки своих возможностей по выполнению условий контракта (эго происходит в течение следующего
            цикла, о котором мы поговорим через минуту). Одновременно составляются матрица распределения
            ответственности, смета и проводится анализ целесообразности закупки или производства.</p>
        <div class="incut" data-id="452">
            <p>Жизненный цикл контракта — контракты проходят определенные фазы развития, аналогичные жизненным циклам
                проекта. Фазы жизненного цикла контракта включают запрос, предложение, получение предложения,
                заключение. </p>
        </div>
        <p data-id="453">Мы уже рассмотрели цикл запроса. Это прежде всего создание описания работ и согласование
            сторонами требований и промежуточных результатов проекта. Если выполнять все рекомендации по разработке
            описания проекта, получится ясное и лаконичное описание работ, точно характеризующее проектные работы. Далее
            рассмотрим процесс предложения.</p>
        <h3 data-id="454">Запрос на предложение и т.д.</h3>
        <p data-id="455">Следующий цикл контракта — предложение. В ходе данного процесса вы подтверждаете соответствие
            целей проекта и вносите необходимые изменения. Основная задача — подготовить заявки на получение информации,
            относящейся к целям проекта и промежуточным результатам, для поставщиков, которые будут участвовать в
            тендере. Распространение данной информации между потенциальными поставщиками производится в течение
            следующего цикла — процесса выполнения.</p>
        <div class="incut" data-id="456">
            <p>Заявка предложения (request for proposal — RFP) — закупочный документ, используемый для обеспечения
                реакции вендоров<sup><a href="#footnote10630_1">1</a></sup> при покупке товаров или услуг либо
                размещении заказа на проектные работы.</p>
        </div>
        <p data-id="457">Для подготовки заявок па получение информации от поставщиков используются цели проекта и
            описание работ. Такие заявки называются «заявка предложения», «информационный запрос», «запрос цен». Смысл
            заключается в структурировании целей проекта таким образом, чтобы поставщики могли оценить свои возможности
            по своевременному и качественному выполнению работ. В данном случае необходимо свериться с существующей
            политикой вашей организации в отношении подачи таких заявок: могут существовать особые формы составления
            запросов или особый порядок их подачи.</p>
        <p data-id="458">В процессе составления и подачи заявки предложения иногда возникает ряд противоречий. Некоторые
            менеджеры проектов убеждены, что в заявке должны быть указаны все возможные проектные условия. Например,
            если вы заключаете контракт на новую компьютерную программу, в заявке необходимо указать язык
            программирования, операционную систему, базу данных и т. д. Однако другие менеджеры считают, что такие
            ограничения ставят вендоров в жесткие рамки и не дают возможности поиска творческих решений. Кроме того,
            организация лишается альтернативного взгляда на проектные возможности, так как вся специфика проекта уже
            задана.&nbsp; </p>
        <p data-id="459">Существуют менеджеры проектов, практикующие оба подхода в зависимости от ситуации. Такое
            решение кажется наиболее разумным. При наличии цельной проектной идеи и конкретных требований к операционной
            системе или другим деталям работ данную информацию нужно указать в заявке предложения. Если вы не совсем
            уверены, как лучше выполнить проектное задание, и предпочитаете предоставить поставщику возможность
            принимать самостоятельные решения или хотите проверить альтернативный подход, подробно изложите проектные
            требования и цели проекта и дайте вендору возможность изложить свои решения в ответном документе.</p>
        <div class="incut" data-id="460">
            <p>Если проектные требования или спецификации должны быть подробно изложены в заявке предложения, убедитесь,
                что они включены в окончательный вариант контракта.</p>
        </div>
        <p data-id="461">В отношении заявок предложений, особенно касающихся технологически х проектов, нужно учитывать
            тот факт, что технологии в некоторых областях развиваются так быстро (например, телефония), что заявленное
            оборудование или программное обеспечение могут устареть к моменту завершения поставщиком проекта. Поэтому
            следует тщательно определять требования к конкретным спецификациям, не оставляя вендору слишком широкого
            выбора альтернативного подхода.</p>
        <h3 data-id="462">Получение предложений</h3>
        <p data-id="463">Процесс получения предложений является частью жизненного цикла контракта, когда поставщики
            подают ответные предложения на заявки предложений, информационные запросы и т. д. Этот процесс также
            называется «ответ продавца на заявку». Вендоры участвуют в конкурсе на получение заказа и прилагают все
            усилия, чтобы наиболее эффективно удовлетворить все требования, указанные в заявке предложения. Основная
            часть работы в данном процессе осуществляется производителем.</p>
        <p data-id="464">Некоторые организации требуют, чтобы для участия в тендере заявки предложения поставщики
            зарегистрировались в списке вендоров. Для этого нужно представить информацию об опыте работы, предлагаемых
            товарах и услугах, ценах по стандартным предложениям, руководителях компании и т. д. Отдел закупок
            рассматривает квалификацию поставщика и принимает решение о внесении его в список уполномоченных вендоров
            организации. Такой список, как правило, корректируется ежегодно, а в тендерах на получение заказа могут
            принимать участие только поставщики, указанные в данном списке.</p>
        <p data-id="465">Одновременно с публикацией или оглашением заявки предложения сообщается срок представления
            ответа. Вендоры получают копии заявки, рассматривают требования и приступают к составлению ответов. Но
            прежде чем подавать такие ответы, они могут задавать уточняющие вопросы.</p>
        <p data-id="466">Через какое-то время после публикации заявки необходимо провести конференцию или собрание
            участников тендера, где они смогут в режиме открытого форума задать любые вопросы, связанные с заявкой
            предложения. Политика организации может ограничивать ваше общение с потенциальными продавцами до завершения
            процесса заявки предложения. Исключением становится конференция вендоров, где все участники могут задавать
            вопросы и сразу же получать ответы, что исключает возможность фаворитизма.</p>
        <div class="incut" data-id="467">
            <p>Соблюдайте правила организационной закупочной политики, касающиеся контактов с вендорами, в течение
                процесса заявки предложения. Нарушение этих правил может дисквалифицировать вендора или поставить под
                угрозу его репутацию.</p>
        </div>
        <p data-id="468">Используйте рекламу для предварительного оповещения всех поставщиков о будущей конференции.
            Объявление о ее проведении может быть размещено на сайте компании, в профессиональных журналах или других
            изданиях в зависимости от закупочной политики организации. Еще одна возможность — объявить дату конференции
            одновременно с выпуском заявки предложения. Если сроки еще не определены, укажите, где поставщики могут
            получить такую информацию.</p>
        <h3 data-id="469">Выбор поставщика</h3>
        <p data-id="470">Последняя фаза жизненного цикла контрактования — присуждение (заключение). На этой стадии
            происходят анализ всех поступивших на заявку предложения ответов, выбор поставщика и заключение контракта.&nbsp; </p>
        <p data-id="471">Существует несколько методов выбора поставщика и присуждения контракта. Обычно для этих целей
            создается отборочный комитет, который анализирует и распределяет ответы на основе одной из следующих
            методик.&nbsp; </p>
        <p data-id="472"><strong>Позиционные системы</strong></p>
        <p data-id="473">Модель количественной оценки, или позиционная система, представляет собой прекрасный инструмент
            оценки ответов на заявку предложения. Модель объективна и гарантирует, что при анализе ответов все члены
            отборочного комитета используют одинаковые критерии.</p>
        <div class="incut" data-id="474">
            <p>Позиционная модель количественной оценки — используется в процессе закупки и выбора проектов для оценки и
                сопоставления различных критериев и принятия окончательного решения.</p>
        </div>
        <p data-id="475">Как правило, члены отборочного комитета определяют критерии оценки до получения ответов на
            заявку предложения: иногда эти критерии указываются непосредственно в заявке, чтобы поставщики могли
            понимать принципы отбора их предложений. Предположим, наш проект разработки нового ПО выставлен на конкурс.
            В заявке предложения указана конкретная среда разработки, в которой должен работать вендор, так как новое ПО
            должно быть совместимо с другими программами. Поскольку вопрос совместимости с используемыми системами и
            программами имеет существенное значение, отборочный комитет включил его в список критериев принятия решения.
            Другие критерии определяются в соответствии с их значимостью для проекта и отборочного комитета.</p>
        <p data-id="476">Каждый критерий оценивается в соответствии с его значимостью для отборочного комитета: чем
            больше значение, тем выше оценка (позиция). Затем каждый ответ поставщиков изучается и получает оценку в
            соответствии с системой позиционирования критериев. На данной стадии проявляется личный фактор, так как
            каждый член комитета оценивает степень соответствия ответа поставщика тому или иному критерию заявки
            предложения по собственному усмотрению.</p>
        <p data-id="477">В таблице представлен фрагмент модели количественной оценки, где в левом столбце перечислены
            критерии, в следующем столбце указана значимость данного критерия, а далее — рейтинг нескольких вендоров.
            Для получения количественной оценки рейтинг каждого критерия умножается на позицию данного критерия.</p>

        <h3 data-id="478">Таблица</h3>
        <h3 data-id="479">Позиционная модель количественной оценки</h3>
        <div class="table-holder" data-id="480">
            <table class="table">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>Критерий</td>
                    <td>Позиция</td>
                    <td>Вендор «А», рейтинг</td>
                    <td>Вендор «А», оценка</td>
                    <td>Вендор «Б», рейтинг</td>
                    <td>Вендор «Б», оценка</td>
                </tr>
                <tr>
                    <td>Среда разработки, предложенная для программы</td>
                    <td>5</td>
                    <td>4</td>
                    <td>20</td>
                    <td>4</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>Техническая квалификация членов проектной группы претендента</td>
                    <td>3</td>
                    <td>5</td>
                    <td>15</td>
                    <td>3</td>
                    <td>9</td>
                </tr>
                <tr>
                    <td>Простота производства и поддержки</td>
                    <td>2</td>
                    <td>4</td>
                    <td>8</td>
                    <td>5</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Количественная оценка</td>
                    <td></td>
                    <td></td>
                    <td>43</td>
                    <td></td>
                    <td>39</td>
                </tr>
                </tbody>
            </table>
        </div>

        <p data-id="481">Для получения окончательного результата все оценки вендора суммируются. Контракт заключается с
            вендором, получившим наибольшее количество баллов. В таблице контракт присуждается вендору «А».</p>
        <p data-id="482"><strong>Системы отбора</strong></p>
        <p data-id="483">Системы отбора используются для отбора предложений, которые не соответствуют указанным
            критериям. Например, для нашего беспроводного программного обеспечения требуется определенная платформа,
            чтобы ПО было совместимо с используемым аппаратным и программным обеспечением. Платформа может
            использоваться как критерий отбора. Если в предложении Вендора «А» указана другая платформа, оно сразу же
            исключается из конкурса.</p>
        <div class="incut" data-id="484">
            <p>Системы отбора — используются в процессе закупки для выбора критериев, которые должны быть соблюдены,
                чтобы предложение перешло на следующий уровень процесса отбора.</p>
        </div>
        <p data-id="485">Отборочный комитет определяет критерии отбора до получения ответов на заявку предложения.
            Системы отбора часто применяются одновременно с моделями количественной оценки. Например, для того чтобы
            предложение прошло позиционную систему, оно должно соответствовать всем критериям отбора.</p>
        <h3 data-id="486">Присуждение контракта</h3>
        <p data-id="487">Завершающая стадия данного процесса — присуждение контракта. Зачастую контракт составляется
            отделом закупок, но вы должны принимать в этом активное участие. Убедитесь, что все требования заявки
            предложения внесены в окончательный вариант контракта. Сверьте сроки, промежуточные результаты, требования и
            т. д. После подписания запросите копию для вашего архива.</p>
        <p data-id="488">Контракт и описание работ применяются для контроля исполнения вендором своих обязательств и
            обеспечения достижения согласованных промежуточных результатов. Если этого не происходит, все нарушения
            фиксируются документально. В случае если поставщик отказывается или не может устранить нарушения, менеджер
            проекта совместно с отделом закупок может применить санкции или прервать контракт.</p>
        <!--Абзац-->
        <!--Подзаголовок-->                    <!--Подзаголовок-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Подзаголовок-->                    <!--Подзаголовок-->

        <!--Абзац-->                    <!--Абзац-->

        <!--Врезка-->
        <!--Врезка-->

        <!--Подзаголовок-->                    <!--Подзаголовок-->

        <!--Врезка-->        <!--Врезка-->

        <!--Врезка--><!--Врезка-->

        <!--Подзаголовок-->                    <!--Подзаголовок-->

        <!--Врезка-->
        <!--Врезка-->

        <!--Подзаголовок-->                    <!--Подзаголовок-->

        <!--Врезка-->
        <!--Врезка-->

        <!--Подзаголовок-->        <!--Подзаголовок-->

        <!--Подзаголовок-->                    <!--Подзаголовок-->

        <!--Таблица-->                    <!--Таблица-->


        <!--Сноски-->
        <div class="footnote" data-id="489">
            <!--Список литературы-->
            <ol>
                <li>
                    <small id="footnote10630_1">Вендор (vendоr, вендер) — компания-поставщик (зачастую, производитель)
                        товаров и услуг под своей торговой маркой.
                    </small>
                </li>
            </ol>
        </div>

        <!--Источники-->
        <div class="footnote" data-id="490">
            <p>Список литературы</p>
            <p>1. Хэлдман Ким. Управление проектами. Быстрый старт / Под ред. С. И. Неизвестного. Пер. с англ. Шлаковой
                Ю. — М.: ДМК Пресс, 2014.</p>
            <p>2. Пилотные проекты с применением BIM-моделирования будут запущены в рамках дорожной карты // Минстрой
                России [Электронный ресурс]. — Режим доступа:
                http://www.minstroyrf.ru/press/pilotnye-proekty-s-primeneniem-bim-modelirovaniya-budut-zapushcheny-v-ramkakh-dorozhnoy-karty/
                (дата обращения: 16.05.2017).</p>
        </div>

    </article>


</section>
