<section>
    <div class="heading" id="heading02">Автоматизация в строительстве</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="491">

            <!--УДК-->
            <div class="udk"><span>69.003</span></div>

            <!--Заголовок-->
            <h2 id="article08">BIM-технологии в строительной организации</h2>

            <!--Анонс-->
            <div class="announcement"><p>В статье определены основные тенденции развития инвестиционно-строительной
                сферы при высокой интенсивности развития внешней среды. Предложено основное направление в системе
                управления проектами за счет формирования и использования информационной модели. В результате выявлены
                основные преимущества и перспективы ее внедрения в инвестиционно-строительную отрасль.</p></div>
            <!--Анонс-->

            <!--Авторы-->
            <div class="summary"><p><span>Яськова Н. Ю.,</span> РАНХиГС</p></div>
            <div class="summary"><p><span>Мурашова О. В.,</span> РАНХиГС</p></div>
            <!--Авторы-->

            <!--Ключевые слова-->
            <div class="keywords"><p><span>Ключевые слова:</span>инвестиционно-строительная сфера, строительная отрасль,
                инвестиционно-строительный проект, инновации, информационная модель, управление проектом.</p></div>
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Абзац-->
        <p data-id="492">Современный контекст развития требует строительства ускорения в решении задач пространственной
            реструктуризации и подготовки каркаса жизнедеятельности страны к новым вызовам. Жесткая конкуренция на
            строительном рынке и высокая скорость происходящих изменений во внешней среде реализуемого проекта,
            связанные с технологической революцией и активной информатизацией, привели к поиску и разработке
            инструментов решения сложившейся ситуации. Вопросы комплексного использования информационных ресурсов,
            интегрирования функциональных возможностей разных программных комплексов, развитие методов и алгоритмов
            обработки и предоставления информации, создание информационных моделей сейчас активно обсуждаются в
            инвестиционно-строительной сфере [1]. Пристального внимания заслуживает широко обсуждаемая в
            профессиональных кругах технология информационного моделирования зданий (сокращенно BIM).</p>
        <p data-id="493">Исследование процесса информатизации в инвестиционно-строительной сфере показало, что его
            целесообразно осуществлять в два этапа. На первом необходимо реализовать процесс автоматизации. На втором —
            обеспечить переход на интеллектуальные технологии. Насколько этот переход будет ускоренным или плавным,
            никто не может сейчас сказать. Поскольку переход на интеллектуальные технологии не является сиюминутной
            целью и предметом ближайшего рассмотрения, а многие методы все еще требуют значительного участия трудовых
            ресурсов, то сосредоточим свое внимание на возможности автоматизированного выполнения работ в
            строительстве. </p>
        <p data-id="494">Обобщенно процесс автоматизации направлен на ускорение принятия решений, сокращение вводимой
            информации и ошибок, связанных с человеческим фактором. На это направлены и технологии BIM. Однако из-за
            сложного взаимодействия традиционного программного обеспечения для планирования и организации и программных
            комплексов технологии BIM многие преимущества технологии остаются невостребованными. Так, например,
            использование данных, хранящихся в информационной модели, их интеграция с данными уже реализованных проектов
            позволят сократить время, повысить качество производства строительно-монтажных работ. Однако именно
            использование BIM-технологий на этапе строительства и оценка их влияния на эффективность проекта и
            результаты деятельности участников строительства вызывают наибольшее количество вопросов. Кроме того, на
            фоне основного контекста обсуждения внедрения BIM-технологий в проектные организации и систему управления
            проектов результаты внедрения в строительный процесс явно недооценены. В связи с этим, а вследствие того что
            внедрение в деятельность и реализацию проектов строительных компаний может дать существенный результат,
            учитывая большую долю затрат на строительные работы в общей себестоимости проекта [2], основной акцент будет
            касаться использования автоматизированных технологий в деятельности строительных предприятиях, а также в
            проектах, находящихся на этапе строительства. </p>
        <p data-id="495">Продолжающийся кризис в инвестиционно-строительной сфере [3], растущая конкуренция, а также
            высокая динамика происходящих изменений во внешней среде приводят к необходимости выполнения работ в более
            короткие сроки, например, за счет увеличения объема работ в единицу времени [4], т. е. обостряется
            необходимость увеличения необходимости интенсивности использования ресурсов, находящихся в проекте, а также
            выполнения работ одновременно. В связи с этим возрастает вероятность возникновения конфликтов разного
            характера (технического, организационного, личностного и т. д.). Характеристики рабочих пространств, работ и
            процессов по мере осуществления строительства изменяются во времени. Разработка информационной модели с
            учетом фактора времени позволит отследить выполнение работ еще на этапе проектирования и выявить
            потенциально возможные и возникающие конфликты.</p>
        <p data-id="496">Управление временем и стоимостью задает основные цели воздействия на инвестиционно-строительные
            проекты [5]. Кроме того, серьезное внимание уделяется проблеме качества. Исходный план может быть не самым
            эффективным с точки зрения управления временем и стоимостью. Трудности возникают как вследствие постоянно
            меняющейся внешней среды, так и потому, что для сотен работ проекта существуют различные варианты выполнения
            этих работ. Например, могут быть использованы различные виды трудовых ресурсов, материалов и/или
            оборудования. Это создает проблему комбинаторного поиска с целью определения лучшего варианта, который
            позволит обеспечить эффективность реализации проекта.</p>
        <p data-id="497">Несмотря на предпринимаемые ранее попытки автоматизации планирования, оно в той же степени, что
            и организация строительства, продолжает оставаться процессом трудоемким и отнимающим много времени. Системы,
            которые предлагались и использовались до недавнего времени, были ориентированы на автоматизацию процессов
            планирования на основе экспертных систем. Экспертные методы, использующие эвристические и приобретенные
            знания, были заложены в компьютерном прототипе. В процессе их реализации численные данные вводятся
            пользователем. При этом графическая часть проектной документации используется фрагментарно. Основной
            недостаток заключается в ограниченности и зависимости от знаний, что приводит к минимальным взаимодействиям
            пользователя с системой и низкой степени ответственности человека. А тот факт, что каждый проект уникален, а
            каждая компания имеет свои возможности, приводит к тому, что унифицированные правила не могут в полной мере
            использоваться для принятия решений.</p>
        <p data-id="498">Следующим этапом стала интеграция моделей из графической среды (например, CAD-системы) с
            инструментами планирования (например, Primavera и т. п.). Полученный инструмент полезен планировщикам для
            визуализации альтернативных последовательностей, основанных на альтернативных вариантах достижения плановых
            показателей. Однако эти инструменты основаны на уже имеющейся информации планирования и могут быть
            использованы лишь для графического отображения плана проекта.</p>
        <p data-id="499">В последнее время активно используются модели на основе BIM [6], которые доказали свои
            преимущества по сравнению с предшествующими инструментами поддержки планирования. Отличительной особенностью
            является возможность использования информации из модели для генерации длительности за счет нормы выработки и
            выбранной технологии выполнения работ [7].</p>
        <p data-id="500">Использование информационных моделей позволит получить более точную информацию по сравнению с
            бумажной и/или графической о геометрии конструкций, данные для закупки материалов, требования для
            изготовления конструкций и производства работ [8]. BIM-модели — это не просто графические объекты, поскольку
            информация из подобной модели позволит автоматически создавать отчеты, выполнять анализ, моделировать план
            выполнения работ, эксплуатацию объектов и т. д. Тем самым участники реализации инвестиционно-строительных
            проектов получат информацию для принятия решения с учетом всех имеющихся данных.</p>
        <p data-id="501">Перспективным является на этапе строительства использование информационной модели [9] для
            имитационного моделирования с целью планирования и анализа процесса строительства здания. Кроме того, для
            такой сложной системы, как инвестиционно-строительный проект, необходимо обеспечить координацию участников.
            Анализ показал, что современные графики (календарно-сетевые, график Ганта и т. п.) не отображают
            пространственные данные, а при использовании сложной технологии при моделировании необходимо представлять
            информацию/узлы/элементы [9, 10]. BIM позволит это проработать и визуализировать. </p>
        <p data-id="502">Итак, выделим основные преимущества использования BIM на этапе строительства:</p>
        <p data-id="503"> • Снятие вопросов и внесение уточнений по проектным решениям в оперативном режиме времени.</p>
        <p data-id="504"> • Правильная организация строительства, предполагающая и оперативный контроль его
            выполнения.</p>
        <p data-id="505"> • Возможность реализации особого вида контроля при осуществлении строительства, в котором
            технология BIM играет ключевую роль и позволяет осуществлять проверку точности возведения строительных
            конструкций (на стройплощадке в результате множества причин выстраивается свой каркас здания, где могут
            возникать дополнительные провисания, напряжения, отклонения от вертикали, порой существенно меняющие
            расчетные характеристики объекта).</p>
        <p data-id="506"> • Снижение рисков срыва сроков строительства (за счет прогнозирования потенциальных проблем
            пространственной или временной координации на площадке).</p>
        <p data-id="507">Таким образом, для строительной компании информационная BIM-модель может стать адекватным
            современным требованиям инструментом планирования, управления и контроля за строительством. Оно использует
            данные [11], полученные по объемам, взятым из информационной модели (графики строительства, графики поставок
            материалов, дополнительные инструменты распределения работ и контроля актов выполненных работ
            субподрядчиков). С появлением информационного моделирования зданий процесс организации строительного
            производства станет более эффективным: информативнее, точнее и быстрее. Информационная модель может стать
            незаменимым инструментом оптимизации процесса строительства, управления и контроля за графиком выполнения
            работ, а также за расходованием средств и материалов.</p>
        <!--Абзац-->

        <!--Источники-->
        <div class="footnote" data-id="508">
            <p>Список литературы</p>
            <p>1. Маркелов В. М. Пространственная информация как фактор управления // Государственный советник. — 2013.
                — № 4. — с. 34–38.</p>
            <p>2. Яськова Н. Ю. Методологические проблемы синхронизации деятельности хозяйствующих субъектов в
                современных условиях // Научное обозрение. — 2013. — № 9. — с. 505–507.</p>
            <p>3. Lukmanova I. G., Yaskova N. Y. Hidden reserves of post-crisis development of construction industry //
                Procedia Engineering. — Vol. 165. — 2016. — pp. 1293–1299.</p>
            <p>4. Яськова Н. Ю. Стратегия пространственно-территориального девелопмента // Недвижимость: экономика,
                управление. — 2014. — № 1-2. — с. 52–61.</p>
            <p>5. Приказ Минстроя от 29 декабря 2014 г. № 926/пр «Об утверждении Плана поэтапного внедрения технологий
                информационного моделирования в области промышленного и гражданского строительства» [Электронный
                ресурс]. — Режим доступа: http://www.minstroyrf.ru/docs/2663/ (дата обращения: 28.03.2017).</p>
            <p>6. Талапов В. BIM: что под этим обычно понимают [Электронный ресурс]. — Режим доступа:
                http://isicad.ru/ru/articles.php?article_num=14078 (дата обращения: 28.03.2017).</p>
            <p>7. Яськова Н. Ю., Мурашова О. В. Актуальные аспекты и проблемы внедрения концепции информационного
                моделирования инвестиционно-строительной деятельности // Научное обозрение. — 2016. — № 9. — с.
                160–165.</p>
            <p>8. Яськова Н. Ю. Стратегия пространственно-территориального девелопмента // Недвижимость: экономика,
                управление. — 2014. — № 1-2. — с. 52–61.</p>
            <p>9. Яськова Н. Ю. Эволюция процессов развития инвестиционно-строительной деятельности // Вестник
                Иркутского государственного технического университета. — 2012. — № 1 (60). — с. 178–186.</p>
            <p>10. Charles M. Eastman. BIM Handbook: A Guide to Building Information Modeling for Owners, Managers,
                Designers, Engineers and Contractors // 2008. 11. Alan Edgar. National BIM Standard Version 1 Part 1 —
                Overview, Principles, &amp; Methodologies // 2007.</p>
        </div>

    </article>


</section>
