<section>
    <div class="heading" id="heading02">Диалог с властью</div>
    <!--Статья-->
    <article>

        <!----------------------------Шапка статьи-------------------------->

        <div class="article-header" data-id="509">

            <!--УДК-->

            <!--Заголовок-->
            <h2 id="article09">Михаил Мень: Надо привыкать жить в нормальных условиях</h2>

            <!--Анонс-->
            <!--Анонс-->

            <!--Авторы-->                                        <!--Авторы-->

            <!--Ключевые слова-->
            <!--Ключевые слова-->

            <div class="border"></div>

        </div>

        <!----------------------------Шапка статьи-------------------------->


        <!--Абзац-->
        <p data-id="510">В интервью РБК министр строительства РФ Михаил Мень рассказал о том, что происходит с реформой
            системы ценообразования в строительстве «400 Дней». Публикуем выдержку из этого интервью и некоторые
            комментарии экспертов.</p>
        <!--Абзац-->

        <!--Интервью - вопрос-->
        <div class="question" data-id="511">
            <p>— Насколько прозрачна строительная отрасль? Какие инструменты могут повысить прозрачность?</p>
        </div>
        <!--Интервью-->

        <!--Интервью - ответ -->
        <div class="answer" data-id="512">
            <p>— Мы сейчас работаем над очень серьезной государственной информационной системой — ГИС «Ценообразование».
                Сегодня, чтобы было понятно, существует два метода ценообразования в строительстве. Это
                индексно-базисный метод, то есть когда берется база и от нее соответствующие индексы. И есть
                современный, более продвинутый ресурсный метод, когда оценивается стоимость ресурсов.</p>
        </div>
        <!--Интервью-->


        <!--Интервью - ответ -->
        <div class="answer" data-id="513">
            <p>Сегодня мы продолжаем пока работать по принципам индексно-базисного метода, который хорош в момент
                стабильной экономики и малой инфляции. В советские годы эта система работала очень неплохо, но тогда
                вообще была другая система ценообразования. Ресурсный метод, к которому мы создадим предпосылки, создав
                эту государственно-информационную систему, оценивает и ежеквартально мониторит стоимость всех
                строительных ресурсов. Это и строительные материалы, и заработная плата в отрасли, услуги
                машиномеханизмов и плюс логистика. С сентября эта схема заработает. Ей смогут пользоваться не только
                участники бюджетного процесса, но и все люди, которые хотят что-либо построить. Система будет в открытом
                доступе в интернете. Это действительно полезная вещь для всех, и она сделает ценообразование прозрачным,
                но оно все равно будет приблизительное. Не надо забывать, что это стартовая цифра для проведения
                аукциона. После аукциона там уже будущие подрядчики, они уже будут принимать решение — идти на снижение
                или нет. Но рынок уже будет корректировать не от «палец-пол-потолок», а от нормальной более или менее
                стартовой стоимости.</p>
        </div>
        <!--Интервью-->


        <!--Абзац-->
        <p data-id="514"><em>Комментарий эксперта. Ресурсный метод известен десятки лет и успешно применялся еще в СССР,
            идеально подходит для плановой экономики, когда цены на строительные ресурсы устанавливаются жестко и нет
            возможности ими манипулировать. Если в рыночной системе при стабильной экономике и низкой инфляции (а именно
            так сейчас власти характеризуют экономику России) базисно-индексный «хорош», зачем вся эта реформа? Министр
            говорит о прозрачности, при этом, по его словам, ценообразование все равно останется приблизительным.
            Создается впечатление, что переход на ресурсный метод, открывающий возможности манипулировать ценами на
            конкретные строительные материалы, преследует скорее интересы отдельных производителей в строительной
            индустрии.</em></p>
        <!--Абзац-->

        <!--Интервью - вопрос-->
        <div class="question" data-id="515">
            <p>— А со стороны ФАС нет вопросов? Потому что фактически вы начинаете определять цену на целый рынок?</p>
        </div>
        <!--Интервью-->

        <!--Интервью - ответ -->
        <div class="answer" data-id="516">
            <p>— Конечно, мы это обсуждали с нашими коллегами из ФАС. Они приветствуют и поддерживают создание такой
                ГИС. Мы ничего, собственно говоря, не монополизируем, мы просто собираем информацию о производителях в
                единую базу, из которой будет всем понятно и очевидно, сколько стоит тот или иной ресурс в конкретном
                регионе.</p>
        </div>
        <!--Интервью-->


        <!--Абзац-->
        <p data-id="517"><em>Комментарий эксперта. Суть ресурсного метода в том, что цена каждого строительного ресурса
            — непосредственно подставляться в смету. И цена эта будет взята из ГИС «Ценообразование», как следует из
            слов министра. Так что это фактически ценовой диктат.</em></p>
        <!--Абзац-->

        <!--Интервью - вопрос-->
        <div class="question" data-id="518">
            <p>— А кто занимается созданием технической базы?</p>
        </div>
        <!--Интервью-->

        <!--Интервью - ответ -->
        <div class="answer" data-id="519">
            <p>— Главгосэкспертиза. Это главный наш подведомственный институт, где профессиональные эксперты. Поэтому
                здесь все в одном мощном подвиде сосредоточено. Я думаю, что в сентябре мы сможем презентовать эту
                ГИС.</p>
        </div>
        <!--Интервью-->


        <!--Абзац-->
        <p data-id="520"><em>Комментарий эксперта. ФАУ «Главгосэкспертиза России» не является институтом в понимании
            научно-исследовательской организации. А «профессиональные» эксперты представляют собой бывший коллектив ФАУ
            «ФЦЦС» под руководством Ирины Лищенко. Сомнительные «достижения» г-жи Лищенко и ее коллектива в реформе
            ценообразования хорошо знает вся страна.</em></p>
        <!--Абзац-->

        <!--Интервью - вопрос-->
        <div class="question" data-id="521">
            <p>— Бизнес как на это реагирует?</p>
        </div>
        <!--Интервью-->

        <!--Интервью - ответ -->
        <div class="answer" data-id="522">
            <p>— Большинство еще даже не поняли, что мы делаем. Только сейчас начинают понимать, что будет происходить и
                как надо будет готовиться к тендерным процедурам. Но на самом деле серьезные сметчики, они все понимают
                и, в общем-то, все понимают, что мы движемся в правильном направлении. И метод оценки стоимости
                ресурсов, он более правильный.</p>
        </div>
        <!--Интервью-->


        <!--Абзац-->
        <p data-id="523"><em>Комментарий эксперта. Достаточно ознакомиться с информацией на профессиональных форумах
            сметчиков, где обсуждается реформа ценообразования в строительстве (1, 2, 3). Серьезные сметчики выражаются
            весьма грубо относительно деятельности Минстроя и в отличие от мнения министра ВСЕ понимают.</em></p>
        <!--Абзац-->

        <!--Интервью - вопрос-->
        <div class="question" data-id="524">
            <p>— Крупные игроки согласны на ту оценку, которую вы приво&shy;дите?</p>
        </div>
        <!--Интервью-->

        <!--Интервью - ответ -->
        <div class="answer" data-id="525">
            <p>— Любой человек сможет с минимальными знаниями быть немного сметчиком. Это для строительного бизнеса
                сложно, но надо привыкать жить в нормальных условиях. Не пытаться обмануть, а пытаться заработать. В
                принципе маржинальность в строительном бизнесе хорошая.</p>
        </div>
        <!--Интервью-->


        <!--Абзац-->
        <p data-id="526"><em>Комментарий эксперта. «Любой человек может быть немного сметчиком» — слова работника
            культуры, который стал немного министром строительства ))).</em></p>
        <!--Абзац-->

        <!--Интервью - вопрос-->
        <div class="question" data-id="527">
            <p>— То есть вы сказали сейчас, что маржинальность в строительном бизнесе завышенная?</p>
        </div>
        <!--Интервью-->

        <!--Интервью - ответ -->
        <div class="answer" data-id="528">
            <p>— В ряде случаев, конечно. Есть индексно-базисный метод, и он бывает необъективен как в одну, так и в
                другую сторону. Потому что, если на рынке произошел скачок по какому-то отдельному материалу — например,
                в один период был скачок по арматуре, а индексно-базисный метод он считал ровно, — то у строителей была
                проблема в другую сторону, у них была заниженная смета, и у них не было основания ее поднимать.</p>
        </div>
        <!--Интервью-->


    </article>


</section>
