a.admin_logo {
  display: block;
  height: 67px;
  width: 268px;
  padding: 0;
  margin: 0;
  text-indent: -999px;
  overflow: hidden;
  background: url(./img/logo.svg) center center no-repeat;
}

div.admin_logo_container {
  background-color: #e5e5e5;
  padding: 4px;
}
