// Variables
/* ---------------------------------------------- */
@import '_variables';
$brand-primary: $blue;
$brand-success: $green;
$brand-danger: $red;
$brand-warning: $yellow;
$brand-info: $blue;
/* ---------------------------------------------- */
// Toast
@import '~toastr/build/toastr.min.css';
.toast {
  font-size: 14px;
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
  user-select: none;
}
.toast-top-right {
  right: 25px;
}
#toast-container > div {
  &:hover {
    box-shadow: none;
  }
}
/* ---------------------------------------------- */
.btn {
  outline: none;
}
@import './loader';
@import './spacing-helpers';

.modal-body input.is-danger {
  border: solid 1px #dc3545 !important;
}
.modal {
  .form-group {
    position: relative;
    .help {
      font-size: 12px;
      position: absolute;
    }
    input {
      margin-bottom: 0px;
    }
  }
}
.form-control:focus {
  box-shadow: none !important;
  border-color: #80bdff !important;
}
input[type="checkbox"].is-danger + label::before {
  border: solid 1px $red !important;
}

// Promo
@import 'promo';
