/*--Личный кабинет--*/
.account-links{text-align: center; margin-top: 20px; margin-bottom: 27px; color: #728594; font-size: 10pt;}
.account-links a:link, .account-links a:visited{color: #39444f;}
.account-links a:hover{text-decoration: underline;color: #000;}
.signin{
    background: url(../img/sprite-min.png);
    background-repeat: no-repeat;
    background-position: -6px -3px;
    padding-left: 14px;
    }
.hdel{
    color: #728594;
    margin: 0 10px;
}
.account-menu{
    background: #e3e6e9;
    padding: 20px;
    margin: 0 0 45px 0;
}
.account-menu ul{
    list-style-type: none;
}
.account-menu ul li{
    margin-bottom: 10px;
    padding-left: 34px;
    line-height: 24px;
}
.account-menu ul li{
    background: url(../img/sprite-min.png);
    background-repeat: no-repeat;
}

.account-menu ul li.history{background-position: -2px -120px;}
.account-menu ul li.incart{background-position: -2px -168px;}
.account-menu ul li.personal{background-position: -2px -264px;}
.account-menu ul li.mysubs{background-position: -2px -216px;}
.account-menu ul li.oldsite{background-position: -2px -312px;}

.account-menu ul li.active.history{background-position: -2px -144px;}
.account-menu ul li.active.incart{background-position: -2px -192px;}
.account-menu ul li.active.personal{background-position: -2px -288px;}
.account-menu ul li.active.mysubs{background-position: -2px -240px;}
.account-menu ul li.active.oldsite{background-position: -2px -336px;}

.account-menu ul li a:link, .account-menu ul li a:visited{
    color: #000 !important;
}
.account-menu ul li a:hover{
    font-family: 'OpenSans-Bold';
    text-decoration: none;
    color: #485662 !important;
}
.account-menu ul li.active a{
    font-family: 'OpenSans-Bold';
    color: #e63201 !important;
}
.account-menu ul li:hover{
    background-position: bottom left no-repeat;
}
.acc-table-wrapper{
    display: table;
    width: 100%;
}
.order-info-title{
    width: 220px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.order-status{
    /*float: right;*/
    position: absolute;
    margin-top: -23px;
    margin-right: -100px;
}
.order-info .btn, .personal-form .btn{
    float: right;
}

/*Таблица аккаунта*/
.acc-table-row{
    display: table-row;
}

.acc-table-item{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #c7c7c7;
    padding: 20px 5px;
}

.acc-table-item-img img{
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:    4px 4px 10px 0px rgba(0, 0, 0, 0.3);
     box-shadow:        4px 4px 10px 0px rgba(0, 0, 0, 0.3);
     border: 1px solid #d3d4d4;
}
.acc-table-item-title{
    text-align: left;
    padding: 20px 40px;
}
.acc-table-item-about{
    vertical-align: top;
    text-align: left;
}
.acc-table-item-about h4, .cart-item-subscr-info{
    margin-bottom: 12px;
}
.acc-table-item-about .price{
    font-family: 'OpenSans-Bold';
    color: #e63201;
}
.acc-table-item img{
    width: 90px;
}
.acc-table-row-header{
    font-size: 10pt;
    color: #c7c7c7;
}
.acc-table-row-header .acc-table-item{
    padding: 20px 5px 10px 5px;
}
/*Таблица аккаунта*/

.subscr-table-readmore a{
    font-size: 10pt;
    text-decoration: underline;
}
.subscr-table-readmore a:link, .subscr-table-readmore a:visited{
    color: #728594;
}
.subscr-table-readmore a:hover{
    color: #000;
}
.account-menu li.active{
    color: #e63201;
}
.status{
    border-radius: 3px;
    padding: 1px 6px;
    color: #fff;
    font-size: 10pt;
}
.title-holder{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.spanh3{
    font-size: 16pt;
    line-height: 17px;
}
.section-title .status{
    margin-left: 10px;
    font-family: 'OpenSans-Regular';
    letter-spacing: normal;
    line-height: 17px;
}
.nomen{
    margin-right: 8px;
}
.order-information-block{
    margin-bottom: 22px;
}
.order-information-block div{
    margin-bottom: 14px;
}
.order-information-block ul{
    list-style-type: none;
}

.status-holder{
    position: absolute;
    top: 0px;
    right: 0px;
}

.status-completed{background: #297fc3;}
.status-payed{background: #7fc327;}
.status-wait{background: #ee9123;}
.status-cancelled{background: #7e8f9d;}

.form-label{
    line-height: 30px;
    padding-right: 12px;
}
.form-label-long{
    line-height: 18px;
}
form{
    margin-top: 20px;
}
.search-holder-adapt form{
    margin-top: 0px;
}

.search-holder-adapt .form-field{border:none;}
.form-wrapper{
    display: table;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
}
.form-buttons-holder{
    width: 80%;
    margin-left: 10%;
}
.form-row{
    width: 100% !important;
    display: table-row;
}
.form-label, .form-holder{
    display: table-cell;
    vertical-align: top;
    padding: 10px 10px 10px 0;
}
.form-holder{
    width: 80%;
}
.form-label{
    text-align: right;
    width: 30%;
}
.form-row-button{
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    padding: 18px;
    background: #e3e6e9;
    height: 81px;
}
.form-row-button button{
    float: right;
}
.personal-form textarea{
    height: 120px;
    resize: none;
}
.personal-form .unit-version{
    margin-top: 5px;
    margin-bottom: 0;
}
.personal-form .unit-version-long-label{
    margin-top: 10px;
    margin-bottom: 0;
}
.personal-form .form-field{
    padding-left: 10px;
}
.form-container{
    margin-top: 18px;
}
.profile-legend{
    text-align: center;
    font-size: 9pt;
}
.profile-legend .osital{
    margin: 0 8px 0 2px;
}
.form-subheader{
    margin: 10px 0;
}
.payment_type{
    /*bottom: 10px;*/
    font-size: 10pt;
    margin: 14px 0;
}
.payment_type span{
    font-family: 'OpenSans-Bold';
    margin-left: 5px;
}
.payment_type_title{
    font-family: 'OpenSans-Regular';
    text-transform: uppercase;
    color: #8d8d8e;
    text-align: center;
    margin-left: 0px !important;
}
/*--Личный кабинет--*/

/*--Страница Мои заказы--*/
.acc-table-wrapper-orders .subscr-table-readmore{
    width: 15%;
}
.acc-table-wrapper-orders .acc-table-item-type-name{
    width: 50%;
}
.acc-table-wrapper-orders .acc-table-item-duo{
    width: 17%;
}
.order-info .acc-table-item-duo{
    width: 18%;
}
.subtable-cell-type{
    width: 35%;
}
.subtable-cell-name{
    width: 65%;
    text-align: left !important;
}
.subtable{
    display: table;
    height: 100%;
    width: 100%;
}
.subtable-row{
    display: table-row;
}
.subtable-cell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 20px 5px;
}
/*--Страница Мои заказы--*/

@media (max-width: 1000px) {
    .ftmenu .name_group{display:none;}
}



.news-cat-date-holder{
    margin-bottom: 8px;
}
.articles-text-holder{
    margin-bottom: 12px;
}
.articles-inner h3.section-title{
    letter-spacing: 0px;
}
.subscr-info span{
    color: #626972;
    margin-right: 4px;
}
.filter-sort{
    float: right;
}
.filter-sort select{
    padding-left: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    width: 200px;
}
.filter-sort span{
    float: left;
    line-height: 33px;
    font-family: 'OpenSans-Bold';
    margin-right: 8px;
}
.filter-sort .select-holder{
   float: left;
}
.article-search{
    background: #e3e6e9;
    padding: 21px;
}
.article-search .search-holder{
    background: #fff;
    width: 100%;
    margin-left: 0;
}
.article-search-wrapper{
    background: #e3e6e9;
}
.block-sorting{
    margin-bottom: 60px;
}
.lk-menu{
    background: #e3e6e9;
    padding: 20px;
    margin: 43px 0 45px 0;
}
.author, .whatmag{
    margin: 8px 0;
}
.button-right-holder{
    text-align: right;
}
.number-date .form-field{
    float: left;
    padding-left: 8px;
}
.number-date input, .select-holder-middle{
    width: 70%;
    margin-right: 0;
}
.sorting select{
    padding-left: 4px;
     -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    background: none;
    border: none;
}
.author-label{
    font-family: 'OpenSans-Bold';
    margin-bottom: 8px;
}
.select-holder{
   outline: none;
   border:1px solid #bcbcbc;
   border-radius:7px;
   background: #fff url(../img/select-arrow.png) right center no-repeat;
}
.select-holder-min{
   outline: none;
   border:1px solid #bcbcbc;
   border-radius:7px;
   background: #fff url(../img/select-arrow.png) right center no-repeat;
   float: left;
   width: 25%;
   margin-right: 5%;
}
.select-holder-middle{
   outline: none;
   border:1px solid #bcbcbc;
   border-radius:7px;
   background: #fff url(../img/select-arrow.png) right center no-repeat;
   float: left;
   width: 70%;
   margin-right: 0%;
}
.mymags-group{
    margin-bottom: 60px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.mymags-group>h4{
    width: 100%;
}
.publication{
    margin-bottom: 24px;
}
.group-table .acc-table-item{
    vertical-align: top;
}
.group-table-header{
    border-bottom: 1px solid #8d8d8e;
    margin-bottom: 18px;
    padding-bottom: 14px;
    color: #8d8d8e;
    text-transform: uppercase;
}
.group-table{
    border-bottom: 1px solid #8d8d8e;
    margin-bottom: 18px;
}
.group-table:last-child{
    border-bottom: none;
}
.group-table-header, .group-table, .in-group-table{
    width: 100% !important;
}
.group-table-header .group-table-item:nth-child(1){float: left; width: 30%;}
.group-table-header .group-table-item:nth-child(2){float: left; width: 30%;}
.group-table-header .group-table-item:nth-child(3){float: left; width: 18%;}
.group-table-header .group-table-item:nth-child(4){float: left; width: 18%;}
.group-table-header .group-table-item:nth-child(5){float: left; width: 4%;}

.group-table>.group-table-item:nth-child(1){float: left; width: 30%;}
.group-table>.group-table-item:nth-child(2){float: left; width: 70%;}

.in-group-table .group-table-item:nth-child(1){float: left; width: 43%;}
.in-group-table .group-table-item:nth-child(2){float: left; width: 25%;}
.in-group-table .group-table-item:nth-child(3){float: left; width: 25%;}
.in-group-table .group-table-item:nth-child(4){float: left; width: 7%;}

.addsubscriber{
    text-align: right;
    margin-bottom: 48px;
}
.addsubscriber a{
    background: #e3e6e9 url(../img/sprite-min.png) 4px -730px no-repeat;
}
.addsubscriber a:link, .addsubscriber a:visited{
    font-family: 'OpenSans-Bold';
    border-radius: 7px;
    line-height: 46px;
    padding: 12px;
    padding-left: 34px;
}
.modal-body .sorting{
    margin-bottom: 23px;
}
.acc-table-item-mags{
    text-align: right;
}
.acc-table-item-mags a{
    font-family: 'OpenSans-Bold';
}
.bank-filters{
    display: none;
}
.bank-filters .sorting{
    width: 30%;
    margin-right: 3%;
    float: left;
}
.accordeon-filter{
    padding: 0 20px;
    color: #555;
    display: none;
}
.accordeon-filter span{
    padding-right: 20px;
    background: url(../img/accordeon-arrow-opened.png) right center no-repeat;
    transition: 0.2s;
}
.accordeon-filter.collapsed span{
    padding-right: 20px;
    background: url(../img/accordeon-arrow-closed.png) right center no-repeat;
    transition: 0.2s;
}
.accordeon-bank-page{
    margin-bottom: 24px;
    padding-bottom: 8px;
}
.cat-button{
    /*display: none;*/
    float: none;
}
.number-date input{
   outline: none;
   border:1px solid #bcbcbc;
   border-radius:7px;
   height: 36px;
}
.mymags-item{
    float: left;
    width: 25%;
    padding: 0 1%;
}
.mymags-item-image{
    position: relative;
    width: 100%;
    height: 100%;
}
.mymags-hover-div{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: -73%;
}
::-webkit-input-placeholder {
   color: #555;
}
:-moz-placeholder { /* Firefox 18- */
   color: #555;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #555;
}
:-ms-input-placeholder {
   color: #555;
}
.article_for_sale_info, .article_for_sale_buy{
   float: left;
}
.article_for_sale_info{
    width: 80%;
}
.article_for_sale_buy{
    text-align: right;
    width: 20%;
}

.account-menu ul li.history{background-position: -2px -120px;}
.account-menu ul li.incart{background-position: -2px -168px;}
.account-menu ul li.personal{background-position: -2px -264px;}
.account-menu ul li.mysubs{background-position: -2px -216px;}
.account-menu ul li.oldsite{background-position: -2px -312px;}
.account-menu ul li.mymags{background-position: -2px -578px;}
.account-menu ul li.active.history{background-position: -2px -144px;}
.account-menu ul li.active.incart{background-position: -2px -192px;}
.account-menu ul li.active.personal{background-position: -2px -288px;}
.account-menu ul li.active.mysubs{background-position: -2px -240px;}
.account-menu ul li.active.oldsite{background-position: -2px -336px;}
.account-menu ul li.mymags.active{background-position: -2px -603px;}
.account-menu ul li.group{background-position: -2px -680px;}
.account-menu ul li.group.active{background-position: -2px -704px;}
.account-menu ul li.myarticles{background-position: -2px -628px;}
.account-menu ul li.myarticles.active{background-position: -2px -653px;}

.account-menu ul li a:link, .account-menu ul li a:visited{
    font-family: 'OpenSans-Semibold';
    color: #000;
}
.account-menu ul li a:hover{
    font-family: 'OpenSans-Semibold';
    text-decoration: none;
    color: #728594;
}
.account-menu ul li.active a{
    font-family: 'OpenSans-Semibold';
    color: #e63201 !important;
}

.account-menu ul li.mymags{
    background-position: -2px -312px;
}
.account-menu ul li.myarticles{background-position: -2px -628px;}
.account-menu ul li.group{background-position: -2px -678px;}
.account-menu ul li.mymags.active{background-position: -2px -337px;}
.account-menu ul li.myarticles.active{background-position: -2px -653px;}
.account-menu ul li.group.active{background-position: -2px -703px;}

#article_for_sale{
    margin: 23px 0;
}
#article_for_sale p{
    color: #728594;
    font-family: 'OpenSans-Italic';
}
.sorting{
    margin-bottom: 23px;
}
.mymags-item{
    margin: 18px 0;
}
.mymags-button{
    position: absolute;
    margin-top: -65%;
    margin-left: 20%;
}
.mymags-item-sale .mymags-number{
    color: #7e8f9c;
}
.mymags-item-sale img{
    opacity: 0.5;
}
.mymags-item img{
    width: 100%;
}
.mymags-number{
    text-align: center;
    margin-bottom: 8px;
}
.type{
    margin-bottom: 8px;
}
.order-footer{
    padding-top: 24px;
}
.incut > .incut {
    padding: 0px;
    margin: 0px;
}


.mb50{
    margin-bottom: 50px;
}
.type{
    margin-bottom: 8px;
}
.acc-table-item-about h4, .cart-item-subscr-info {
    margin-bottom: 12px;
}
.subscr-info span {
    color: #626972;
    margin-right: 4px;
}
.acc-table-item-mags {
    text-align: right;
}
.acc-table-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-bottom: none;
    padding: 20px 5px;
}
.acc-table-item-mags a {
    font-family: 'OpenSans-Bold';
}
a:link, a:visited {
    color: #000;
    text-decoration: none;
}
a, p, h3, h4, ul {
    padding: 0;
    margin: 0;
}
.item-block{
    border-bottom: 1px solid #c7c7c7;
    padding-bottom: 20px;
    padding-top: 20px;
}
.max-width{
    width: 100%;
}
.show-results input[type="checkbox"],
.show-results input[type="radio"]
{
    display: inline;
    display: initial;
}
.show-results input[type="text"],
.show-results input[type="password"],
.show-results input[type="email"]
{
    border: initial;
}
