img {
  max-width: 100%;
}

.issue-line .del-fav-this {
  margin: 0 20px;
}

.bx-core-window input[type="checkbox"],
.bx-core-window input[type="radio"],
#zayavka_result input[type="checkbox"],
#zayavka_result input[type="radio"] {
  display: initial;
  height: initial;
}

.article-info-col {
  flex: 1 1 auto;
}

#send_article input[type="checkbox"],
#send_article input[type="radio"],
#send_article input[type="text"],
#send_article input[type="password"],
#send_article input[type="email"] {
  display: inline-block;
  border: 1px solid #ced4da;
}

@media (min-width: 768px) {
  .cart-holder .dropdown-menu {
    width: 400px;
    margin-left: -300px;
  }
}

@media (max-width: 768px) {
  .cart-holder .dropdown-menu {
    width: 90vw;
    margin-left: -82vw;
  }
  .cart-holder .dropdown-menu a {
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .sidebar-sections-menu ul {
    justify-content: space-around;
  }
  .sidebar-sections-menu ul li {
    width: auto;
    margin-right: 15px;
  }
  .mysearches .modal-content {
    max-height: 90vh;
    overflow-y: auto;
  }
  .mysearches .searches-title {
    margin-bottom: 35px;
  }
}

.cart-holder.active .dropdown-menu {
  display: block;
}

ul.orderStep li.active {
  font-weight: bold;
}

.has-error {
  border: 1px solid red;
}

.article-item {
  width: 100%;
}
